<!DOCTYPE html> <!-- page257 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          filter: grayscale(.8): Use a value from 0 to 1 or 0% to 100% to apply varying amounts be fully grayscale: of grayscale to the element. A value of 0 would be no grayscale, while a value of 1 would be fully grayscale:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.16: A grayscale filter applied
        </p>
      </section>
      <ul>
        <li>
          filter: hue-rotate(25deg): Use a value between 0 and 360 degrees to adjust the hue of the colors around the color wheel. You can use a negative value to move the "wheel" backward, and a number greater than 360 just spins it around more! Only really useful if you need to programmatically keep adding to the hue:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.17: A hue-rotate filter applied
        </p>
      </section>
    </div>
  </div>
  
</body>
</html>
