<!DOCTYPE html> <!-- page265 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.25: An inset clip-path applied
        </p>
      </section>
      <h2>
        clip-path with polygon
      </h2>
      <p>
        The polygon () function for clip-path allows us to describe a simple shape with a series of com-ma-separated x- and y-coordinates. This is what a triangle written with the polygon function looks like:
      </p>
      <code>
        .clip-polygon {
        <br><br>
          clip-path: polygon (50% 60px, 100% calc (100% - 40рх), 0% calc (100% - 40px)) ;
        <br><br>
        }
      </code>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.26: A clip-path applied with a polygon
        </p>
      </section>
    </div>
  </div>
  
</body>
</html>
