<!DOCTYPE html> <!-- page263 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.23: A circular clip-path applied
        </p>
      </section>
      <p>
        Notice the at keyword in there? That's needed to communicate that the lengths after relate to positioning and not size.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          It's important to know that pointer events don't occur for areas of an element that have been clipped by a clip mask! To extend our "cutting a shape from a piece of paper" analogy, the bits outside a clip mask are like the discarded pieces of paper that have been cut away. This is useful because you won't be getting clicks on an area where you can't see the subject.
        </p>
      </section>
       
    </div>
  </div>
  
</body>
</html>
