<!DOCTYPE html> <!-- page252 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        You'll see something like this in the browser:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.10: Multiple background images on a single element
        </p>
      </section>
      <p>
        We have the stars image at the bottom, then the moon, and finally an image of the Rosetta space probe on top. View this for yourself in example_08-06. Notice that if you adjust the browser window, the responsive length units work well (max, vh, and vw) and retain proportion, while pixel-based ones do not.
        <br><br>
        Where no background-position is declared, the default position of top left is applied.
      </p>
      <h2>
        Background shorthand
      </h2>
      <p>
        There is a shorthand method of combining the different background properties together.
        <br><br>
        However, my experience so far has been that it produces erratic results. Therefore, I recommend the longhand method and that you declare the multiple images first, then the size, and then the position.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          You can read the W3C documentation on multiple background elements here: https://www.w3.org/TR/css-backgrounds-3/.
        </p>
      </section>
    </div>
  </div>
  
</body>
</html>
