<!DOCTYPE html> <!-- page244 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <section>
        <object>
          icon here
        </object>
        <p>
          You can read the W3C specification for radial background gradients at https://www. w3. org/TR/css-images-3/#radial-gradients.
        </p>
      </section>
      <section>
        <object>
          icon here
        </object>
        <p>
          The cheat's way to perfect CSS linear and radial gradients
          If defining gradients by hand seems like hard work, there are some great online gradient generators. My favorite is https://www.colorzilla.com/gradient-editor/. It uses a graphics editor-style GUI, allowing you to pick your colors, stops, gradient style (linear and radial gradients are supported), and even the color space (hex, RGB(A), HSL(A)) you'd like the final gradient in. There are also loads of preset gradients to use as starting points. Still not convinced? How about the ability to generate a CSS gradient based on the gradient values in an existing image? Thought that might swing it for you.
        </p>
      </section>
      <h2>
        Conic gradients
      </h2>
      <p>
        Where radial gradients pass through any color stops on their way out from a center point, conic gradients pass through any color stops around a center point. We set an origin point for the gradient and then specify the color stops as angles around that center point. This accounts for the fact that these types of gradients are also known as angle gradients.
        <br><br>
        Here is an example conic gradient going from white to green and back to white:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.5: A conic gradient goes around a point, instead of outward from a point
        </p>
      </section>
    </div>
  </div>
  
</body>
</html>
