<!DOCTYPE html> <!-- page259 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          filter: saturate(15%): Use a value from ® to 1 or 0% to 100% to desaturate an image and anything above 1/100% to add extra saturation:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.20: A saturate filter applied
        </p>
      </section>
      <ul>
        <li>
          filter: sepia(.75): Use a value from 0 to 1 or 0% to 100% to make the element appear with a more sepia color. 0/0% leaves the element as-is, while anything above that applies greater amounts of sepia, up to a maximum of 1/100%:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.21: A sepia filter applied
        </p>
      </section>
    </div>
  </div>
  
</body>
</html>
