<!DOCTYPE html> <!-- page238 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Here is the effect of each (element with a spread value on the right):
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.2: With spread, you can control how much shadow leaks out
        </p>
      </section>
      <p>
        The spread value lets you extend or contract the shadow in all directions by the amount specified In this example, a negative value is pulling the shadow back in all directions. The result is that we can just see the shadow at the bottom of the right example, instead of seeing the blur "leak" out on all sides.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          You can read the W3C specification for the box-shadow property here: https:// www. w3. org/TR/css-backgrounds-3/#the-box-shadow.
        </p>
      </section>
      <p>
        Right, so that's shadows. We will go on to deal with more shadows when we look at drop-shadow as part of CSS filters. For now, let's move on to gradients.
      </p>
      <h2>
        Background gradients
      </h2>
      <p>
        In days gone by, to achieve a background gradient on an element, it was necessary to tile a thin, graphical slice of the gradient. It was a pain to tweak as it meant round trips into a graphics ap-plication, and then when a site was live, you would often experience a flash of unloaded gradient while the background image was fetched.
        <br><br>
        Thankfully, such hassle is now nothing more than a memory; with a CSS background- image gradi-ent, things are far more flexible. CSS now enables us to create linear, radial, and conic background gradients, and repeating versions of each. Let's look at how we can define them.
      </p>
    </div>
  </div>
  
</body>
</html>
