<!DOCTYPE html> <!-- page241 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Here's how that linear -gradient renders:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.3: You can add as many stops as you like to a linear gradient
        </p>
      </section>
      <p>
        In this example (example_08-03), a direction has not been specified, so the default top-to-bottom direction applies.
        <br><br>
        Color stops inside a gradient are written comma-separated and defined by giving first the color, and then the position of the stop. It's generally advisable not to mix units in one notation, but you can. You can have as many color stops as you like and colors can be written as a keyword, hex, RGB, HSL, or any other color format we looked at in the previous chapter.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          You can read the W3C specification for linear background gradients at https:// www. w3. org/TR/css-images-3/#linear-gradients.
        </p>
      </section>
      <p>
        Having covered linear background gradients, let's now check out radial background gradients.
      </p>
      <h2>
        Radial background gradients
      </h2>
      <p>
        It's equally simple to create a radial gradient in CSS. These typically begin from a central point and spread out smoothly in an elliptical or circular shape.
      </p>
    </div>
  </div>
  
</body>
</html>
