<!DOCTYPE html> <!-- page271 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Then, we add some text on top that you can scroll to see mix-blend-mode in effect. In this example. we have used overlay, for no reason other than I thought it worked best. If you open the example along with your developer tools, you can cycle through the other possibilities. It's perhaps redundant to say so, but the options themselves will have different effects, depending on the foreground and background they are being applied to.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          The specification for mix-blend-mode is the Compositing and Blending Level 1 spec-ification: https: //www.w3.org/TR/compositing-1/#mix-blend-mode.
        </p>
      </section>
      <h2>
        Summary
      </h2>
      <p>
        In this chapter, we've looked at a selection of the most useful CSS features for creating lightweight aesthetics in responsive web designs. CSS's background gradients curb our reliance on images for background effects.
        <br><br>
        We considered how they can be used to create infinitely repeating background patterns. We've also learned how to use text shadows to create simple text enhancements, and box shadows to add shadows to the outside and inside of elements.
        <br><br>
        We've also looked at CSS filters. They allow us to achieve even more impressive visual effects with CSS alone and can be combined for truly impressive results.
        <br><br>
        In the last part of this chapter, we looked at creating masking effects with both images and clipping paths.
        <br><br>
        We've added some considerable capabilities to our toolbelts! We will come back to the fancier CSS effects in Chapter 11, Transitions, Transformations, and Animations. But, before that...
        <br><br>
        In the next chapter, we're going to turn our attention to responsive images. If you work with image-heavy projects, you'll want to pay close attention. Using the right image for the right job can save users time and money. And using the right syntax to deliver the right image makes sure they get it!
      </p>
    </div>
  </div>
  
</body>
</html>
