<!DOCTYPE html> <!-- page256 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          filter: brightness (2): With brightness, a value of 1 or 100% is normal; less than that, such as 0.5 or 50%, darkens, and more, such as 200% or 2, lightens:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.14: A brightness filter applied
        </p>
      </section>
      <ul>
        <li>
          filter: contrast (2): A value of 1 or 100% is normal; less than that, for example, 0.5 or 50%, reduces contrast; and more, such as 200% or 2, increases it:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.15: A contrast filter applied
        </p>
      </section>
      <ul>
        <li>
          filter: drop-shadow (4px 4px 6px #333): We looked at drop-shadow in detail previously.
        </li>
      </ul>
    </div>
  </div>
  
</body>
</html>
