<!DOCTYPE html> <!-- page258 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          filter: invert (75%): Use a value from ® to 1 or 0% to 100% to define the amount the element has its colors inverted:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 8.18: An invert filter applied
        </p>
      </section>
      <ul>
        <li>
          filter: opacity (50%): Use a value from ® to 1 or 0% to 100% to alter the opacity of the element. 1 or 100% is fully opaque, while 0 or 0% would be full transparency. This is similar to the opacity property you will already be familiar with. However, filters, as we shall see, can be combined, and this allows opacity to be combined with other filters in one go:
        </li>
      </ul>
      <section>
        <object>
          img here
        </object>
        <p>

        </p>
      </section>
      <!-- continue this-->
    </div>
  </div>
  
</body>
</html>
