<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h1>
        8
      </h1>
      <h1>
        Stunning Aesthetics with CSS
      </h1>
      <p>
        In this chapter, we are going to look at a selection of CSScapabilities for enriching your designs. Every year that passes,CSS introduces more features that enable us to do in code what waspreviously only possible with an image editor.
        <br><br>
        Replacing images with effects in code is usually a good thing. Notonly does it tend to make things more maintainable and flexible,but it also results in less page "weight" for the end user, withimages almost always producing a far greater file size than thecomparable code.
      </p>
      <ul>
        <li>
          How to create text shadows
        </li>
        <li>
          How to create box shadows
        </li>
        <li>
          How to make linear and radial gradients
        </li>
        <li>
          How to make conic gradients
        </li>
        <li>
          How to use multiple backgrounds
        </li>
        <li>
          Using CSS background gradients to make patterns
        </li>
        <li>
          How to implement high-resolution background images with media queries
        </li>
        <li>
          How to use CSS filters (and their performance implications)
        </li>
        <li>
          Clipping with clipping paths
        </li>
        <li>
          Masking elements with image masks
        </li>
        <li>
          Mixing the colors of elements with mix-blend-mode
        </li>      
      </ul>

       
    </div>
  </div>
  
</body>
</html>
