<!DOCTYPE html> <!-- page366 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Summary
      </h2>
      <p>
        We've had a good look at custom properties in this chapter, and considered ways in which they can be set and read. We have learned how custom properties respect the cascade, inheriting values from their parents, a feature that can be leveraged to our advantage. We have also considered the fact that if we find ourselves working with web components, custom properties provide a means of crossing the usually impenetrable style boundary inside a component. We also looked at environment variables, a specific kind of custom property that lets us deal with the (clears throat) "practicalities" of notches and other peculiarities of specific hardware.
      <br><br>  
        In the second half of the chapter, we also looked at CSS mathematical functions. From ones you have perhaps looked at before, such as calc(), to real time-saving functions like clamp (), a function that is tailor-made to solve responsive sizing challenges.
      <br><br>  
        We've spent a bit of time together at this point so I feel safe enough to confess something. It's about forms. If there's one area of site design that I always avoid where possible, it's making forms. I don't know why; I've just always found making them a tedious and largely frustrating task. Imagine my joy when I learned that HTML5 and CSS can make the whole form building, styling, and even validating (yes, validating!) process easier than ever before. I was quite joyous.
        As joyous as you can be about building web forms, that is. In the next chapter, I'd like to share this knowledge with you.
      </p>
      <h2>
        Join our book's Discord space
      </h2>
      <p>
        Still struggling with custom properties or CSS functions? Join the book's Discord workspace to discuss all your responsive web design concerns directly with the author and interact with other readers:
      </p>
      <section>
        <p>
          https://packt.link/RWD4e
        </p>
        <object>
          qr code
        </object>
      </section>

       
    </div>
  </div>
  
</body>
</html>
