<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        12
      </h2>
      <h2>

      </h2>
      <p>
        Some years ago, I wrote a book about Sass, a superset language for CSS. One of the main selling points of Sass, alongside things like nesting - which we will look at later in the book - was that it allowed you to store oft-used values as variables. Things like colors could be named more simply as words rather than hex or RGB values, and that allowed for far easier reuse of those values.
      <br><br>
        Some years later, CSS got custom properties, which at first glance seemed like nothing more than a way to have variables in CSS, without needing a superset language like Sass. It turns out that CSS custom properties are far more powerful than Sass variables. So powerful, in fact, that a good share of this chapter is largely dedicated to them.
      <br><br>
        Another, newer, CSS addition that goes hand in hand with custom properties is the ability to manipulate values, including custom properties, with mathematical functions. Exploring these functions will also form a substantial part of this chapter.
      <br><br>
        As we will see, alongside viewport-related length values like vh and vw, these capabilities enable us to solve a multitude of responsive problems that would otherwise remain, well, problems!
      <br><br>
        We will begin by understanding custom properties, and then learn how to manipulate them, and other values with CSS functions.
      <br><br>
        Here are the main areas we will cover in this chapter:
      </p>
      <ul>
      <li>
        What a custom property is
      </li>
        <li>
          Special env () custom properties
        </li>
      </ul>

       
    </div>
  </div>
  
</body>
</html>
