<!DOCTYPE html><!-- page20 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>We will then have the main portion of text (the "method" that describes how to make the scones) on the left below, with a small boxed-out section detailing the ingredients over on the right.
        All these changes can be achieved relatively simply by encapsulating these specific styles within a media query.
        <br>
        <br>
        There are some further visual embellishments that don't add to the understanding of what's happening responsively, hence I have omitted them here, but if you'd like to view the relevant code, download the chapter code at http://rwd. education.
        </p>
        <section>
            <p>Here are the layout styles that were added:</p>
            <code>
                @media screen and (min-width: 800px) {
                <br><br>
                body {
                <br><br>
                    border-left: 4px solid #f9f9f9; border-right: 4px solid #f9f9f9;
                <br><br>
                    padding: 1rem 2rem;
                <br><br>
                }
                <br><br>
                .IntroWrapper 1 {
                <br><br>
                    display: flex;
                <br>
                <br>
                    gap: 0 20px; flex: 1 1 auto;
                <br><br>
                    align-items: center;
                <br><br>
                }
                <br><br>
                .MoneyShot,
                <br><br>
                .IntroText {
                <br><br>
                    margin: 0;
                <br><br>
                    flex: 1 1 50%;
                <br><br>
                }
                <br><br>
                .MoneyShotImg {
                <br><br>
                    filter: drop-shadow(0 0 20px #0008) ;
                <br><br>
                    border: 0;
                <br><br>
                }
            </code>
        </section>


       
    </div>
  </div>

</body>
</html>