<!DOCTYPE html><!-- page23 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>And like this when the viewport is 800 px or wider:</p>
        <section>
            <object>
                img here
            </object>
            <p>Figure 1.8: The same HTML and CSS provides a different layout for larger viewports</p>
        </section>
        <section>
            <object>
                icon here
            </object>
                <p>The code samples provided throughout this book do not include "vendor prefix" styles. Vendor prefixes have been employed historically to prefix experimental CSS properties in different browsers. For example: -webkit-backface-visibility.
                <br><br>
                Including vendor prefixes in CSS is often essential to achieve support for certain properties in older browsers. There are now tools to automate this prefixing and, as you might imagine, the tools perform the task faster and more accurately than we can.
                <br><br>
                Therefore, I'm refraining from including any vendor-prefixed code in the samples, in the hope you will adopt a similar painless approach.
                </p>
        </section>
        <p>This has been a very basic example but it has encapsulated the essential methodology of building out responsive web design.</p>
       
    </div>
  </div>

</body>
</html>