<!DOCTYPE html><!-- page24 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>Let's just go over the important points we have covered in this chapter and our basic example;</p>
        <ul>
            <li>Use whatever text editor you like</li>
            <li>Tools exist to make writing code easier, but don't get hung up on what to use</li>
            <li>Responsive designs are made possible with a flexible layout, fluid images, and media queries</li>
            <li>A meta tag is needed in the head of your HTML so a browser knows how to render the page</li>
            <li>You'll want all images to be set with a max width of 100% in the CSS by default</li>
            <li>A breakpoint is just a point, typically a screen width, at which we use a media query to alter the design</li>
            <li>When you write CSS for responsive design, start with base styles that can work on any device, typically the smallest screen, and then use media queries to adapt for larger screens</li>
            <li>Scones with clotted cream and jam are really tasty</li>
        </ul>
        <section>
            <object>
                icon here
            </object>
            <p>You can find the full specifications for CSS Media Queries (Level 3) here: https:// www.w3.org/TR/mediaqueries-3/.
            <br><br>
            There is also a working draft for CSS Media Queries (Level 4) here:
            <br><br>
            https://drafts.csswg.org/mediaqueries-4/.
            </p>
        </section>
        <h2>The shortcomings of our example</h2>
        <p></p>
        <p>
            In this chapter, we've covered all the essential parts of building a basic responsive web page with HTML and CSS. Granted, it's not what I'd call a real looker. I'll forgive you for using words like
            "infantile," "lazy," and "ugly," but just do it quietly amongst yourselves; I have feelings, you know!
            <br><br>
            The point here is you and I both know that this basic responsive example is far from the limit of what we will likely be tasked with building day to day. Nor should it reflect the limit of what we are capable of building.
            <br><br>
            We need to cover typography, color, shadows, hover styles, semantic markup, accessibility con-cerns, animation, scalable graphics, forms, and so much more!
            <br><br>
            You get the picture; the truth is we have barely scratched the surface. But don't worry. That's
            what the rest of the book is for.
        </p>
    </div>
  </div>

</body>
</html>