<!DOCTYPE html> <!-- page4 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Section I | Chapter 1 | The Essentials of Responsive Web Design | Page 2</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  
  <div >
    <div >
        <ul>
            <li>Writing CSS3 media queries to make pages adapt</li>
            <li>The shortfalls in our basic example</li>
            <li>Why our journey has only just begun </li>
        </ul>
        <p>Are you sitting comfortably? Then we will begin!</p>
        <h2>The browser and device landscape</h2>
        <p>A little over a decade ago, it was reasonable to build websites with fixed widths. The device landscape was a whole lot more limited, so the expectation was that all end users would get a fairly consistent experience. This fixed width (typically 960 px wide or thereabouts) wasn't too wide for laptop screens, and users with large-resolution monitors merely had an abundance of space on either side.
        <br>
        <br>
        But in 2007, Apple's iPhone ushered in the first truly usable phone browsing experience, and the way people accessed and interacted with the web changed forever.
        <br>
        <br>
        In the first edition of this book, published in early 2012, the following was noted about the percentage of total browser usage by device type recorded at gs. statcounter. com:
        </p>
        <p>
            ... in the 12 months from July 2010 to July 2011, global mobile browser use had risen from 2.86 to 7.02 percent...
        </p>
        <p>By September 2019, writing the third edition, using StatCounter, mobile was a whopping 51.11%, desktop was 45.18%, and tablet was 3.71%.
        <br>
        <br>
        As I write this latest edition, the latest data at gs. statcounter. com for July 2022 shows an even more pronounced change with mobile at 60.73%, desktop at 37% and tablet at 2.27%..
        <br>
        <br>
        The indisputable fact is that the number of people using smaller-screen devices to view the internet is growing at an ever-increasing rate, while at the other end of the scale, 40-inch ultrawide displays are now also commonplace (along with various tablet and console devices). There is now more difference between the smallest screens browsing the web and the largest than ever before.
        <br>
        <br>
        Thankfully, there is a solution to this ever-expanding browser and device landscape. A responsive web design, built with HTML and CSS, allows a website to "just work" across multiple devices and screens. It enables the layout and capabilities of a website to respond to their environment (screen size, input type, device/browser capabilities).
        </p>
    </div>

  </div>
</body>
</html>