<!DOCTYPE html><!-- page25 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <h2>Summary</h2>
        <p>Well done, you now know and understand the essential elements needed to create a fully responsive web page. However, as we have just discovered, there are plenty of places where things could be improved.
        <br><br>
        But that's fine. We don't just want the ability to make competent responsive web designs, we want to be able to create "best-of-breed" experiences. And as you're here, investing your time for the betterment of websites everywhere, I know you're up to the challenge. So let's press on.
        <br><br>
        In the next chapter, Chapter 2, Writing HTML Markup, we are going to take a deep dive into HTML5 markup. HTML is the very skeleton of any web page or application, the bedrock on which to build anything meaningful, the oxygen a website breathes, the... OK, I'm out of analogies - suffice it to say, HTML is pretty important, so let's press on and get stuck in.
        </p>
        <h2>
            Join our book's Discord space
        </h2>
        <p>Got any burning questions? Join the book's Discord workspace to discuss all your responsive web design concerns directly with the author and interact with other readers:</p>
        <section>
            <p>https://link/RWD4</p>
            <object>
                qr code here
            </object>
        </section>

    </div>
  </div>

</body>
</html>