<!DOCTYPE html> <!-- page7 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>Generally speaking, when starting a project, as a simple and broad way to determine what browsers to support, I apply the following crude piece of logic: if the cost of developing and supporting browser X is more than the revenue/benefit created by the users on browser X, don't develop specific solutions for browser X.</p>
        <section>
            <object>
                Img Here
            </object>
            <p>Figure 1.1: Can I Use provides browser support data for every web platform feature</p>
        </section>
        <h2>Text editors</h2>
        <p>It makes no difference what tool you use to write your code. All you actually need is something that enables you to type HTML, CSS, and JavaScript. Whether your preference is Sublime Text, Vim, Emacs, Nova, Visual Studio Code, or Notepad - it matters little. Just use what works best for you.</p>
        <h2>Tools for software development</h2>
        <p>Similarly, there are no requisite tools that are essential to get responsive web design out of the door. That said, you should be aware that there are many freely available tools to negate many of the manual and time-intensive tasks of building websites.</p>
    </div>
  </div>

</body>
</html>