<!DOCTYPE html> <!-- page10 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  
  <div >
    <div >
        <code>
            &lt;div class="IntroWrapper"&gt;
            <br>
            <br>
            &lt;h2 class="IntroText"&gt;
            <br>
            <br>
            Occasionally maligned and misunderstood; the scone is a quintessentially British classic.
            &lt;/h2&gt;
            <br>
            <br>
            &lt;div class="MoneyShot"&gt;
            <br>
            <br>
            &lt;p class="ImageCaption"&gt;
            <br>
            <br>
            Incredible scones, picture from Wikipedia
            &lt;/p&gt;
            <br>
            <br>
            &lt;/div&gt;
            <br>
            <br>
            &lt;/div&gt;
            <br>
            <br>
            SpRecipe and serving suggestions follow. &lt;/p&gt;
            &lt;div class="Ingredients"&gt;
            <br>
            <br>
            &lt;h3 class="SubHeader">Ingredients&lt;/h3&gt; &lt;ul&gt;&lt;/ul&gt;
            <br>
            <br>
            &lt;/div&gt;
            <br>
            <br>
            &lt;div class="HowToMake" &gt;
            <br>
            <br>
            &lt;h3 class="SubHeader" >Method&lt;/h3> &lt;ol class="MethodWrapper">&lt;/ol&gt;
            <br>
            <br>
            &lt;/div&gt;
            <br>
            <br>
            &lt;/ body&gt;
            <br>
            <br>
            &lt;/html &gt;
        </code>
        <p>By default, web pages are inherently flexible. If I open the example page, even as it is at this
          re-flows as needed.
          point, with no special work done to make it responsive, and resize the browser window, the text</p>

    </div>
  </div>

</body>
</html>