<!DOCTYPE html> <!-- page6 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Section I | Chapter 1 | The Essentials of Responsive Web Design | Page 4</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>However, one question that almost always comes up when starting a responsive design project is that of browser support. With so many browser and device variants, it's not always pragmatic to support every single browser permutation fully. Perhaps time is a limiting factor, perhaps
        money. Perhaps both.
        <br>
        <br>
        Typically, the older the browser, the greater the work and code required to achieve feature or aesthetic parity
        <br>
        <br>
        By the same token, we are going to practice progressive enhancement, in essence, starting with a functional and accessible website for the most basic browsers, which will get progressively enhanced with features for more capable browsers. It should be a very rare occasion indeed that you are forced to create a website that isn't at least functional on an old browser or device.
        <br>
        <br>
        Ultimately, the only browser statistics that really matter are yours.
        </p>
        <section>
            <object>
                Logo Here
            </object>
            <p>If you are working on a greenfield project, where there is no existing browser usage data, you can at least think about the demographics of your target audience and make some broad assumptions about likely devices/browsers based on those de-mographics.</p>
        </section>
        <p>Before considering any web project it makes sense to decide, in advance, what platforms you need to fully support and which you are happy to concede visual/functional anomalies to.
        <br>
        <br>
        For example, if you're unlucky enough to have 25% of your website visitors stuck using old ver-
        your solution accordingly.
        sions of iOS (for example), you'll need to consider what features that browser supports and tailor
        <br>
        <br>
        To this end, it you aren't already, become familiar with websites such as http://caniuse.com.
        Can I Use provides a simple interface for establishing the browser support for each web platform
        feature.
        </p>
    </div>
  </div>
  
</body>
</html>