<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h1>Section I</h1>
        <h1>The Fundamentals of Responsive Web Design</h1>
        <p>This first section is described as fundamental, as it is the section on which the other two build.
            In Chapter 1, The Essentials of Responsive Web Design, we will create our first fully responsive web-site. In Chapter 2, Writing HTML Markup, we are going to understand how to express meaning through markup. Avoid understanding HTML elements at your peril! Many problems in web development, even among seasoned developers, can be avoided simply by using structured and semantic markup. Finally, in Chapter 3, Media Queries and Container Queries, we will learn how to encapsulate styles that only apply in certain eventualities, functionality that's a cornerstone of responsive web design. The final two chapters, Fluid Layout and Flexbox, and Layout with CSS Grid, conclude this first section, covering the two most powerful layout methods available to us in modern web design, Flexbox and Grid.
        <br>
        <br>
        If you feel these are topics you already have a strong grasp of, go right ahead and skip to the next section. Otherwise, take the time to deeply understand these fundamentals before moving on.
        With the fundamentals understood, everything that comes later - in this book, and in your web adventures - will be so much easier to achieve.
        </p>
    </div>

  </div>
</body>
</html>