<!DOCTYPE html><!-- page16 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
    
  <div >
    <div >
        <p>with that Ale saved and the page refreshed, we see something more akin to what we might expect</p>
        <object>
            img here
        </object>
        <p>Figure 1.5: With a little CSS, our images will never exceed their bounds</p>


       
    </div>
  </div>
  
</body>
</html>