<!DOCTYPE html> <!-- page13 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  
  <div >
    <div >
        <p>In fact, it's probably easier to iust show you the effect this line has on applicable devices: 13
        </p>
        <object>
            img here
        </object>
        <p>Figure 1.3: With just one line added, already things are improving dramatically
        </p>
    </div>
  </div>
  
</body>
</html>