<!DOCTYPE html><!-- page18 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>Oh dear! In fact, at even around 800 ox wide it's starting to suffer. Around this point, it would be handy if we could rearrange a few things. Maybe resize the image and position it off to one side.
        Perhaps alter some font sizes and background colors of elements.
        Thankfully, we can achieve all this functionality quite easily by employing CSS media queries to
        bend things to our will.</p>
        <h2>Enter media queries</h2>
        <p>As we have established, somewhere beyond the 800 ox-wide point, our current layout starts to look stretched. We'll use CSS media queries at this point to adjust the layout depending upon the screen width. We will cover media queries in great depth in Chatter 3, but for now, all you need to sopreciate is that media queries are directives in rec that allow us to isolate CSS males to certain environment conditions; size of screen, in this instance.</p>
        <h2>Breakpoints</h2>
        <p>Before we proceed, it's worth familiarizing you with the term "breakpoint."
        <br>
        <br>
        The term breakpoint is web developer vernacular to define a viewport with or height at which a responsive design should change significantly.
        <br>
        <br>
        When people first started making use of media queries, it was common to see designs built with specific breakpoints to cater to the popular devices of the day. At the time it was typically iPhone (320 px x 480 px) and iPad (768 px x 1024 px) devices.
        <br>
        <br>
        That practice was a bad decision then, and it would be an even worse one now. The problem is that doing that means a design caters to specific screen sizes. We want a responsive design - something that is agnostic of the screen size viewing it, responding to any size viewport it finds itself in, not something that only looks its best at specific sizes.
        <br>
        <br>
        Use a breakpoint it your design, visually, needs to change at a certain point, but not to cater to a specific devices!
        <br>
        <br>
        For the purpose of whipping our basic example into shape, we will concentrate on just one type
        of media query: a minimum-width media query. CSS rules within this type of media query only get applied if the viewport is or exceeds a certain width
        </p>


       
    </div>

  </div>
</body>
</html>