<!DOCTYPE html> <!-- page9 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>For now, concentrate on the elements inside the ‹ body› tag. There we have a few divs, a graphic for a logo, some text, and a list of items. Although you can see more of that content in the screen-grabs, below is a shorter version of the code. For brevity I have removed the paragraphs of text, as we only need to concern ourselves with the core structure.
            <br>
            <br>
            However, what you should know is that the text is a recipe and description of how to make scones: a quintessentially British dessert.
            <br>
            <br>
            Remember, if you want to get your hands on the full HTML file, you can download the example code from https://github.com/benfrain/rwd4 or the wd. education website.
        </p>

        <code>
        &lt; !DOCTYPE html &gt;
        &lt;html class="no-js" lang="en" &gt;
        &lt;head&gt;
        &lt;meta charset="utf-8" / &gt;
        &lt;title&gt;Our first responsive web page with HTML5 and CSS3&lt;/title&gt;
        &lt; meta
        name="description"
        content="A basic responsive web page - an example from Chapter 1"
        &lt;link rel="stylesheet" href="css/styles.css" /&gt;/&gt;
        &lt;/head&gt;
        &lt;body&gt;
        &lt;div class="Header"&gt;
        &lt;a href="/" class="LogoWrapper"&gt;&lt;img src="img/SOC-Logo.png" alt="Scone O'Clock logo"/&gt;&lt;/a&gt;
        &lt;h1 class="Strap"&gt;Scones: the most resplendent of snacks&lt;/h1&gt;
        &lt;/ div&gt;
        </code>
    </div>
  </div>

</body>
</html>