<!DOCTYPE html> <!-- page5 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Section I | Chapter 1 | The Essentials of Responsive Web Design | Page 3</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  
  <div >
    <div >
        <h2>Defining responsive web design</h2>
        <p>The term responsive web design was coined by Ethan Marcotte in 2010. In his seminal A List Apart article, http://www.alistapart.com/articles/responsive-web-design,he consolidated three existing techniques (flexible grid layout, flexible images/media, and media queries) into one unified approach and named it responsive web design.</p>
        <h2>Responsive web design in a nutshell</h2>
        <p>To attempt to put the philosophy of responsive web design in a "nutshell," I would say it's the presentation of web content in the most relevant format for the viewport and device accessing it.
        <br>
        <br>
        In its infancy, it was typical for responsive design to be implemented by starting with a fixed-width desktop design before trying to scale the design down as needed for smaller screens. However, processes evolved and it became apparent there was a better way. Namely, that everything from design to content management and development worked better when starting with the smallest screens first, and then "progressively enhancing" the design and content for larger screens and/ or more capable devices. If the term "progressive enhancement" makes no sense right now, fear not. We'll be talking about that again in a moment.
        <br>
        <br>
        Before we get into things fully, there are a few subjects I'd like to address and get squared away before we continue: browser support, text editors, and tooling.
        </p>
        <h2>Browser support</h2>
        <p>The sheer volume of disparate devices that access the web means most people understand the need for technical solutions that cater to most devices.
        <br>
        <br>
        The popularity and ubiquity of responsive web design usually make the approach an easy sell to clients and stakeholders. Nowadays, most people have some idea what responsive web design is about, even if that understanding amounts to little more than "a website that looks good and works on phones as well as computers."
        </p>
    </div>

  </div>
</body>
</html>