<!DOCTYPE html><!-- page21 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <code>
            .IntroText { 
            <br><br>padding: 0.5rem; 
            <br><br>font-size: 2.5rem;
            <br><br>text-align: left; 
            <br><br>position: relative;
        <br><br>}
            .Ingredients { 
            <br><br>font-size: 0.9rem;
            <br><br>float: right; 
            <br><br>padding: 1rem;
            <br><br>margin: 0 0 0.5rem 1rem; 
            <br><br>border-radius: 3px;
            <br><br>background-color: #ffffdf; 
            <br><br>border: 9px solid #debb71;
            }
            .Ingredients h3 { 
            <br><br>margin: 0;
        <br><br>}
        }
        </code>
        <p>That wasn't too bad, was it? With only minimal code, we have built a page that responds to the viewport size and offers a preferable layout as needed. By adding just a few more styles, things look even easier on the eye.</p>
    </div>
  </div>

</body>
</html>