<!DOCTYPE html> <!-- page8 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>CSS post-processors such as PostCSS can automate horrible and thankless jobs like CSS vendor prefixing, an old requirement that necessitated writing multiple versions of a property for each browser engine, and poly-filling new CSS features, where newer syntaxes can be made to work on older browsers. Linting and validation tools can check your HTML, JavaScript, and CSS code as you work, eliminating many time-wasting typos or syntax-induced errors. More recently, code formatters have become popular. Tools like Prettier, for example, automatically format your code with indentation and spacing when you save. None of these tools are essential but they may
        afford you some benefits.
        <br>
        <br>
        New tools come out constantly and they are continually evolving. Therefore, while some relevant and beneficial tools will be mentioned by name as we go, be aware that something better may be just around the corner. Hence, we won't be relying on anything other than standards-based HTML and CSS in our examples. You should, however, use whatever tools you can bring to bear to produce your front-end code as quickly and reliably as possible.
        <br>
        <br>
        With that out of the way, without further ado, let's get our first responsive web design made!
        </p>
        <h2>Our first responsive example</h2>
        <p>In the introduction, I promised that by the end of this chapter you would know all you needed to build a fully responsive web page. So far, I've just been talking around the issue at hand. It's time to walk the walk.</p>
        <section>
            <obejct>Icon here</obejct>
            <p>Code samples
            <br>
            <br>
            You can download all the code samples from this book by visiting ht tps: //github. com/benfrain/rwd4 or the book'sdedicated website, rwd. education. It's worth knowing that where individual examples are built up throughout achapter, there will typically be a "start" and "end" version for each. The start contains just the essentials tostart following along. The end contains the completed exercise/example.
            </p>
        </section>
        <h2>Our basic HTML file</h2>
        <p>We will start with a simple HTML5 structure. Don't worry at this point about what each of the lines does, especially the content of the ‹ head›, as we will cover that in detail in Chapter 2, Writing
        HTML Markup.</p>
    </div>
  </div>
  
</body>
</html>