<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Section I | Chapter 1 | The Essentials of Responsive Web Design | Page 1</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <h1>1</h1>
        <h1>The Essentials of Responsive 
        <br>
        <br>
        Web Design
        </h1>
        <p>When the first edition of this book came out in 2012, responsive web design was a new and exciting possibility to address the needs of the ever-growing list of devices that could access the internet.
        A decade later, as I write this in 2022, it's simply the de facto standard. If you're building a website or web application and it isn't responsive, you're probably doing it wrong!
        <br>
        <br>
        This first chapter serves as a quick and basic refresher on building out an extremely simple web design, responsively. By the end, we will have covered everything needed to author a fully responsive web page.
        <br>
        <br>
        You might be wondering, why do we need the other chapters then? By the end of this chapter, that should be apparent too.
        <br>
        <br>
        Here's what we will cover in this first chapter:
        </p>
        <ul>
            <li>The ever-evolving browser and device landscape</li>
            <li>Defining responsive web design</li>
            <li>Setting browser support levels</li>
            <li>A brief discussion on development tools and text editors</li>
            <li>Our first responsive example: a simple HTML5 page</li>
            <li>The viewport meta tag</li>
            <li>Fluid images</li>
        </ul>
    </div>
  </div>

</body>
</html>
