<!DOCTYPE html> <!-- page11 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>What about on different devices? Again, with no CSS whatsoever added to the page, this is how that renders on an iPhone 13:</p>
        <object>
            Code ehre
        </object>
        <p>Figure 1.2: Not pretty, but by default all web pages are inherently flexible</p>
    </div>
  </div>
  
</body>
</html>