<!DOCTYPE html> <!-- page284 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Summary
      </h2>
      <p>
        Hopefully, the terminology, techniques, and appropriate applications for responsive images are now a little clearer.
        <br><br>
        In this chapter, we looked at new image formats like AVIF and WebP, and the massive economies they can offer in terms of file size. We considered their shortcomings in terms of support and looked at how we can use the picture element to serve up both those image types alongside a suitable fallback.
        <br><br>
        We also looked at scset and how that allows us to provide the browser with a number of possi bilities alongside our preference, enabling the browser to make an informed choice about which to use.
        <br><br>
        We then looked at picture again, considering how to use it to serve entirely different images based on things like viewport width.
        <br><br>
        The techniques we have covered in this chapter apply to bitmap images — photos and such. But that's just one side of the image coin. In the next chapter, we will take a deep dive into Scalable Vector Graphics (SVG), and how to embrace the vector image format made for the web.
      </p>

       
    </div>
  </div>
  
</body>
</html>
