<!DOCTYPE html> <!-- page277 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Lastly, let's save it as an AVIF file as shown in Figure 9.2. By default, Squoosh sets the quality slider on AVIF to only 30, but if I move the comparison line across onto the lovely strawberry jam of that image (gosh, this is making me hungry), we can see that some of the detail is being lost.
        But even if I move it up to a quality of 40, which I feel gives an acceptable visual, it still creates a file that is only 52.1KB, a 74% improvement on the original! You can find that file in the code as squoosh-scones. avif.
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 9.2: The Squoosh app lets you see in real time the effect of your changes
        </p>
      </section>
      <p>
        With our example file, with a few seconds' work, we were able to create a version of the image that was almost a quarter of the original size. This is but one image and one set of choices, but it should prove to you just how much unneeded data we are often serving up to our users.
        <br><br>
        And that brings us to how we actually serve up different file versions of an image. The answer is that we can use the picture element.
      </p>
       
    </div>
  </div>
  
</body>
</html>
