<!DOCTYPE html> <!-- page274 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Furthermore, research carried out by Google in 2017 suggested that "the probability of bounce increases 32% as page load time goes from 1 second to 3 seconds" and that " abandoned if a mobile site takes longer than three seconds to load."
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          Read more from that research here: https://www.thinkwithgoogle.com/ intl/en-gb/marketing-strategies/app-and-mobile/mobile-page-speed-new-industry-benchmarks/.
        </p>
      </section>
      <p>
        As such, it is incumbent upon us to do everything in our power to make our images as lean, and relevant, for the screen viewing them as we can. This, in essence, is the aim of responsive images.
        <br><br>
        For the purpose of this chapter, let us make a distinction between the two different but related goals: how to serve the leanest image we can to our user, and how to serve the most relevant image to our user. While these two ideals overlap and sometimes share the same technical solution, the distinction may make digesting the ideas simpler.
        <br><br>
        In this chapter, we will be covering the following:
      </p>
      <ul>
        <li>
          Why we should use modern image formats where possible
        </li>
        <li>
          The AVIF image format
        </li>
        <li>
          The WebP image format
        </li>
        <li>
          How to progressively enhance modern image formats
        </li>
        <li>
          Understanding the responsive images problem space
        </li>
        <li>
          Using srcset for resolution switching
        </li>
        <li>
          How to achieve art direction with picture
        </li>
        <li>
          Practical considerations for responsive images
        </li>   
      </ul>
      <p>
        Let's begin by looking at image formats and how different formats alone can significantly reduce the amount of data our website needs to send down the wire.
      </p>
      <h2>
        Modern image formats
      </h2>
      <p>
        Historically, it was simple to choose the correct image format to use in a given scenario.
        <br><br>
        If the image needed to animate and for some reason a video wasn't a viable option, you would opt for an animated GIF. If it was a photo, JPG was the logical choice, and if it was anything that needed transparency, it would be PNG as, unlike JPG, it supports alpha transparency.
      </p>
    </div>
  </div>
  
</body>
</html>
