<!DOCTYPE html> <!-- page418 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <code>
          }
          <br><br>
          @nest .container-big & {
          <br><br>
            width: 100%;
            <br><br>
          }
          <br><br>
          & + & {
          <br><br>
            margin-left: 10px;
            <br><br>
          }
          <br><br>
        }
      </code>
      <p>
        Here, we have created "one rule to, err.., rule them all." The entire life of item is inside a set of curly braces, so you only need to find that one string in your CSS codebase to be able to understand and control everything that ever happens to that element.
      </p>
      <h2>
        Trying CSS nesting syntax today
      </h2>
      <p>
        If you are used to using Sass in your projects, there is probably little need to do anything right now. However, if you are using PostCSS in your setup, which often comes built-in with modern build tools like Vite (https://vitejs.dev), you can try the CSS nesting way of writing nested styles right now with the aptly named "PostCSS Nesting" plugin: https://github. com/csstools/ postcss-plugins/tree/main/plugins/postcss-nesting.
      </p>
      <h2>
        Giving your feedback on the proposal
      </h2>
      <p>
        As I write this, the CSS nesting proposal is in flux. You can look at the issues and discussions around the specification at https: //github.com/w3c/csswg-drafts/issues?q=is%3Aissue+is3Aopen+1abel%3Acss-nesting+c, so if there is something you particularly want to see in the specification, there is nothing to stop you from making your voice heard.
      </p>
      <h2>
        Asking browser vendors to implement CSS nesting
      </h2>
      <p>
        I would welcome CSS nesting, but as there are currently no browser implementations, you can voice your interest in the feature at the following browser support tickets:
      </p>
      <ul>
        <li>
          Chrome: https: //bugs.chromium.org/p/chromium/issues/detail?id=1095675
        </li>
        <li>
          WebKit/Safari: https://bugs.webkit.org/show_bug. cgi?id=223497
        </li>
        <li>
          Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1648037
        </li>
      </ul>
      <p>
        The more interest in the feature that browser vendors see, the more likely it is we will see it in browsers sooner rather than later.
      </p>
       
    </div>
  </div>
  
</body>
</html>
