<!DOCTYPE html> <!-- page419 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Summary
      </h2>
      <p>
        In this chapter, we have looked in detail at two big changes to CSS. The first, cascade layers, gives us a fundamentally different set of tools to organize our code, and we can use it in browsers today. It's the pertect way of keeping third-party code from causing unwanted side effects.
        <br><br>
        We then looked at CSS nesting, new functionality still in the mere specification stage that promises to offer us new ways to write more compact and expressive code. There are tools to write it today, and hopefully, in the not-too-distant future, it will be something we can write without thinking whenever we write CSS.
        <br><br>
        CSS has moved at an incredible pace in the last few years, and it seems that never a week goes by without me coming across some new functionality I have missed or that is coming to browsers soon. It's certainly easy to feel overwhelmed with the pace of changes in front-end development. However, you shouldn't. With some common sense and a basic interest in what's going on, I feel it is easy enough to stay in the game.
        <br><br>
        Anyway, the more philosophical musings on how to deal with modern front-end development, and many of the other new things coming to CSS and HTML, could be a chapter all of its own.
        <br><br>
        Which is handy, because that's exactly what our last chapter is all about.
        <br><br>
        You've made it this far; walk this last mile with me, will you?
      </p>


       
    </div>
  </div>
  
</body>
</html>
