<!DOCTYPE html> <!-- page406 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        14
      </h2>
      <h2>
        Cutting-Edge CSS Features
      </h2>
      <p>
        Depending on when you are reading this, the contents of this chapter may seem commonplace and less cutting-edge in your daily CSS writing. However, as these words are written, these are some of the latest additions to the CSS language.
      <br><br>  
        So, here is what we will take a look at in this chapter:
      </p>
      <ul>
        <li>
          What cascade layers are and the problems they solve
        </li>
        <li>
          The syntax and typical applications of cascade layers
        </li>
        <li>
          The rules for layer ordering
        </li>
        <li>
          Adding imported style sheets to a layer
        </li>
        <li>
          Understanding the importance of ! important
        </li>
        <li>
          CSS nesting and its origins
        </li>
        <li>
          Examples of syntax and its use cases
        </li>
        <li>
          The @nest at-rule
        </li>
        <li>
          Nesting media queries
        </li>
        <li>
          How to write CSS nesting today
        </li>
        <li>
          How to tell browser vendors you want nesting.
        </li>
      </ul>
      <p>
        In the case of CSS nesting, which we will cover shortly, there are no browser implementations, merely a specification. However, it is an update to the language that I am genuinely excited about - an addition I believe will fundamentally change the way we all write CSS. Therefore, I feel it is worth covering ahead of time.
      </p>
       
    </div>
  </div>
  
</body>
</html>
