<!DOCTYPE html> <!-- page376 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        However, when typing "D" instead, only the matching suggestions appear, as shown in the following screenshot:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.5: The datalist narrows based on input
        </p>
      </section>
      <p>
        list and datalist don't prevent a user from entering different text in the input box, but they do provide another great way of adding common functionality and user enhancement through HTML5 markup alone.
      <br><br>  
        You can read the specification for datalist here: https://html.spec.whatwg.org/multipage/ form-elements.html#the-datalist-element.
      <br><br>  
        When we started this chapter, I mentioned that there are ways of hinting to the user and, depending on the device, aiding the user in entering the appropriate data for the input at hand. We can do that with HTML5 input types. Let me show you how.
      </p>
      <h2>
        HTML5 input types
      </h2>
      <p>
        HTML5 has a number of extra input types. These have been a great addition because when they are supported, they offer great additional functionality and, when not supported, they still behave like a standard text type input. Let's take a look at them.
      </p>
      <h2>
        The email input type
      </h2>
      <p>
        You can set an input to the type of email like this:
      </p>
      <code>
        type="email"
      </code>
       
    </div>
  </div>
  
</body>
</html>
