<!DOCTYPE html> <!-- page372 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        To be absolutely clear, the bad news here is that you can't change the message that the browser displays. But the good news is that it will provide the correct language version of the message for your users to match their language preference.
      <br><br>  
        We've already seen what the required field browser message looks like in Chrome. The following screenshot shows the same message in Firefox:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.3: Errors when submitting a form in Firefox without the required fields complete
        </p>
      </section>
      <p>
        The required value can be used alongside many input types to ensure a value is entered. Notable exceptions are the range, color, button, and hidden input types, as they almost always have a default value.
      </p>

       
    </div>
  </div>
  
</body>
</html>
