<!DOCTYPE html> <!-- page394 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        I've taken my own stab at styling the form; you can check that version out at example_ 13-02, and remember, if you don't already have the example code, you can grab it at https://rd. education.
      <br><br>  
        Here's how the form looks in a small viewport with that basic styling applied:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.20: Our form on mobile with basic styling applied
        </p>
      </section>

       
    </div>
  </div>
  
</body>
</html>
