<!DOCTYPE html> <!-- page380 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        And here is how type="number" makes the software keyboard appear on an iPad. Notice how all the numerical keys display by default:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.9: Software keyboards default to showing numbers for number inputs
        </p>
      </section>
      <p>
        What happens if you don't enter a number? This can vary subtly between browser implementa-tions. For example, Firefox does nothing until the form is submitted, at which point it displays a warning, Please enter a number. Safari, on the other hand, gives the vaguer message of Fill out this field.
      </p>
      <h2>
        Using min and max to create number ranges
      </h2>
      <p>
        You'll notice in the previous code example that we set a minimum and maximum allowed range:
      </p>
      <code>
        type="number" min="1929" max="2015"
      </code>
      <p>
        If you try to submit the form with numbers outside of this range, the browser will show a warning that the value should be within the specified range.
      </p>

       
    </div>
  </div>
  
</body>
</html>
