<!DOCTYPE html> <!-- page379 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        With the type of input set to number, browsers also sometimes add pieces of Ul called "spinner" controls. These are tiny pieces of user interface that allow users to easily click up or down to alter the value input.
      <br><br>  
        The following is a code example:
      </p>
      <code>
        &lt;div&gt;
      <br><br>      
          &lt;label for="yearOfCrime"&gt; Year Of Crime &lt;/label&gt;
      <br><br>      
          &lt;input
      <br><br>      
            id="yearOfCrime"
      <br><br>      
            name="yearOfCrime"
      <br><br>      
            type="number"
      <br><br>      
            min="1929" max="2015" 
      <br><br>      
            required
      <br><br>      
          /&gt;
      <br><br>      
        &lt;/div&gt;
      </code>
      <p>
        The following screenshot shows how it looks in Chrome, complete with spinners:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.8: On desktop browsers, "spinners" are shown for number inputs
        </p>
      </section>
       
    </div>
  </div>
  
</body>
</html>
