<!DOCTYPE html> <!-- page395 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        And here it is with a larger viewport:
      </h2>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.21: Our same form styled for wider viewports
        </p>
      </section>
      <p>
        If you look at the CSS in the example, you'll see many of the techniques we've looked at throughout previous chapters applied. For example, Flexbox (Chapter 4) is used to create uniform spacing and flexibility for elements.
      </p>

       
    </div>
  </div>
  
</body>
</html>
