<!DOCTYPE html> <!-- page369 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        if we "focus" on the first field and start inputting text, the placeholder text is removed. If we blur focus without entering anything (by clicking outside of the input box again), the placeholder text reappear. Ve te on, (Without entering anything), the olony chepber
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.2: A standard browser warning from a required field
        </p>
      </section>
      <p>
        The great news is that all these user interface elements, including the aforementioned slider, placeholder text, spinner, and the input validation, are being handled natively by the browser via HTML5, and no JavaScript.
      <br><br>  
        Let's begin by getting a handle on all the capabilities of HTMLS that relate to forms and make all this possible. Once we understand all the mechanics, we can get to work styling it up.
      </p>
      <h2>
        Understanding the component parts of HTML5 forms
      </h2>
      <p>
        There's a lot going on in our HTML5-powered form, so let's break it down. The three sections of the form are each wrapped in a fieldset, which semantically groups the related sets of form felds, and a legend, which provides the textual explanation of what that fieldset is;
      </p>
      <code>
        &lt;fieldset&gt;
      <br><br>    
          &lt;legend&gt; About the offending film (part 1 of 3) &lt;/legend&gt; 
      <br><br>    
          &lt;div&gt;
      <br><br>    
            &lt;label for="film"&gt; The film in question? &lt;/label&gt;
      <br><br>    
            &lt;input 
      <br><br>    
            id="film" 
      <br><br>    
            name="film" 
      <br><br>    
            type="text"
      <br><br>    
            placeholder="e.g. King Kong" 
      <br><br>    
            required aria-required="true"
      <br><br>    
            /&gt;
      <br><br>    
          &lt;/ div&gt;
      <br><br>    
        &lt;/fieldset&gt;
      </code>
       
    </div>
  </div>
  
</body>
</html>
