<!DOCTYPE html> <!-- page384 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        However, some better news is that, like the email and url input types, touchscreen devices often thoughtfully accommodate this kind of input with an amended software keyboard for easy com-pletion; here's the tel input type when accessed with an iPad (running iOS 13.3):
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.12: Software keyboard adapting to telephone input
        </p>
      </section>
      <p>
        Notice the lack of alphabet characters in the keyboard area? This makes it much faster for users to enter a value in the correct format.
      <br><br>  
        If the default blue color of telephone numbers in iOS Safari annoys you when you use a tel input, you can amend it with the following selector:
      </p>
      <code>
        a[href^=tel] { color: inherit; }
      </code>
      <p>
        That will set them to the color of the parent element.
      </p>

       
    </div>
  </div>
  
</body>
</html>
