<!DOCTYPE html> <!-- page377 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        supporting browsers will expect a user input that matches the syntax of an email address. In the following code example, type="email" is used alongside required and placeholder:
      </p>
      <code>
        &lt;div&gt;
      <br><br>    
          &lt;label for="email"&gt; Your Email address &lt;/label&gt;
      <br><br>    
          &lt;input
      <br><br>    
            type="email" 
      <br><br>    
            id="email" 
      <br><br>    
            name="email"
      <br><br>    
            placeholder="dwight.schultz@gmail.com"
      <br><br>    
            required
      <br><br>    
          /&gt;
      <br><br>    
        &lt;/div&gt;
      </code>
      <p>
        When used in conjunction with required, trying to input a non-conforming value will generate a warning message:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.6: An error shows when incorrect data is entered
        </p>
      </section>
      <p>
        Perhaps most usefully, most touchscreen devices (Android, iPhone, and so on) change the software keyboard presented to the user based on this input type. The following screenshot shows how the software keyboard on an iPad is shown when focusing an input with type="email"
      </p>
       
    </div>
  </div>
  
</body>
</html>
