<!DOCTYPE html> <!-- page390 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        The interface allows the user to select a single month and sets the value of the input to a year and month, should you want to access it via scripting; for example, "2023-06". Here is a grab of the user interface that iOS displays:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.16: Remember, different operating systems often have their own Uls to achieve the same goal
        </p>
      </section>
      <h2>
        The week input type
      </h2>
      <p>
        The following code is an example:
      </p>
      <code>
        &lt;input id="week" type="week" name="week" / &gt;
      </code>
      <p>
        When the week input type is used, the picker allows the user to select a single week within a year and sets the value of the input in "2025-W28" format.
      </p>
      
       
    </div>
  </div>
  
</body>
</html>
