<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        13
      </h2>
      <h2>
        Forms
      </h2>
      <p>
        Before HTML5, adding things like date pickers, placeholder text, and range sliders into forms had always needed JavaScript. Similarly, there had been no easy way to signpost to users the kind of data we expect them to input into certain fields. For example, whether we expect telephone numbers, email addresses, or URLs.
      <br><br>  
        The good news is that HTML5 largely solves these common problems.
      <br><br>  
        We have two main aims in this chapter. Firstly, to understand HTMLS form features and, secondly, to understand how we can lay out forms more simply for multiple devices with the latest CSS features. In this chapter, we will learn how to:
      </p>
      <ul>
      <li>
        Easily add placeholder text into relevant form input fields
      </li>
      <li>
        Disable autocompletion of form fields where necessary
      </li>
      <li>
        Set certain fields to be required before submission
      </li>
      <li>
        Specify different input types such as email, telephone number, and URL
      </li>
      <li>
        Create number range sliders for easy value selection
      </li>
      <li>
        Place date and color pickers into a form
      </li>
      <li>
        Use a regular expression to define an allowed form value
      </li>
      <li>
        Style forms using Flexbox
      </li>
      <li>
        Change caret color
      </li> 
      </ul>

       
    </div>
  </div>
  
</body>
</html>
