<!DOCTYPE html> <!-- page382 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Like type="email", touchscreen devices often amend the software keyboard based on this input type. The following screenshot shows how the software keyboard of an iPad is changed with an input type set to url:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.11: Software keyboard adapting for url input
        </p>
      </section>
      <p>
        Notice the "com" key? Because we've used a url input type, the software keyboard provides a key for easy top-level domain completion.
      </p>


       
    </div>
  </div>
  
</body>
</html>
