<!DOCTYPE html> <!-- page383 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        On iOs, if you're not going to a.com site, you can press and hold that button for a few other popular top- level domains.
      </p>
      <h2>
        The tel input type
      </h2>
      <p>
        You can set an input field to expect a telephone number type of value, like this:
      </p>
      <code>
        type="tel"
      </code>
      <p>
        Here's a more complete example:
      </p>
      <code>
        &lt;div&gt;
      <br><br>      
          &lt;label For="tel"&gt; Telephone (so we can berate you if you're wrong)
          &lt;/label &gt;
      <br><br>      
          &lt;input 
      <br><br>      
            id="tel"
      <br><br>      
            name="tel"
      <br><br>      
            type="tel"
      <br><br>      
            placeholder="1-234-546758"
      <br><br>      
            autocomplete="off"
      <br><br>      
            required
      <br><br>      
          /&gt;
      <br><br>      
        &lt;/div&gt;
      </code>
      <p>
        Browsers do little validation on the tel innut tupe. When an incorrect value is indut, they fail to provide a suitable warning message.
      </p>
    </div>
  </div>
  
</body>
</html>
