<!DOCTYPE html> <!-- page385 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        The search input type
      </h2>
      <p>
        You can set an input as a search type like this:
      </p>
      <code>
        type="search"
      </code>
      <p>
        The search input type works like a standard text input. Here's an example:
      </p>
      <code>
        &lt;div&gt;
      <br><br>    
          &lt;label for="search"&gt; Search the site... &lt;/label&gt;
      <br><br>    
          &lt;input id="search" name="search" type="search" placeholder="Wyatt Earp"&gt;
      <br><br>    
        &lt;/div&gt;
      </code>
      <p>
        As with many of the prior input types, software keyboards (such as those found on mobile de-vices) often provide a more tailored keyboard. Note the "go" button in iOS 15.5 when focused in a search box:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.13: A keyboard subtly tailored for searching
        </p>
      </section>
      <h2>
        The pattern input attribute
      </h2>
      <p>
        You can set an input to expect a certain pattern input like this:
      </p>
      <code>
        pattern=""
      </code>
      <p>
        Note that this isn't an input type. However, it is a means of communicating to the browser that we expect input of a certain pattern.
      <br><br>  
        The pattern attribute allows you to specify, via a regular expression, the syntax of data that should be allowed in a given input field.
      </p>
       
    </div>
  </div>
  
</body>
</html>
