<!DOCTYPE html> <!-- page387 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.14: The pattern type provides a vaguer warning but allows you to create bespoke requirements
        </p>
      </section>
      <p>
        As with other browser-generated form messages, it's not possible to amend it, so depending on your use case, it may be beneficial to state in your label text the kind of input you require.
      </p>
      <h2>
        The color type input
      </h2>
      <p>
        Want to set an input field to receive a color value?
      </p>
      <code>
        input type="color"
      </code>
      <p>
        The color input type invokes the host operating system's color picker, allowing users to select a color. The following code is an example:
      </p>
      <code>
        &lt;div&gt;
      <br><br>    
          &lt;label for="color"&gt; Your favorite color &lt;/label&gt;
      <br><br>    
          &lt;input id="color" name="color" type="color" /&gt;
      <br><br>    
        &lt;/div&gt;
      </code>
      <p>
        I'll be honest, it's not a type I've yet to need in practice, but it's not hard to imagine scenarios where it would be very handy.
      </p>

    </div>
  </div>
  
</body>
</html>
