<!DOCTYPE html> <!-- page391 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        This is currently only supported in Chromium-based browsers. The following screenshot shows how it looks in Chrome:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.17: The week input type gets its own data picker style in supporting browsers
        </p>
      </section>
      <h2>
        The time input type
      </h2>
      <p>
        The following code is an example:
      </p>
      <code>
        &lt;input id= "time" type="time" name="time" /&gt;
      </code>
      <p>
        The time input type allows a value to be set to a 24-hour format; for example, "20: 26".
      <br><br>  
        It displays like a standard input in supporting browsers but with additional spinner controls, and it only allows relevant time values.
      </p> 

    </div>
  </div>
  
</body>
</html>
