<!DOCTYPE html> <!-- page392 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Touch devices show their own UIs. Here's how it looks on iOS:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.18: The time input type produces specific pieces of interface in supporting browsers
        </p>
      </section>
      <h2>
        The range input type
      </h2>
      <p>
        The range input type creates a slider interface element. Here's an example:
      </p>
      <code>
        &lt;input type="range" min="1" max="10" value="5" /&gt;
      </code>
      <p>
        And the following screenshot shows how it looks in Firefox:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.19: A range slider doesn't show numerical values by default
        </p>
      </section>
      <p>
        The default range is from 0 to 100. However, by specifying a min and max value, in our example, we have limited it to between 1 and 10.
      </p>

       
    </div>
  </div>
  
</body>
</html>
