<!DOCTYPE html> <!-- page368 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        HTML5 forms
      </h2>
      <p>
        I think the easiest way to get to grips with HTMLS forms is to work our way through an example form. Just like in daytime TV cooking shows, I have one I made earlier! A minor introduction is needed. Two facts: firstly, I love films. Secondly, I'm very opinionated about what is a good film and what is not.
      <br><br>  
        Every year, when the Oscar nominations are announced, I can't help feeling the wrong films have got "the nod" from the Academy. Therefore, we will start with an HTMLS form that enables fellow cinephiles to vent their frustrations at the continual travesties of the Oscar nominations.
      <br><br>  
        It's made up of a few fieldset elements, within which we are including a raft of the HTML5 form input types and attributes. Besides standard form input fields and text areas, we have a number spinner, a range slider, and placeholder text for many of the fields.
      <br><br>  
        The HTML for this form can be found in the example_13-01 code. Here's how it looks, with no styles applied, in Chrome:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.1: A basic form with no styling
        </p>
      </section>


       
    </div>
  </div>
  
</body>
</html>
