<!DOCTYPE html> <!-- page378 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Notice the "@" symbol has been added for easy email address completion:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.7: Software keyboards will often adapt to the input type
        </p>
      </section>
      <h2>
        The number input type
      </h2>
      <p>
        You can set an input field to expect a number like this:
      </p>
      <code>
        type="number"
      </code>

       
    </div>
  </div>
  
</body>
</html>
