<!DOCTYPE html> <!-- page389 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Here is the Ul that is generated in a supporting browser. Note that as a UK user, I get that date displayed in a slightly more UK-friendly format (MM-DD-YYYY):
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 13.15: A date-picking interface provided by the browser
        </p>
      </section>
      <p>
        However, depending on your locale, this isn't ideal and may actually be a worse experience for users. In the UK, we write dates in the DD-MM-YYYY format, so this could be confusing if you have a date like 05-06-2024; a UK user would assume that was June 5, 2024. Your own locale may differ again. This discrepancy is what has led many institutions that deal with forms extensively to split the component parts of a date up into separate input fields. For example, the UK government's design system is well documented with examples, well worth a read if you encounter a form design heavy on the date side of things: https://design-system. service.
        gov.uk/components/date-input/
      <br><br>  
        There are a variety of different date- and time-related input types available. What follows is a brief overview of the others.
      </p>
      <h2>
        The month input type
      </h2>
      <p>
        The following code is an example:
      </p>
      <code>
        &lt;input id="month" type="month" name="month" /&gt;
      </code>
       
    </div>
  </div>
  
</body>
</html>
