<!DOCTYPE html> <!-- page215 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Hex and RGB values are the kinds of values you will be used to seeing in graphics applications.
      </p>
      <h2>
        HSL color
      </h2>
      <p>
        Besides RGB, CSS also allows us to declare color values as Hue, Saturation, and Lightness (HSL).
        <br><br>
        HSL isn't the same as HSB! Don't make the mistake of thinking that the Hue, Saturation, and Brightness (HSB) value shown in the color picker of image editing applications such as Photoshop is the same as HSL-it isn't!
        <br><br>
        What makes HSL comparatively intuitive to use is that it's relatively simple to understand the color that will be represented, based on the values given. For example, unless you're some sort of color-picking ninja, I'd wager you couldn't instantly tell me what color rgb(255, 51, 204) is. Any takers? No, me neither.
        <br><br>
        However, show me the HSL value of hs1(315, 100%, 60%) and I could take a guess that it is somewhere between a magenta and a red color (it's actually a festive pink color). How do I know this? Simple: "Young Guys Can Be Messy Rascals!" This mnemonic will help you to remember the order of colors in an HSL color wheel, as you'll see shortly. HSL works on a 360° color wheel.
        <br>,br>
        It looks like this:
      </p>
      <section>
        <object>
          img here
        </object>
      </section>
      <p>
        Figure 7.1: An HSL color wheel created with SVG (ht tps:/ /codepen.io/websanity/pen/@WNMRq)
      </p>
    </div>
  </div>
  
</body>
</html>
