<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <h1>
            7
        </h1>
        <h1>
            CSS Color
        </h1>
        <p>
            Color is one area of CSS that has enjoyed significant enhancements in the last few years. Previously, ifyou had an understanding of how to write hex, gb (), and hs1(), that was all the color knowledge required. Nowadays, you need to understand a whole slew of different formats, alongside color functions to manipulate those formats, to consider yourself "up to speed."
            <br><br>
            The fine detail of color in CSS is not something you are likely to wrestle with in day-to-day responsive design work. Ordinarily, we take it for granted and paste in the colors from a design file with little thought. However, when you do need to manipulate, or convert, colors, or if you get asked to implement a color in P3, I don't want you looking embarrassed because I didn't explain these concepts to you. So, to repeat advice I have given elsewhere in the book, consider the possibilities presented here but don't worry about remembering the syntax. That's what this chapter is for: to give you some guidance on that fateful day you do need to implement something more involved with color.
            <br><br>
            Color theory is a dense and notoriously difficult subject. Not just conceptually but mathematically too. As such, we will concentrate almost entirely on the practical side of working with color in CSS.
            My aim here is to provide conceptual clarity, not necessarily pin-point mathematical accuracy.
            <br><br>
            With that point made, let's look at what we will be covering in this chapter:
        </p>
        <ul>
            <li>
                RGB with hex notation
            </li>
            <li>
                RGB transparency with hex notation
            </li>
            <li>
                RGB functional notation
            </li>
            <li>
                HSL functional notation
            </li> 
        </ul>
       
    </div>
  </div>
  
</body>
</html>
