<!DOCTYPE html> <!-- page214 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
    <ul>
      <li>
        Space-separated functional color notation
      </li>
      <li>
        P3 color gamut
      </li>
      <li>
        The @media (color-gamut: ) rule
      </li>
      <li>
        The color () function
      </li>
      <li>
        Lab and LCH
      </li>
      <li>
        How to write fallbacks for older browsers
      </li>
      <li>
        Relative color syntax
      </li>
      <li>
        The color-mix() function
      </li>
      <li>
        The color-contrast () function
      </li>
    </ul>
    <p>
      To begin our journey through the topic, we will start with a refresher on the basics of working with color in CSS before moving on to the newer color features and formats.
      <br><br>
      So, let's start with something you will likely already have a solid grasp on: RGB.
    </p>
    <h2>
      RGB color
    </h2>
    <p>
      RGB (Red, Green, and Blue), like many of the formats we will look at, is a coloring system that's been around for decades. It works by defining different values for the red, green, and blue components of a color. For example, a red color might be defined in CSS as a hex (hexadecimal) value, #fe0208:
    </p>
      <code>
        .redness {
          color: #fe0208;
        }
      </code>
      <p>
        The first two digits are the red value in hexadecimal, the next two are the green, and the last two are the blue.
      </p>
      <code>
        <object>
          icon here
        </object>
        <p>
          For a great post describing how to understand hex values more intuitively, I can recommend this blog post at Smashing Magazine: ht tps: / /www.smashingmagazine. com/ 2012/10/the-code-side-of-color/.
        </p>
      </code>
      <p>
        However, with CSS, that same color can equally be described with an RGB functional notation, where each value can be specified in a range from 0 to 255:
      </p>
      <code>
        .redness {
        <br><br>
          color: ngb (254, 2, 8);
        <br><br>
        }
      </code>
    </div>
  </div>
  
</body>
</html>
