<!DOCTYPE html> <!-- page232 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Summary
      </h2>
      <p>
        In CSS terms, color capability is advancing rapidly. We have looked at the basics of setting colors and alpha layers in CSS using hex and functional notation. We have also considered how to make use of wider gamuts such as P3 and how to provide fallbacks in a couple of ways for older devices.
        <br><br>
        Later, we looked at the cutting-edge features of color which are just gaining browser support.
        We have looked at mixing colors with color-mix), creating a color relative to another with the relative color syntax, and, perhaps most usefully, how we can ensure contrasting colors, and gaining better accessibility with the use of the color-contrast () function.
        <br><br>
        As this is such a dense topic, below is a list of resources to read further on the topic. But that doesn't mean we won't look at color more. On the contrary, we will need it in the next chapter, Chapter 8, Stunning Aesthetics with CSS, where we will be looking at gradients, shapes, and so much more.
      </p>
      <h2>
        Resources
      </h2>
      <ul>
        <li>
          An introduction to OKLab color space: https://bottosson.github.io/posts/oklab/
        </li>
        <li>
          Great arguments for LCH: https://lea. verou. me/2020/04/LCH-colors-in-css-what-why-and-how/
        </li>
        <li>
          The latest CSS color specification: https://www.w3.org/TR/css-color-5/
        </li>
        <li>
          A video from Chris Lilley from the W3C explaining gamut reduction with OKLab: https:// www.youtube. com/watch?v=dOsp6u4bIwI
        </li>
        <li>
          A solid explainer on wide gamut color: https://webkit.org/blog/10042/wide-gamut-color-in-css-with-display-p3/
        </li>
        <li>
          An excellent and accessible overview of color in CSS: https://css-tricks. com/new-css-color-features-preview/
        </li>    
      </ul>
    </div>
  </div>
  
</body>
</html>
