<!DOCTYPE html> <!-- page222 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Introductory note
      </h2>
      <p>
        As we work through all these formats, be aware that there is no real "best" color format. They are all useful for certain applications. For example, I tend to use tried and tested hex values the majority of the time; they are the values that designers almost always supply me with and there is no value in converting them to another format. I tend to make use of one of the newer formats when I need to realize a certain style of gradient, for example, or use a color that simply can't be expressed with a hex or rgb (). Hopefully, the notion that there is no "best" format, only a "best format for this job," will become obvious as we work through the chapter.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          As we are concentrating on the practicalities of color in CSS, you should be aware there are other color formats or syntaxes that may be useful for a specific use case but that we don't cover here. HWB, for example, can also describe sRGB colors and uses a Hue, Whiteness, Blackness syntax. I have never found a need to use HWB, but that doesn't mean you won't! More on HWB here: https:// www.w3.org/TR/ css-color-4/#the-hwb-notation.
        </p>
      </section>
      <p>
        Right, let's get on and show you those colors you have never seen on your screen before.
      </p>
      <h2>
        Display-P3
      </h2>
      <p>
        P3 is a superset of sRGB and makes up to 50% more colors possible. It's the vivid end of the red, green, and blue colors that benefit the most, particularly the green.
        <br><br>
        Before I get you too excited, a couple of caveats. Firstly, you will need a browser that supports P3; I'm using Safari 15.4. You'll also need to be using a modern enough screen to see these colors, or this is going to be a letdown on a par with the end of the Game of Thrones TV series.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          It is also almost redundant to point out that the images in this book will also be unable to convey the colors accurately. You will either have to trust me, or get that browser open and see for yourself.
        </p>
      </section>
      <p>
        OK, open example _07-01 and inspect the page with your development tools (in Safari, I'm doing Develop > Show Web Inspector). Select the first color "swatch" and open the color picker up for the background-color. What do you notice?
      </p>
    </div>
  </div>
  
</body>
</html>
