<!DOCTYPE html> <!-- page220 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Notice that the two we are primarily interested in for this chapter, sRGB and P3, are far smaller than others.
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 7.2: This image from Wikipedia (source: https://en.wikipedia.org/wiki/DCI-P3) shows how little sRGB represents when compared with P3 and other color spaces
        </p>
      </section>
      <p>
        All you need to appreciate for the understanding of this chapter is that there are many devices these days that are capable of displaying colors that our trusty RGB notations cannot express.
        <br><br>
        Larger gamuts are becoming more and more of a selling point with hardware. To exemplify, here is the paragraph from Dell's technical specifications describing the colors of the monitor 1 am looking at:
      </p>
    </div>
  </div>
  
</body>
</html>
