<!DOCTYPE html> <!-- page219 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Or, if you prefer percentages:
      </p>
      <code>
        .redness-alpha-rgba {
          color: rgb (254 2 8 / 80%) ;
        }
      </code>
      <p>
        So, now you know the syntax we will be using for all the new color formats, let's cover some groundwork before taking an in-depth look.
      </p>
      <h2>
        Color concepts and terminology
      </h2>
      <p>
        With the formats we have looked at so far, it has not been necessary to burden you with too much color background to make practical use of the techniques and syntax we have been using. As we look at the newer formats, syntaxes, and capabilities, we likely need to extend our "palette" (pun intended) of information in order to make better sense of it all.
        <br><br>
        Therefore, before we get into things proper, it would serve us well to define a couple of terms we will be using throughout the remainder of the chapter.
      </p>
      <h2>
        Color space
      </h2>
      <p>
        Different color spaces exist to describe varying amounts of color. In the print world, most are familiar with CMYK color space, where Cyan, Magenta, Yellow, and Black are mixed to create the colors you wish to see printed. With correctly calibrated equipment, the color you see on screen is the color you will see printed. For us workers in the web world, sRGB, the standard color space on the web, is the color space that we are most familiar with (created by HP and Microsoft in 1996 for computer monitors). It is a system that lets us specify colors as varying amounts of Red, Green, and Blue.
        <br><br>
        From a technical perspective, a color space is a mathematical representation of colors. It is a way ofplotting, as numbers, using varying parameters, all the possible colors that a given color space can represent.
        <br><br>
        As we will see momentarily, CSS now lets us define colors in different color spaces too.
      </p>
      <h2>
        Gamut
      </h2>
      <p>
        For our purposes, when we talk about gamut, we are typically talking about the range of possible colors that a device can display. A modern display can display more colors than the displays of yesteryear. The following image shows the comparative gamuts of a tew color spaces.
      </p>

       
    </div>
  </div>
  
</body>
</html>
