<!DOCTYPE html> <!-- page344 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        This will provide the best visual performance, as it's a process typically offloaded to the graphies processor, which excels at such tasks:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.20: With a click, we slide over our menu
        </p>
      </section>
      <p>
        For larger viewports, we hide the menu buttons and merely position the navigation to the left and move the main content over to accommodate:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.21: Where screen size allows, we can show the menu by default
        </p>
      </section>

       
    </div>
  </div>
  
</body>
</html>
