<!DOCTYPE html> <!-- page333 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <code>
        width: 200px;
      <br><br>  
        background-color: #999;
      <br><br>  
        top: 50%; left: 50%;
      <br><br>  
        transform: translate(-50%, -50%);
      <br><br>  
      }
      </code>
      <p>
        And here is the result:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.10: With a smart application of transform, overflow issues are avoided
        </p>
      </section>
      <p>
        Here, top and left are positioning the inner box inside its container so that the top-left corner of the inner box starts at a point 50% along and 50% down the outer box. Then, transform is working on the inner element and positioning it negatively in those axes by half (- 50%) of its own wiath and height. Nice!
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          One aspect of what we learned here bears repeating. When using percentages in transforms, remember that they are a percentage of the element being transformed, not its parent.
        </p>
      </section>
       
    </div>
  </div>
  
</body>
</html>
