<!DOCTYPE html> <!-- page332 -->
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <code>
        }
      <br><br>    
        .inner {
      <br><br>    
          position: absolute;
      <br><br>    
          height: 200px; 
      <br><br>    
          width: 200px;
      <br><br>    
          margin-top: -100px; 
      <br><br>    
          margin-left: -100px; 
      <br><br>    
          top: 50%; left: 50%;
      <br><br>    
        }
      </code>
      <p>
        You've perhaps done something similar to this yourself. When the dimensions of the absolutely positioned element are known (200 px x 200 px in this case), we can use negative margins to "pull" the item back to the center. However, what happens when you want to include content and have no way of knowing how tall it will be?
        <br><br>
        For example, let's add some random content to the inner box:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.9: Text overflowing our box can be fixed with transform
        </p>
      </section>
      <p>
        Yes, that problem! Right, let's use transform to sort this mess out:
      </p>
      <code>
        .inner {
          position: absolute;
      </code>
       
    </div>
  </div>
  
</body>
</html>
