<!DOCTYPE html> <!-- page327 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.3: Easings.net provides a handy visualization of a number of different timing functions
        </p>
      </section>
      <p>
        However, even if you can write your own cubic-bezier curves blindfolded, the likelihood is, for most practical situations, it makes little difference. The reason for this is that, like any visual flour-ish, it's necessary to employ transition effects subtly. For real-world implementations, transitions that occur over too great a period of time tend to make a site feel slow. For example, navigation links that take 5 seconds to transition are going to frustrate rather than wow your users. The perception of speed is incredibly important for our users, and you and I must concentrate on making websites and applications feel as fast as possible.
      </p>

       
    </div>
  </div>
  
</body>
</html>
