<!DOCTYPE html> <!-- page345 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Finally, to cater to anyone that preters reduced motion, we use a media query to prevent movement when the menu is opened and closed:
      </p>
      <code>
        @media (prefers-reduced-motion) {
          .navigation-menu { 
            transition: none;
          }
        }
      </code>
      <p>
        If you open the example in the browser, you can simulate the different eventualities with the developer tools by changing the js class on the html element to no-js to see how it would look without JavaScript. Also, you can emulate the prefers-reduced-motion in Chrome by opening the Dev Tools Command Palette and typing prefers-reduced-motion, and then clicking the option to emulate it.
      <br><br>  
        This is a simplified example, but hopefully it's apparent that embracing a progressive enhancement approach ensures the widest possible audience will get a workable experience from your design. Remember, your users don't need visual parity, but they might appreciate functional parity.
      </p>
      <h2>
        Animating with CSS
      </h2>
      <p>
        If you've worked with applications like Final Cut Pro or After Effects, you'll have an instant advantage when working with CSS animations. CSS employs animation keyframing conventions found in timeline-based applications.
      <br><br>  
        If you have never worked with keyframes or even come across the term, here is all you need to know. When you are devising an animation, you will choose key moments where things need to be in a certain position. Imagine a bouncing ball. At first, it is in the air, which would be one keyframe, and then it is on the floor, another keyframe. When you specify keytrames, the animation knows how to fill in the blanks between them and create the animation.
      <br><br>  
        There are two components to a CSS animation; first, writing a set of keyframes inside an @keyframes at-rule declaration, and then employing that keyframe animation with the animation property and associated values. Let's take a look.
      <br><br>  
        In a previous example, we made a simple flip effect on elements that combined transforms and transitions. Let's bring together all the techniques we have learned in this chapter and add an animation to the previous example. In the following example, example_11-08, let's add a pulsing animation effect around our element once it has flipped.
      </p>
       
    </div>
  </div>
  
</body>
</html>
