<!DOCTYPE html> <!-- page323 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        I you open up example l- 2, you see a few links in a nav. Here's the relevant markus
      </p>
      <code>
        &lt;nav&gt;
        <br><br>
        &lt;a href="#"&gt; ink1 &gt;/a&gt;
        <br><br>
        &lt;a href="#"&gt; link2 &gt;/a&gt;
        <br><br>
        &lt;a href="#"&gt; link3 &gt;/a&gt;
        <br><br>
        &lt;a href="#"&gt; link4 &gt;/a&gt;
        <br><br>
        &lt;a href="#"&gt; link5 &gt;/a&gt;
        <br><br>
        &lt;/nav&gt;
      </code>
      <p>
        And here's the relevant CSS:
      </p>
      <code>
        a {
      <br><br>
          font-family: sans-serif; color: #fff;
      <br><br>
          text-indent: 1rem;
      <br><br>
          background-color: #ccc; display: inline-flex;
      <br><br>
          flex: 1 1 20%;
      <br><br>
          align-self: stretch; align-items: center;
      <br><br>
          text-decoration: none;
      <br><br>
          transition: box-shadow 15;
      <br><br>
        }
      <br><br>
        a + a {
      <br><br>
          border-left: 1px solid #aaa;
      <br><br>
        }
      <br><br>
        a: hover {
      <br><br>
          box-shadow: inset 0 -3px 0 #cc3232;
      <br><br>
        }    
      </code>
      <p>
        And here are the two states; first, the default:
      </p> 
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.1: Two links, in their default state
        </p>
      </section>
      <p>
        And then here's the hover state:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11,2: When hovered, we underline the link
        </p>
      </section>
    </div>
  </div>
  
</body>
</html>
