<!DOCTYPE html> <!-- page342 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        If you look at the top example, you will see it flip behind the bottom button and end 120 px closer to the screen (minus values effectively pull it back toward you):
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.17: Elements can be moved forward and backward in the Z plane
        </p>
      </section>
      <p>
        On the other hand, the bottom button flips around horizontally and ends with the button 120 px further away from you:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 11.18: Here, the element ends "further away"
        </p>
      </section>
      <p>
        Although translated (), like the other transforms, is very well supported, it actually got pushed into the later CSS Transforms Module Level 2 specification. You can read about that here: https: // www.w3.org/TR/css-transforms-2/.
      </p>
      <h2>
        A progressive enhancement example using translate3d
      </h2>
      <p>
        An area I have found using translated useful in is sliding panels on and off the screen, particularly "off-canvas" navigation patterns. If you open example_11-07, you'll see I have created a basic, progressively enhanced, off-canvas pattern.
      </p>
       
    </div>
  </div>
  
</body>
</html>
