<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        11
      </h2>
      <h2>
        Transitions, Transformations, and Animations
      </h2>
      <p>
        CSS can handle the majority of motion requirements using CSS transitions and transforms, or CSS animations.
        <br><br>
        To clearly understand what transitions, transforms, and animations do, I will offer this, perhaps overly simplistic, summary:
      </p>
      <ul>
        <li>
          A CSS transition is used to define how one visual state should move (transition) to an-other, differing visual state.
        </li>
        <li>
          A CSS transform is used to take an existing element and transform it into something or someplace else without affecting any other elements on the page. For example, "make this twice as big" and "move this 100 px to the right" are plain text descriptions of tasks we can achieve with CSS transforms. However, the transform doesn't control how the element makes that change; that is the job of the transition.
        </li>
        <li>
          A CSS animation is typically used to make a series of changes to an element.
        </li>       
      </ul>
      <p>
        If chose differences seem a little vague at this point, hopefully, by the end of this chapter, they won t.
        <br><br>
        In this chapter, we'll cover:
      </p>
      <ul>
        <li>
          What CSS transitions are and how to use them
        </li>
        <li>
          Writing CSS transitions and understanding the shorthand syntax
        </li>
        <li>
          CSS transition timing functions (ease, cubic-bezier, and so on)
        </li>
        <li>
          What CSS transforms are and how to use them
        </li>       
      </ul>
       
    </div>
  </div>
  
</body>
</html>
