<!DOCTYPE html> <!-- page303 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <code>
        --stroke2: #fff;
        <br><br>
        --f1112: #ffc266;
        <br><br>
      }
      </code>
      <p>
        <!-- text here-->
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 10.7: CSS custom properties make recoloring SVGs simple
        </p>
      </section>
      <p>
        Then, to prove how easy it is to amend it further still, if you open the example, you will see a button that uses a tiny bit of JavaScript to toggle a class on the page, adding or removing the . amended class. This allows us to have two further sets of colors for this shape:
      </p>
      <code>
      .amended .shape {
      <br><br>  
        --stroke1: #080b2b;
      <br><br>  
        --fill1: #141a67;
      <br><br>  
        --fill2: #192183;
      <br><br>  
        --stroke2: #2d3ad7;
      <br><br>  
      ｝
      <br><br>  
      .amended .shape:hover {
      <br><br>  
        --stroke1: #092b08;
      <br><br>  
        --fill1: #125610;
      <br><br>  
        --fi112: #2dd728;
      <br><br>  
        --stroke2: #1b8118;
      <br><br>  
      }
    </code>
       
    </div>
  </div>
  
</body>
</html>
