<!DOCTYPE html> <!-- page319 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          Automate as many steps in the asset creation process as possible; this reduces human error and produces predictable results faster.
        </li>
        <li>
          To insert static SVGs in a project, pick a single delivery mechanism and stick to it (image sprite, data URI, or inline). It can become a burden to produce some assets one way and some another and maintain the various implementations.
        </li>
        <li>
          There is no easy "one size fits all" choice with SVG animation. For occasional and simple animations, use CSS. For complex interactive or timeline-style animations, lean on a proven library such as GreenSock. Or, look at using the JavaScript Web Animations API.
        </li> 
      </ul>
      <p>
        These are just guides, not gospel. There will be times when you need to make a choice that may seem counter-intuitive to conventional wisdom. But at least if you have taken in the details here, you will be able to make informed choices when it comes to working with SVG.
      </p>
      <h2>
        Summary
      </h2>
      <p>
        This has been a dense chapter. We have covered a lot of the essential information needed to start making sense of and implementing SVGs in a responsive project. We have considered the different graphics applications and online solutions available to create SVG assets, then the various insertion methods possible and the capabilities each allows, along with the various browser peculiarities to be aware of.
        <br><br>
        We've also considered how to link to external style sheets and reuse SVG symbols from within the same page and when referenced externally. We even looked at how we can make filters with SVG that can be referenced and used in CSS.
        <br><br>
        Finally, we considered how to make use of JavaScript libraries to aid animating SVGs, as well as how to optimize SVGs with the aid of the SVGO tool.
        <br><br>
        In the next chapter, we'll be looking at CSS transitions, transforms, and animations. I's also worth reading that chapter in relation to SVG, as many of the syntaxes and techniques can be used and applied in SVG documents too.
      </p>
      <h2>
        Further resources
      </h2>
      <p>
        As I mentioned at the start of this chapter, I have neither the space nor the knowledge to impart all there is to know about SVG. Therefore, I'd like to make you aware of the following excellent resources, which provide additional depth and range on the subject:
      </p>
      <ul>
        <li>
          SVG Essentials, 2nd Edition, by J. David Eisenberg and Amelia Bellamy-Royds: https:// www.oreilly. com/library/view/svg-essentials-2nd/9781491945308/
        </li>
      </ul>
    </div>
  </div>
  
</body>
</html>
