<!DOCTYPE html> <!-- page320 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          "A Guide to SVG Animations (SMIL)" by Sara Soueidan: https://css-tricks.com/guide-svg-animations-smil/
        </li>
        <li>
          Testing media queries inside SVGs, by Jeremie Patonnier: http:// jeremie.patonnier.net/experiences/svg/media-queries/test.html
        </li>
        <li>
          An SVG Primer for Today's Browsers: https: //www.w3.org/Graphics/SVG/IG/resources/svgprimer.html
        </li>
        <li>
          "Understanding SVG Coordinate Systems and Transformations (Part 1)" by Sara Soueidan: https://sarasoueidan. com/blog/svg-coordinate-systems/
        </li>
        <li>
          "Hands On: SVG Filter Effects": https://testdrive-archive.azurewebsites.net/Graphics/hands-on-css3/hands-on_svg-filter-effects.htm
        </li>
        <li>
          The full set of SVG tutorials by Jakob Jenkov: https://jenkov.com/tutorials/svg/index. html
        </li>  
      </ul>


       
    </div>
  </div>
  
</body>
</html>
