<!DOCTYPE html> <!-- page288 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        As vectors describe relative points, they can scale to any size, without loss of fidelity. Furthermore, in terms of data, as SVGs are described as vector points, it tends to make them tiny, compared to a comparably sized JPEG, GIF, or PNG file.
        Browser support for SVG is now widespread: https://caniuse.com/#search=svg.
      </p>
      <h2>
        An image that is also a readable web document
      </h2>
      <p>
        Ordinarily, if you view the code of an image file in a text editor, the resultant text is completely unintelligible.
        <br><br>
        Where SVG graphics differ is that they are actually described in a markup style language. SVG is written in Extensible Markup Language (XML), a close relative of HTML. Although you may not realize it, XML is everywhere on the internet. Do you use an RSS reader? That's XML right there. XML is the language that wraps up the content of an RSS feed and makes it consumable to a variety of tools and services.
        <br><br>
        So, not only can machines read and understand SVG graphics, but we can too.
        <br><br>
        Let me give you an example. Take a look at this star graphic:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 10.3: A basic SVG
        </p>
      </section>
      <p>
        This is an SVG graphic, called Star. svg, inside example_10-01. You can either open this example in the browser where it will appear as the star, or you can open it in a text editor, and you can see the code that generates it. Consider this:
      </p>
      <code>
        &lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
        &lt;svg
          width="198px"
          height="188px"
      </code>
    </div>
  </div>
  
</body>
</html>
