<!DOCTYPE html> <!-- page314 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        In essence, with the TweenLite. to() function, you pass in the thing you want to animate, the time over which the animation should occur, and then the values you want to change (and what you want them to change to).
        <br><br>
        The GreenSock site has excellent documentation and support forums, so if you find yourself needing to synchronize a number of animations at once, be sure to clear a day from your diary and familiarize yourself with GreenSock.
      </p>
      <h2>
        Using SVGs as filters
      </h2>
      <p>
        In Chapter 8, Stunning Aesthetics with CSS, we looked at the CSS filter effects. With help from SVG, we can create even more filters. In example_10-09, we have a page with the following markup inside the body:
      </p>
      <code>
        &lt;img 
          class="HRH" 
          src="queen@2x-1024x747.png" 
        /
      </code>
      <p>
        It's an image of Queen Elizabeth II of the United Kingdom. Ordinarily, it looks like this:
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          Figure 10.11: An image with no SVG filter applied
        </p>
      </section>
    </div>
  </div>
  
</body>
</html>
