<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h1>
        10
      </h1>
      <h1>
        SVG
      </h1>
      <p>
        SVG is an important technology for responsive web design as it provides pin-sharp and fu-ture-proof graphical assets for all screen resolutions.
        <br><br>
        Images on the web, with formats such as JPEG, GIF, or PNG, have their visual data saved as set pixels. If you save a graphic in any of those formats with a set width and height and zoom the image to twice its original size or more, their limitations can be easily exposed.
        <br><br>
        Here's a screen grab of just that; a PNG image I've zoomed into in the browser:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 10.1: The shortcomings of raster images are easy to see on today's high-definition screens
        </p>
      </section>

       
    </div>
  </div>
  
</body>
</html>
