<!DOCTYPE html> <!-- page289 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <code>
          viewBox="0 0 198 188" version="1.1"
          xmlns= "http://www.w3.org/2000/svg"
          xmlns:xlink= "http://www.w3.org/1999/xlink
          xmlns: sketch="http://www.bohemiancoding.com/sketch/ns"
        >
        &lt;! -- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch --&gt;
        <br><br>
        &lt;title&gt; Star 1 &lt;/title&gt;
        <br><br>
        &lt;desc&gt; Created with Sketch. &lt;/desc&gt;
        <br><br>
        &lt;defs&gt; &lt;/defs&gt;
        <br><br>
        &lt;g
          id="Page-1" 
        <br><br>
          stroke="none" 
        <br><br>
          stroke-width="1"
        <br><br>
          fill="none" 
        <br><br>
          fill-rule="evenodd"
        <br><br>
          sketch: type="MSPage"
        <br><br>
        &gt;

        &lt; polygon
        <br><br>
          id="Star-1"
        <br><br>
          stroke="#979797" 
        <br><br>
          stroke-width="3" 
        <br><br>
          fill="#F8E81C"
        <br><br>
          sketch: type="MSShapeGroup"
        <br><br>
          points="99 154 40.2214748 184.901699 51.4471742 119.45085 3.8943483773. 0983006 69.6107374 63.5491503 99 4 128.389263 63. 5491503194.105652 73. 0983006 146.552826 119.45085 157.778525 184.901699"
        <br><br>
        &gt; &lt;/polygon&gt;
        &lt;/g&gt;
        &lt;/ svg&gt;
      </code>
      <p>
        That is the entirety of the code needed to generate that star as an SVG graphic.
        <br><br>
        Now, ordinarily, if you've never looked at the code of an SVG graphic before, you may be wondering why you would ever want to. If all you want is vector graphics displayed on the web, you certainly don't need to. Just find a graphics application that will save your vector artwork as an SVG and you're done.
      </p>

       
    </div>
  </div>
  
</body>
</html>
