<!DOCTYPE html> <!-- page293 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        So, those are the guts of an SVG file, and hopefully now you have a high-level understanding of what's going on. While some will relish the opportunity to handwrite or edit SVG files in code. a great many more would rather generate SVGs with a graphics package. Let's consider some of the more popular choices.
      </p>
      <h2>
        Creating SVGs with popular image editing packages and services
      </h2>
      <p>
        While SVGs can be opened, edited, and written in a text editor, there are plenty of applications offering a Graphical User Interface (GUI) that make authoring complex SVG graphics easier.
        Perhaps the most obvious choice is Adobe's Illustrator (PC/Mac). However, it is expensive for casual users, so my own preference is either Bohemian Coding's Sketch (Mac only: https://www. sketch. com/), which still isn't cheap at $99 a year, or Figma, which is cross-platform and also uses a subscription-based model that is currently free for the starter plan. Check out Figma at https://www.figma.com/.
        If you use Windows/Linux and/or are looking for cheap options, consider the free and open source Inkscape (https://inkscape.org/en/). It's by no means the prettiest tool to work with, but it is very capable (if you want any proof, view the Inkscape gallery: ht tps://inkscape.org/ en/community/gallery/).
        Finally, there are a few online editors. Google has svg-edit (https://github. com/SVG-Edit/ svgedit). There is also DRAW SVG (https://www.drawsvg.org/) and Method Draw, an arguably better-looking fork of svg-edit (https://editor method.ac/).
      </p>
      <h2>
        Saving time with SVG icon services
      </h2>
      <p>
        The aforementioned applications all give you the capability to create SVG graphics from scratch.
        However, if it's icons you're after, you can probably save a lot of time (and, for me, get better results) by downloading SVG versions of icons from an online icon service.
      </p>
      <p>
        My personal favorite is ht tps://icomoon. io, although https:/ / fontastic.me is also great. To quickly illustrate the benefits of an online icon service, loading the https://icomoon. io application gives you a searchable library of icons (some free, some paid):
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 10.4: Online services can make it simple to get started incorporating SVGs
        </p>
      </section>
      <p>
        You select the ones you want and then click Download. The resultant file contains the icons as SVGs, PNGs, and also SVG symbols for placement in the defs element (remember that the defs element is a container element for referenced elements).
        <br><br>
        To see for yourself, open example_10-02. You can see the resultant downloaded files after I'd chosen five icons from https://icomoon.io.
      </p>
      <h2>
        Inserting SVGs into your web pages
      </h2>
      <p>
        There are a number of things that you can do with SVG images that you can't do with normal image formats (JPEG, GIF, and PNG). The range of what's possible is largely dependent on the way that the SVG is inserted into the page.
        <br><br>
        So, before we get to what we can actually do with SVGs, we'll consider the various ways we can actually get them on the page in the first place.
      </p>
    </div>
  </div>
  
</body>
</html>
