<!DOCTYPE html> <!-- page287 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          Styling SVGs with internal styles
        </li>
        <li>
          Re-coloring and animating SVGs with CSS
        </li>
        <li>
          Media queries and SVGs
        </li>
        <li>
          Optimizing SVGs
        </li>
        <li>
          Using SVGs to define filters for CSS
        </li>
        <li>
          Manipulating SVGs with JavaScript and JavaScript libraries
        </li>
        <li>
          Implementation tips
        </li>
        <li>
          Further resources
        </li>  
      </ul>
      <p>
        SVG is a dense subject. Which portions of this chapter are most relevant to your needs will depend on what you actually need from SVG. Hopefully, I can offer a few shortcuts right up front.
        <br><br>
        If you simply want to replace static graphical assets on a website with SVG versions, for sharper images and/or smaller file sizes, then look at the shorter sections on using SVG as background images and within img tags.
        <br><br>
        If you're curious about what applications and services can help you generate and manage SVG assets, skip to the Creating SVGs with popular image editing packages and services section for some useful links and pointers.
        <br><br>
        If you want to understand SVG more fully, or animate and manipulate SVG, you better get yourself comfy and get a double size of your favorite beverage, as this may take a while.
        To begin our journey of understanding, step back with me into 2001.
      </p>
      <h2>
        A brief history of SVG
      </h2>
      <p>
        The first release of SVG was in 2001. That was not a typo. SVG has been "a thing" since 2001.
While it gained traction along the way, it's only since the advent of high-resolution devices that SVGs have received widespread interest and adoption. Here is the introduction to SVGs from the 1.1 specification (https://www.w3.org/TR/SVG11/intro.html):
      </p>
      <p>
        SVG is a language for describing two-dimensional graphics in XML (XML10). SVG allows for three types of graphic objects: vector graphic shapes (for paths consisting of straight lines and curves, images, and text.
      </p>
      <p>
        As the name implies, Scalable Vector Graphics allow two-dimensional images to be described in code as vector points. This makes them a great candidate for icons, line drawings, and charts,
      </p>
    </div>
  </div>
  
</body>
</html>
