<!DOCTYPE html> <!-- page286 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Can you see how the image looks obviously pixelated? Here is the exact same image saved as a vector image, in SVG format, and zoomed to a similar level:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 10.2: An SVG looks sharp, regardless of the display size
        </p>
      </section>
      <p>
        Hopefully, the difference is obvious.
        <br><br>
        Unless you are dealing with photographic imagery, using SVG rather than JPEG, GIF, or PNG for any kind of vector artwork will produce resolution-independent graphics that require far smaller file sizes.
        <br><br>
        While we will touch upon many aspects of SVG in this chapter, the focus will be on how to integrate them into your workflow, while also providing an overview of what is possible with SVG.
        <br><br>
        In this chapter, we will cover:
      </p>
      <ul>
        <li>
          SVG, a brief history, and an anatomy of a basic SVG document
        </li>
        <li>
          Creating SVGs with popular image editing packages and services
        </li>
        <li>
          Inserting SVGs into a page with img and object tags
        </li>
        <li>
          Inserting SVGs as background images
        </li>
        <li>
          Inserting SVGs directly (inline) into HTML
        </li>
        <li>
          Reusing SVG symbols
        </li>
        <li>
          Referencing external SVG symbols
        </li>
        <li>
          What capabilities are possible with each insertion method
        </li>
        <li>
          Animating SVGs with SMIL
        </li>
        <li>
          Styling SVGs with an external style sheet
        </li>       
      </ul>
    </div>
  </div>
  
</body>
</html>
