<!DOCTYPE html> <!-- page425 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Our horizontal slider looks like this on an iPhone 13 mini, running iOS 15.5:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 15.3: A horizontal scrolling panel
        </p>
      </section>
      <p>
        The markup pattern looks like this; note that I'm just showing the first item in the list for brevity:
      </p>
      <code>
        &lt;div class="Scroll_wrapper",
        <br><br>
        &lt;figure class="Item"&gt;
        <br><br>
        &lt;img src="Sun-jpg" alt="Our sun in space" /&gt;
        <br><br>
          &lt;figcaption class="Caption"&gt; The Sun &lt;/figcaption&gt;
          <br><br>
            &lt;p&gt;
            <br><br>
              The Sun ...
              <br><br>
            &lt;/p&gt;
            <br><br>
        &lt;/figure&gt;
      </code>
       
    </div>
  </div>
  
</body>
</html>
