<!DOCTYPE html> <!-- page441 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        It will show you a complete analysis of the page, but even more usefully, if you choose the visual comparison option, it shows a "filmstrip" view of the loaded page, allowing you to concentrate on getting the rendered page completed sooner. Here's an example of the "filmstrip" view of the previous version of the https://rwd. education home page:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 15.10: Seeing the page load as a filmstrip can really tell the story of performance
        </p>
      </section>
      <p>
        Even the free tier of this service will offer practical advice on what to do to make your website load faster and be more accessible. I learn something new almost every time I test a site there!
        <br><br>
        There are also increasingly powerful pertormance tools built into browser developer tools. Al-though, you should be aware these can be a little intimidating at first use. It can feel a little like opening something like After Effects for the first time and wondering what on earth you are supposed to do!
      </p>


       
    </div>
  </div>
  
</body>
</html>
