<!DOCTYPE html> <!-- page434 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Parting advice
      </h2>
      <p>
        All that is left, in the remainder of the chapter, and indeed the book (please, don't cry-you'll start me off), is for me to offer what I feel are the most important considerations for any responsive web project. Here goes.
      </p>
      <h2>
        Getting designs in the browser as soon as possible
      </h2>
      <p>
        The more responsive web work I have done, the more important I have found it to get designs up and running in a browser environment as soon as possible. If you are a designer as well as a developer, then that simplifies matters. As soon as you have enough of a feel, visually, for what you need, you can get it prototyped and develop the idea further in a browser environment.
        <br><br>s
        If you are primarily a developer, then this can aid the design process hugely in order to get the design living and breathing in the browser. Without fail, every project that I work on gets revised in some way as a result of the designs being built in the browser. That isn't a failure of the original flat designs; it's a consequence of realizing that the design is just a step towards realizing an idea. And seeing it working in a browser is one step closer.
        <br><br>s
        There is a slew of problems that can only be solved by seeing the design in a browser. What about all those device and browser window sizes? What about the interactivity that occurs when the user opens a menu? How long should that introductory animation run for? And is it too much anyway? These are the kind of design decisions that can only be made when the design is realized in a browser.
      </p>
      <h2>
        Testing on real devices
      </h2>
      <p>
        If you can, start to build up a "device lab" of older devices (phones/tablets) to view your work on. Having a number of varied devices is hugely beneficial. Not only does it let you feel how a design actually works across different devices, but it also exposes layout/rendering peculiarities earlier in the process. Atter all, no one enjoys believing that they have finished a project only to be told it doesn't work properly in a certain environment. Test early, and test often! Buying extra devices need not cost the earth. For example, you can pick up older phone and tablet models on eBay, or buy them from friends/relatives as they upgrade.
      </p>
      <h2>
        Embracing progressive enhancement
      </h2>
      <p>
        In previous chapters, we have considered the notion of progressive enhancement. It's an approach to development that I have found so useful in practice that I think it bears repeating.
      </p>
       
    </div>
  </div>
  
</body>
</html>
