<!DOCTYPE html> <!-- page442 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Delving into the developer tools in any detail is beyond our discussion scope here, but let's consider some of the kinds of information you can get at to improve the performance of your site.
        <br><br>
        If you're working on something that uses a lot of JavaScript or video, which is sure to negatively affect the device battery, then the CPU timeline feature of Safari (macOS only, unfortunately) may be of interest: https: //webkit.org/blog/8993/cpu-timeline-in-web-inspector/.
        <br><br>
        Firefox has the Profiler tool, which mercifully has a full guide here: https://profiler.firefox. com/docs/#/. It can give you incredibly detailed information, including the same kind of filmstrip feedback we saw in Web Page Test. I'll confess to finding it a little unapproachable, especially when we are typically looking for the "low-hanging fruit" when it comes to fixing up our sites.
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 15.11: Firefox Profiler is powerful but perhaps overkill
        </p>
      </section>


       
    </div>
  </div>
  
</body>
</html>
