<!DOCTYPE html> <!-- page436 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Whatever your scenario, the key thing is to establish what your starting point is. Then, and only then, can you define and agree on what visual and functional experiences the different browsers and devices that you intend to support will get.
      </p>
      <h2>
        Functional parity, not visual parity
      </h2>
      <p>
        It's both unrealistic and undesirable to get any website looking and working the same in every browser. Besides quirks that are specific to certain browsers, there are essential functional con-siderations. For example, we have to consider things like touch targets for buttons and links on touchscreens that aren't relevant to mouse-based devices.
        <br><br>
        Therefore, some part of your role as a responsive web developer is to educate whoever you are answerable to (your boss, client, or shareholders) that "supporting older browsers" does not mean "looking the same in older browsers." The line I tend to run with is that all browsers in the support matrix will get functional parity, not visual parity. This means that if you have a checkout to build, all users will be able to go through the checkout and purchase goods. There may be visual and interaction flourishes afforded to the users of more modern browsers, but the core task will be achievable by all.
        <br><br>
        Plus, we are in somewhat of a golden era when it comes to support for CSS features. There are still some features you can only get in one browser, but the overwhelming majority of important features nowadays enjoy broad support.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          Browser vendors themselves have even had programs to ensure greater interopera-bility. Read more about that here: https://web.dev/interop-2022/.
        </p>
      </section>
      <h2>
        Choosing the browsers to support
      </h2>
      <p>
        Typically, when we talk about which browsers to support, we're talking about how far back we need to look. Here are a couple of possibilities to consider, depending on the situation.
        <br><br>
        If it's an existing website, take a look at the visitor statistics (for example, Google Analytics or similar). Armed with some figures, you can do some rough calculations. For example, if the cost of supporting browser X is less than the value produced by supporting browser X, then support browser X!
      </p>
       
    </div>
  </div>
  
</body>
</html>
