<!DOCTYPE html> <!-- page439 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        These are the choices you will probably face as you code more and more complex responsive web designs, and you'll need to use your own judgment as to what the best choice is in any given scenario. However, it's not a cardinal sin if you toggle the visibility of the odd bit of markup with display: none to achieve your goal.
      </p>
      <h2>
        Validators and linting tools
      </h2>
      <p>
        Generally speaking, writing HTML and CSS is pretty forgiving. You can nest the odd thing incor-rectly, miss the occasional quotation mark or self-closing tag, and not always notice a problem. Despite this, on an almost weekly basis, I manage to befuddle myself with incorrect markup. Sometimes, it's a slip-up, like accidentally typing an errant character. Other times, it's schoolboy errors like nesting a div inside a span (invalid markup as a span is an inline element and a divis a block-level element, which leads to unpredictable results).
        <br><br>
        Thankfully, there are great tools to help out. At worst, if you're encountering a weird issue, head over tohttps://validator.w3.org/ and paste your markup in there. It will point out any errors along with line numbers, helping you to easily fix things up:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 15.8: Skip the validation of HTML at your peril!
        </p>
      </section>
      <p>
        Better still, install and configure linting tools for your HTML, CSS, and JavaScript. Or, choose a text editor with some sanity checking built in. Then, problem areas are flagged up in your code as you go.
      </p>


       
    </div>
  </div>
  
</body>
</html>
