<!DOCTYPE html> <!-- page444 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        The next big things
      </h2>
      <p>
        One of the interesting things about front-end web development is that things change rapidly.
        There is always something new to learn and the web community is always figuring out better, faster, and more effective ways of solving problems.
        <br><br>
        For example, when writing the first edition of this book, over ten years ago, responsive images (sreset and the picture element, which are detailed in Chapter 9, Responsive Images) simply didn't exist. Back then, we had to use clever third-party workarounds to serve up more appropriate images to different viewport sizes. Now, that common need has been rationalized into a W3C standard, which has been implemented across browsers.
        <br><br>
        Similarly, only a few years ago, Flexbox was just a twinkle in a specification writer's eyes. Even when the specification evolved, it was still difficult to implement until a super-smart developer called Andrey Sitnik, along with his colleagues at Evil Martians (https://evilmartians.com/) created Autoprefixer. This was a tool that allowed us to write a single syntax and have our CSS be processed into code that could work across multiple implementations as if by magic. Skip forward a few more years and prefixing CSS values is a practice few even need to concern themselves with.
        <br><br>
        Progress on the web shows little sign of abating. Even now, things like WebAssembly, or WASM, as itis often referred to, are gaining more and more traction. WebAssembly is a means of having web code that runs far more akin to the speed of a compiled language. In short, it will make things on the web feel a whole lot faster. Lin Clark, a developer at the browser-maker Mozilla, has a very accessible series on WebAssembly here: https://hacks.mozilla.org/2017/02/a-cartoon-intro-to-webassembly/. Design tools you may be familiar with, such as Figma, make extensive use of WebAssembly: https://www.figma. com/blog/webassembly-cut-figmas-load-time-by-3x/.
        <br><br>
        And due to the current infancy and few implementations, in this book, we didn't even look at things like scroll-linked animations, @when/else for "logic" in CSS, scoped styles to isolate styles to a particular section of the DOM, or the @property CSS at-rule for creating your own properties.
        <br><br>
        In short - expect change, and embrace it!
      </p>


       
    </div>
  </div>
  
</body>
</html>
