<!DOCTYPE html> <!-- page422 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <ul>
        <li>
          Embracing progressive enhancement
        </li>
        <li>
          Defining a browser support matrix
        </li>
        <li>
          Avoiding CSS frameworks in production
        </li>
        <li>
          Hiding, showing, and loading content at different viewports
        </li>
        <li>
          Validators and linting tools
        </li>
        <li>
          Performance
        </li>
        <li>
          The next big things
        </li>
      </ul>
      <p>
        Right, now pay attention, 007...
        <br><br>
        In my day-to-day work, I've found that I use some CSS features constantly and others hardly ever. I thought it might be useful to share those I've used most often, especially those that pop up time and again with responsive projects.
        <br><br>
        These are in no particular order. None are more important than any other. Just dip in if and when you need them.
      </p>
      <h2>
        Truncating text
      </h2>
      <p>
        Sometimes, you encounter a situation where space is limited and you would prefer to see text truncated rather than wrapped. We've been trained to spot truncated text on websites for years with the ellipsis symbol "...".
      </p>
      <h2>
        Single-line truncation
      </h2>
      <p>
        This is straightforward in CSS. Consider this markup (you can view this example in example_ 15-01):
      </p>
      <code>
        &lt;p class="truncate"&gt;
        <br><br>
          OK, listen up, I've figured out the key to eternal happiness. All you need to do is eat lots of scones.
          <br><br>
        &lt;/p&gt;
      </code>
      <p>
        However, we actually want to truncate the text at 530 px wide, so it looks like this:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 15.1: Truncation is handy when keeping dimensions constant is of paramount importance
        </p>
      </section>
       
    </div>
  </div>
  
</body>
</html>
