<!DOCTYPE html> <!-- page443 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Typically, I tend to use Lighthouse, which has its own tab in the Google Chrome developer tools. Point it at a site and it will give you a breakdown of where improvements can be made:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 15.12: The Lighthouse tools not only tell you what you can improve, but they tell you how to do it
        </p>
      </section>
      <p>
        It's such a great tool, as every piece of advice has links to additional documentation, so you read more about the problem and potential ways of addressing it.
        <br><br>
        If you are new to looking at the performance of the sites you are making, my advice would be to start with Lighthouse and go deeper only if you feel you need or want to. If you have four scores close to 100 in Lighthouse, you've done a decent job.
      </p>
      <section>
        <object>
          icon here
        </object>
        <p>
          Whenever you try to optimize performance, ensure you take measurements before you begin (otherwise, you will not understand how effective your performance work has been). Then make amendments, test, and repeat.
        </p>
      </section>

       
    </div>
  </div>
  
</body>
</html>
