<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        15
      </h2>
      <h2>
        Bonus Techniques and Parting Advice
      </h2>
      <p>
        In my favorite stories and films, there's usually a scene where a mentor passes on valuable advice and some magical items to the hero. You know those items will prove useful; you just don't know when or how.
        <br><br>
        Well, I'd like to assume the role of mentor in this final chapter —besides, my hair has waned, and I don't have the looks for the hero role. I would like you, my fine apprentice, to spare me just a few more moments of your time while I offer up some final words of advice before you set forth on your responsive quest.
        <br><br>
        This chapter will be half philosophical musings and guidance, and half a grab-bag of unrelated tips and techniques. I hope, at some point in your responsive adventures, these tips will prove useful.
      </p>
      <p>
        Here's the grab-bag of tips we'll cover:
      </p>
      <ul>
        <li>
          Truncating text; single-line and multi-line
        </li>
        <li>
          Creating horizontal scrolling panels
        </li>
        <li>
          Customizing scrollbars
        </li>
        <li>
          Using CSS Scroll Snap
        </li>
        <li>
          Smooth scrolling with CSS scroll-behavior
        </li>      
      </ul>
      <p>
        And here are the topics I will suggest guidance on:
      </p>
      <ul>
        <li>
          Getting designs in the browser
        </li>
        <li>
          Testing on real devices
        </li>
      </ul>
       
    </div>
  </div>
  
</body>
</html>
