<!DOCTYPE html> <!-- page445 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Summary
      </h2>
      <p>
        As we reach the end of our time together, your humble author hopes to have related all the essential techniques and tools you'll need to start building your next website or web application responsively.
        <br><br>
        It's my conviction that, by approaching web projects with a little forethought, and by potentially making a few modifications to existing workflows and practices, it's possible to embrace modern techniques that provide fast, flexible, accessible, and maintainable websites that can look incredible, regardless of the device used to visit them.
        <br><br>
        We've covered a wealth of information in our time together: techniques, technologies, performance optimizations, specifications, workflow, tooling, and more. I wouldn't expect anybody to absorb it all in one read.
        <br><br>
        Therefore, the next time you need to remember this or that syntax, or to refresh your mind about one of the responsive-related subjects we've covered, I hope you'll dip back into these pages; I'll be right here waiting for you.
        <br><br>
        Until then, I wish you good fortune in your responsive web design quests.
        <br><br>
        See you again sometime.
      </p>
      <h2>
        Join our book's Discord space
      </h2>
      <p>
        Before you embark on your responsive journey, join the book's Discord workspace to discuss all your responsive web design concerns directly with the author and interact with other readers:
      </p>
      <section>
        <p>
          https://packt.link/RWD4e
        </p>
        <object>
          qr code
        </object>
      </section>

       
    </div>
  </div>
  
</body>
</html>
