<!DOCTYPE html> <!-- page440 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Here's an example of a simple spelling error in CSS flagged up by the LSP (Language Server Pro-tocol) in the Neovim editor:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 15.9: Embrace tooling that saves you from basic mistakes
        </p>
      </section>
      <p>
        Like a clown, I've clumsily typed "marrgin" instead of "margin". The editor has spotted this fact and pointed out the error of my ways. Embrace these tools where possible. There are better uses of your time than tracking down simple syntax errors in your code.
      </p>
      <h2>
        Performance
      </h2>
      <p>
        Considering the performance of your responsive web designs is as important as the aesthetics.
        However, performance presents something of a moving target. For example, browsers update and improve the way they handle assets, new techniques are discovered that supersede existing "best practices," and technologies eventually get enough browser support that they become viable for widespread adoption. The list goes on.
        <br><br>
        There are, however, some basic implementation details that are pretty solid advice. These are:
      </p>
      <ul>
        <li>
          Minimize the page weight. If you can compress images to a fraction of their original size, you should. This should always be your first task with optimizing. It's possible to double the file size savings by compressing one image compared to compressing and minifying all of your CSS and JavaScript. We looked at image optimization more fully in Chapter 9, Responsive Images.
        </li>
        <li>
          Defer non-essential assets. If you can load any additional CSS and JavaScript after the page has initially rendered, it can greatly reduce the perceived load time.
        </li>
        <li>
          Ensure the page is usable as soon as possible, which is often a byproduct of doing all the preceding points.
        </li>
      </ul>
      <h2>
        Performance tools
      </h2>
      <p>
        There are great tools available to measure and optimize performance. My personal favorite is https://webpagetest.org. At its simplest, you can pick a URL and click on START TEST.
      </p>

       
    </div>
  </div>
  
</body>
</html>
