<!-- page29 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div>
    <div>
        <p>There's only a limited number of self-closing, or void, elements, which are listed here: https:// html. spec.whatwg.org/multipage/syntax.html#void-elements. Presently, the void tags are area, base, br, col, embed, hr, img, input, link, meta, param, source, track, and wbr.
        <br><br>
        Although we are about to start our understanding of HTML by covering the head section, which is the content between the opening &lt;head&gt; and closing &lt;/head&gt; tags, be aware that the lion's share of HTML authoring is done in the body section.
        <br><br>
        However, as ever, the best place to start is at the beginning.
        </p>
        <h2>Getting the start of HTML pages right</h2>
        <p>Let's consider the opening elements of an HTML page and ensure we fully understand all the essential component parts.
        <br><br>
        Like so many things with the web, remembering the exact syntax of each thing inside the head section is not particularly important. Understanding what each thing is for, is. I generally copy and paste the opening code each time, or have it saved in a text snippet, and I would recommend you do too. The first few lines in an HTML page should look something like this:
        </p>
        <code>
        &lt;! DOCTYPE html&gt;
        <br><br>
        &lt;html lang="en"&gt;
        <br><br>
        &lt;head&gt;
        <br><br>
        &lt;meta charset="utf-8"/&gt;
        </code>

        <h2>The doctype</h2>
        <p>So, what do we actually have there? First of all, we opened our document with the HTML5 Doc-type declaration:</p>
        <code>&lt;! DOCTYPE html&gt;</code>
        <p>If you're a fan of lowercase, then ‹ ! doctype html › is just as good. It makes no difference.</p>
        <h2>The HTML tag and lang attribute</h2>
        <p>After the Doctype declaration, we open the HTML tag; the first, and therefore root tag for our doc-ument. We also use the lang attribute to specify the language for the document, and then we open the head section:<p>
        <code>
            &lt;html lang="en"&gt;
                &lt;head&gt;
        </code>
    </div>
  </div>
</body>
</html>