<!-- page40 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>The < figure> and <figcaption> elements</h2>
        <p>The HTML specification relates that the figure element:</p>
        <p>...can thus be used to annotate illustrations, diagrams, photos, code listings, etc.</p>
        <p>So, we use it as an element to call out visuals of any sort and the accompanying figcaption provides the means to add some text supporting the visuals. Now, it is worth pointing out here that while we should always provide text in the alt attribute of an img tag to support assistive technology or to mitigate problems if an image fails to load, it isn't a requirement to provide a figcaption with a figure. The figcaption is added if you want to add a visual description alongside the visuals. Here's how we could use it to revise a portion of markup from the first chapter:</p>
        <code>
        &lt; figure class="MoneyShot"&gt;
        <br><br>
        &lt; img
        <br><br>
        class= "MoneyShot Img" src="img/scones. jpg"
        <br><br>
        alt="Incredible scones baked to perfection and ready to eat" 
        <br><br>
        /&gt;
        <br><br>
        &lt; figcaption class="ImageCaption"&gt;
        <br><br>
        This image isn't of scones I have made, instead it's a stock photo from Wikipedia
        <br><br>
        &lt;/ figcaption&gt;
        <br><br>
        &lt;/figure&gt;
        </code>
        <p>You can see that the figure element is used to wrap this little self-contained block. Inside, the figcaption is used to provide a caption for the parent figure element. It's perfect when images or code need a little caption alongside (that wouldn't be suitable in the main text of the content).</p>
        <section>
            <object>
                icon here
            </object>
            <p>The specification for the figure element can be found here: https://html. spec. whatwg.org/multipage/grouping-content.html#the-figure-element.
            The specification for the figcaption is here: https://html.spec.whatwg.org/ multipage/grouping-content.html#the-figcaption-element.</p>
        </section>
        <h2>&lt;details&gt; and &lt;summary&gt; elements</h2>
        <p>How many times have you wanted to create a simple open and close "widget" on your page? A piece of summary text that, when clicked, opens a panel with additional information.</p>


       
    </div>

  </div>
</body>
</html>