<!-- page34 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>We will now look at the most commonly used from each of these sections in turn. The aim here is to acquaint you with the varied vocabulary of HTML. Knowing that elements exist to convey certain meaning is a huge part of making accessible websites and applications.
        <br><br>
        First up, let's consider the various sectioning elements.
        </p>
        <h2>The &lt;main&gt; element</h2>
        <p>For a long time, HTML5 had no element to demarcate the main content of a page. It was argued that the content that wasn't inside one of the other new semantic HTML5 elements would, by negation, be the main content. Thankfully, we now have a more declarative way to group the main content: the aptly named main tag. Whether you're wrapping the main content of a page or the main section of a web-based application, the main element is what you should be grouping it all with. Here's a particularly useful line from the specification:
        <br><br>
        The main content area of a document includes content that is unique to that document and excludes content that is repeated across a set of documents such as site navigation links, copyright information, site logos and banners, and search forms (unless the document or application's main function is that of a search form).
        <br><br>
        It's also worth noting that there shouldn't be more than one main on each page (after all, you can't have two main pieces of content) and it shouldn't be used as a descendent child element of some of the other semantic HTML5 elements, such as article, aside, header, footer, or nav.
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>Read the official line on the main element at https: //html.spec.whatwg. org/#the-main-element.</p>
        </section>
        <h2>The &lt;section&gt; element</h2>
        <p>The section element is used to define a generic section of a document or application. For exam-ple, you may choose to create sections around your content; one section for contact information, another section for news feeds, and so on. It's important to understand that this element isn't intended for styling purposes; if you need to wrap an element merely to style it, you should continue to use a div as you would have before.
        <br><br>
        When working on web-based applications, I tend to use section as the wrapping element for visual components. It provides a simple way to see the beginning and end of components in the markup.
        </p>


       
    </div>
  </div>

</body>
</html>