<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
    <div >
        <h1>
            2
        </h1>
        <h1>
            Writing HTML Markup
        </h1>
        <p>HTML stands for HyperText Markup Language. It is a language that allows content to be marked up in a     manner that makes it more understandable to technology, and then, in turn, humans. You can have content on  the web without CSS or without JavaScript. But you can't have human-friendly content without HTML.
        <br><br>
        It's a common misconception that HTML is the "easy" part of authoring web pages and appli-cations.Writing the HTML is often dismissed out of hand as something anyone can do easily.
        My experience tells me otherwise. Also consider that for users who require the use of assistivetechnology to browse the web, the way you author HTML can mean the difference between a confusingunusable mess and a meaningful, useful, and delightful experience. Writing good quality HTML is not aspecific need of responsive web design. It's far more important than that.
        It's a prerequisite of anything that you want to be accessible to all users of the web.
        <br><br>
        This chapter is therefore going to be about writing HTML markup. We will be considering the
        "vocabulary" of HTML; its semantics. More succinctly, the way we can use the elements of HTML to describe the content we place in markup. HTML is what's known as a living standard. A few years back, the latest version was typically referred to as HTML5, a buzzword that helped identify modern web techniques and approaches. It's the reason this book was originally named Responsive Web Design with HTML5 and CSS3 instead of simply Responsive Web Design with HTML and CSS. Back in 2012, you could more easily highlight that your techniques were modern by using
        "HTML5" and "CSS3".
        '. As I write this in 2022, this distinction is less important. To read the living
        standard of HTML, head over here: https://html. spec.whatwg.org/multipage/.
        </p>


       
    </div>

  </div>
</body>
</html>