<!-- page28 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>The topics we will cover in this chapter are:</p>
        <ul>
            <li>Starting HTML pages correctly</li>
            <li>Possible economies from using HTML that you should avoid</li>
            <li>Sectioning, grouping, and text-level HTML elements</li>
            <li>Putting HTML elements to use</li>
            <li>WCAG accessibility conformance and WAI-ARIA for more accessible web applications</li>
            <li>Embedding media</li>
            <li>Responsive video and iframes</li>
            <li>Creating pop-ups with the dialog element</li>
        </ul>
        <section>
            <object>
                icon here
            </object>
            <p>
                HTML also provides specific tools for handling forms and user input. This set of features takes much of the burden away from more resource-heavy scripting for form validation. However, we're going to look at HTML forms separately in Chapter 13, Forms.
            </p>
        </section>
        <p>The basic structure of an HTML page looks like this:</p>
        <code>
        &lt;!DOCTYPE html&gt;
        <br><br>
        &lt;html lang="en"&gt;
        <br><br>
        &lt;head&gt;
        <br><br>
        &lt;meta charset="utf-8" /&gt;
        <br><br>
        &lt; title>Web Page Structure&lt;/title&gt;
        <br><br>
        &lt;/head&gt;
        <br><br>
        &lt; body&gt;&lt;/body&gt;
        <br><br>
        &lt;/html&gt;
        <br><br>
        &lt;/code&gt;
        </code>
        <p>When writing HTML, you will typically be marking up or writing content inside a series of tags or elements. Tags are defined by the "less than" (&lt;), and "greater than" angle brackets (&gt;) around the tag name. The majority of elements in HTML have an opening and closing tag, with the closing tag differentiated by the forward slash before the element name. To exemplify the opening and closing nature of HTML tags, a paragraph of text would be most suitably marked up with an opening <code>&lt;p&gt;</code> at the beginning and a closing <code>&lt;p&gt;</code> at the end. A few elements, like the meta tag in the example above, are known as void elements, these don't wrap around anything, and hence are self-closing - notice the closing forward slash at the end with no element name.</p>
    </div>
  </div>
</body>
</html>