<!-- page47 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <code>
        &lt;figure class="MoneyShot"&gt;
        <br><br>
        &lt;img
        <br><br>
        class="MoneyShot Img" src="img/scones.jpg"
        <br><br>
        alt="Incredible scones"
        <br><br>
        /&gt;
        <br><br>
        &lt; figcaption class="ImageCaption"&gt;
        <br><br>
        Incredible scones, picture from Wikipedia
        <br><br>
        &lt;/figcaption&gt;
        <br><br>
        &lt;/ figure&gt;
        <br><br>
        &lt;/section&gt;
        <br><br>
        &lt;p&gt;Recipe and serving suggestions follow. &lt;/p&gt;
        <br><br>
        &lt;section class="Ingredients"&gt;
        <br><br>
        &lt;h3 class="SubHeader"&gt;Ingredients&lt;/h3&gt;
        <br><br>
        &lt;/ section&gt;
        <br><br>
        &lt;section class="HowToMake"&gt;&lt;h3 class="SubHeader"&gt;Method&lt;/h3&gt;&lt;/section&gt;
        <br><br>
        &lt;footer&gt;
        <br><br>
        Made for the book, &lt;a href="https://rwd. education" &gt;
        <br><br>
        'Responsive Web Design with HTML5 and CSS3'
        <br><br>
        &lt;/a&gt;
        <br><br>
        by
        &lt; address&gt;&lt;a href="https://benfrain.com"&gt;Ben Frain&lt;/ax/address&gt;
        <br><br>
        &lt;/ footer&gt;
        <br><br>
        &lt;/article&gt;
        </code>
        <p>I've removed a good portion of the inner content so we can concentrate on the structure. Hopefully you will agree that it's easy to discern different sections of markup from one another. However, at this point, I'd also like to offer some pragmatic advice; it isn't the end of the world if you don't always pick the correct element for every single given situation.
        <br><br>
        For example, whether or not I used a section or div in the above example is of little real conse-quence.</p>

       
    </div>

  </div>
</body>
</html>