<!-- page46 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>Obsolete HTML features</h2>
        <p>If you have been writing HTML for a few years, you might be surprised to learn there are parts of HTML that are now considered "obsolete." It's important to be aware that there are two camps of obsolete features in HIML; conforming and non-conforming. Conforming features will still work, but will generate warnings in validators. Realistically, avoid them if you can, but they aren't going to make the sky fall down if you do use them. Non-conforming features may still render in certain browsers but they may not. It's certainly not guaranteed.
        <br><br>
        In terms of obsolete and non-conforming features, there is quite a raft. I'll confess that many I have never used Some I've never even seen! It's possible vou mav experience a similar reaction.
        However, if you're curious, you can find the full list of obsolete and non-conforming features at https://html. spec.whatwg.org/multipage/obsolete.html. Notable obsolete and non-con-forming features that you may occasionally encounter are strike, center, font, acronym, frame,
        and frameset.
        </p>
        <h2>Putting HTML elements to use</h2>
        <p>It's time to practice using some of the elements we have just looked at. Let's revisit the example from Chapter 1. If we compare the markup below to the original markup in Chapter 1 (remember, you can download all the examples from the https://rwd. education website), you can see where the new elements we've looked at have been employed below:</p>
        <code>
            &lt;article&gt;
            &lt;header class="Header"&gt;
            &lt;a href="/" class="LogoWrapper"&gt;
            img src="img/SOC-Logo.png" alt="Scone O'Clock logo"/&gt;&lt;/a&gt;
            &lt;h1 class="Strap"&gt;Scones: the most resplendent of snacks&lt;/h1&gt;
            &lt;/header&gt;
            &lt;section class="IntroWrapper"&gt;
            &lt;p class="IntroText"&gt;
            Occasionally maligned and misunderstood; the scone is a quintessentially British classic.
            &lt;/p&gt;
        </code>

       
    </div>

  </div>
</body>
</html>