<!-- page39 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>Right, we've now covered the lion's share of the HTML sectioning elements. Let's now consider grouping elements, like the one we've just seen. These are the elements that are used to contain, you guessed it, groups of other elements.</p>
        <h2>The &lt;div&gt; element</h2>
        <p>The most ubiquitous grouping element is the div. The div is so widely used because it is opin-ion-less. It conveys nothing. The only implied meaning of a div is that it groups something. Despite that, you will often see a div wrapping nothing but a string of text.
        <br><br>
        You should only opt for a div as a last resort. It is the element to use when you can think of nothing better.
        <br><br>
        We have more elements in HTML than ever before so, as we continue, hopefully we can get acquainted with plenty of other elements that can be more suitable for the jobs you currently use a div for.
        </p>
        <h2>The &lt;p&gt; element</h2>
        <p>The p element is used to mark up a paragraph. However, don't think that means it can only be used on text 3-4 lines long. On the contrary, use it to mark up any text that cannot be better marked up with one of the other elements. For non-specific text, the p element is definitely a better choice than a div.</p>
        <h2>The <code>&lt;blockquote&gt;</code> element</h2>
        <p>A blockquote is used to mark up text that is quoted from somewhere else. You don't have to wrap the text inside with any other element, but you can. For example, knowing what we now do about the p tag, we can use that inside a blockquote, too, if we wish. Here is a simple example using blockquote. First, an introductory section of text in a p tag, and then a blockquote:</p>
        <code>
        &lt;p&gt;I did like Ben's book, but he kept going on about Scones. For example: &lt;/p&gt; &lt;blockquote &gt;
        <br><br>
        All this writing about scones in our sample page and there's no image of the beauties! I'm going to add in an image of a scone near the top of the page; a sort of 'hero' image to entice users to read the page.
        <br><br>
        &lt;/blockquote &gt;
        </code>
        <p>There are some good examples of how and when to use blockquotes over on the HTML specification too: https: //html.spec.whatwg.org/multipage/grouping-content.html#the-blockquote-
        element.</p>


       
    </div>

  </div>
</body>
</html>