<!-- page59 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>In our example, we are using the returnValue of the dialog to set the text of our p tag. That returnValue is set to the value attribute of the button that submits the form in the dialog. Not essential, but potentially useful depending on your use case.
        <br><br>
        It's also possible to show a dialog in a non-modal manner. To do that, instead of using the showModal () method, use the show) method. In this situation, no backdrop is inserted and the dialog is inserted using absolute positioning by default.
        <br><br>
        You now know how to create, control, and style a fully working dialog.
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>You can read the specification for the dialog element here: https://html. spec. whatwg.org/multipage/interactive-elements.html#the-dialog-element.</p>
        </section>
        <h2>Summary</h2>
        <p>We've covered a lot in this chapter. Everything from the basics of creating a page that validates as HTML5 through to embedding rich media (video and audio) into our markup and ensuring it behaves responsively. Although not specific to responsive designs, we've also covered how we can write semantically rich and meaningful code and considered how we might ensure pages are meaningful and usable for users who are relying on assistive technology.
        <br><br>
        You should now have a decent understanding of the wide and varied vocabulary of HTML elements at your disposal.</p>
       
    </div>

  </div>
</body>
</html>