<!-- page48 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>If we use an em when we should actually be using an i, I certainly don't feel it's a crime against humanity; the folks at the W3C won't hunt you down and feather and tar you for making the wrong choice. Just apply a little common sense. That said, if you can use elements like the header and footer when relevant, there are inherent accessibility benefits in doing so. I certainly think it's better than using nothing but divs in your markup!</p>
        <h2>WCAG accessibility conformance and WAI-ARIA for more accessible web applications</h2>
        <p>Even since writing the first edition of this book in 2011/2012, the W3C has made strides in making it easier for authors to make the necessary adjustments to code to make web pages more accessible.</p>
        <h2>Web Content Accessibility Guidelines (WCAG)</h2>
        <p>The WCAG (Web Content Accessibility Guidelines) exist to provide:</p>
        <p>a single shared standard for web content accessibility that meets the needs of individuals, organizations, and governments internationally</p>
        <p>When it comes to more pedestrian web pages, as opposed to single-page web applications and the like, it makes sense to concentrate on the WCAG guidelines. They offer a number of mostly common-sense guidelines for how to ensure your web content is accessible. Each recommendation is rated by a conformance level: A, AA, or AAA, and each of these levels has a distinct set of acceptance criteria. For more on these conformance levels, look here: https://www.w3.org/TR/ UNDERSTANDING-WCAG20/conformance.html#uc-levels-head.
        <br><br>
        You'll probably find that you are already adhering to many of the guidelines, like providing alternative text for images, for example. However, you can get a brief rundown of the guidelines here: https://www.w3.org/WAI/standards-guidelines/wcag/glance/ and then build your own custom quick reference list of checks here: ht tps://www.w3.org/WAI/WCAG21/quickref/.
        <br><br>
        I'd encourage everyone to spend an hour or two to look down the list. Many of the guidelines are simple to implement and offer real benefits to users.
        </p>
        <h2>WAI-ARIA</h2>
        <p>The aim of WAT-ARIA (Web Accessibility Initiative - Accessible Rich Internet Applications) is principally to solve the problem of making dynamic content on a web page accessible. It provides a means of describing roles, states, and properties for custom widgets, such as dynamic sections in web applications, so that they are recognizable and usable by assistive technology users.</p>
        


       
    </div>

  </div>
</body>
</html>