<!-- page35 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <p>You can also qualify for yourself whether you should be using a section element based on whether the content you are sectioning has a natural heading within it (for example, an h1-h6). If it doesn't, it's likely you'd be better off opting for a div.</p>
        <section>
            <object>
                icon her
            </object>
            <p>To find out what the specification says about the section element, go to the following URL: https://html.spec.whatwg.org/#the-section-element.</p>
        </section>
        <h2>The <code>&lt;nav&gt;</code> element</h2>
        <p>The nav element is used to wrap major navigational links to other pages or parts within the same page. As it is for use in major navigational blocks, it isn't strictly intended for use in footers (al-though it can be) and the like, where groups of links to other pages are common. If you usually mark up your navigational elements with an unordered list (ul) and a bunch of list tags (11), you may be better served with a nav and a number of nested a tags instead.</p>
        <section>
            <object>
                icon here
            </object>
            <p>To find out what the specification says about the nav element, go to the following URL: https://html.spec.whatwg.org/multipage/sections.html#the-nav-element.</p>
        </section>
        <h2>The <code>&lt;article&gt;</code> element</h2>
        <p>The article element, alongside section, can easily lead to confusion. I certainly had to read and re-read the specifications of each before it sank in. Here's my re-iteration of the specification.
        <br><br>
        The article element is used to wrap a self-contained piece of content. When structuring a page, ask whether the content you're intending to use within an article tag could be taken as a whole lump and pasted onto a different site and still make complete sense. Another way to think about it is, would the content that you are considering wrapping in an article actually constitute a separate article in an RSS feed? Obvious examples of content that should be wrapped with an article element would be blog posts or news stories. Be aware that if nesting article elements, it is presumed that the nested article elements are principally related to the outer article.
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>You can read the specification for the article element here: https://html.spec. whatwg.org/multipage/sections.html#the-article-element.</p>
        </section>


       
    </div>
  </div>

</body>
</html>