<!-- page60 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>An Exercise</h2>
        <p>In this chapter, we covered a raft of HTML elements. We didn't cover them all, but we certainly covered all the elements you are likely to need day-to-day. I think you're ready to try a little exercise to see how much you have understood. Below is a screenshot of the website for this book:</p>
        <div>
            <div>
                <section>
                    <object>
                        icon here
                    </object>
                    <p>400+ INFO PACKED PAGES
                    CSS Layers, Color Functions,
                    Media Queries, SVG, animations, transforms, accessibility, Flexbox, Grid, Scroll Snap and much, much more.
                    </p>
                </section>
            </div>
            <div>
                <section>
                    <object>
                        icon here
                    </object>
                    <p>SAMPLE CODE
                    Each chapter has associated code examples to follow along with. You also get the source code for this site which utilises many of the techniques you'll master throughout.
                    </p>
                </section>
            </div>
            <div>
                <section>
                    <object>
                        icon here
                    </object>
                    <p>LATEST EDITION
                        The 4th Edition of Packt's best-selling Responsive Web
                        Design title since 2012.
                        Updated in 2022 to include all the new and essential
                        CSS and HTML features.
                    </p>
                </section>
            </div>
            <div>
                <p>IS IT FOR YOU?
                Are you a full-stack developer who needs to boost their front-end skills? Perhaps you work on the front-end and you need a definitive overview of all modern HTML and CSS has to offer?
                Maybe you have done a little website building but you need a deep understanding of how responsive web designs work and how to achieve them? This Is a book for you!
                </p>
            </div>
            <div>
                <p>WHAT WILL YOU LEARN?
                Understand the most fundamental parts of building a modern web site or application that will work across all devices. You'll learn the best approaches for having a fast and accessible website that works just as well on the latest iPhone or
                Android as a desktop computer.
                The book covers everything from choosing the right tag to mark up content, to understanding the benefits of modern image formats like AVIF and WebP — and everything essential in-between. It also covers all the latest features of CSS:
                Custom Properties, variable fonts, CSS Grid and much, much
                more.</p>
            </div>
        </div>
        <p>Figure 2.4: The design for the website made for this book</p>

    </div>

  </div>
</body>
</html>