<!-- page41 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>Modern HTML facilitates this pattern with the details and summary elements. Consider this markup (you can open example_02-03. html from this chapter's code to play with it for yourself):</p>
        <code>
        &lt;details&gt;
        <br><br>
        &lt;summary&gt;I ate 15 scones in one day&lt;/ summary&gt;
        <br><br>
        &lt;p&gt;
        <br><br>
        of course I didn't. It would probably kill me if I did. What a way to go. Mmmmmm, scones!
        <br><br>
        &lt;/p&gt;
        <br><br>
        &lt;/details&gt;
        </code>
        <p>Opening this in Chrome, with no added styling, shows only the summary text by default:</p>
        <section>
            <object>
                img here
            </object>
            <p>Figure 2.1: details and summary attempt to solve a common problem but their implementation is limited</p>
        </section>
        <p>Clicking anywhere on the summary text opens the panel. Clicking it again toggles it shut. If you want the panel open by default, you can add the open attribute to the details element:</p>
        <code>
            &lt;details open&gt;
            <br><br>
            &lt;summary&gt;I ate 15 scones in one day&lt;/summary&gt;
            <br><br>
            &lt;p&gt;
        </code>
       
    </div>

  </div>
</body>
</html>