<!-- page45 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <section>
            <object>
                icon here
            </object>
            <p>You can read the full specification for strong here: https://html. spec. whatwg. org/multipage/text-level-semantics.html#the-strong-element.</p>
        </section>
        <h2>The &lt;em&gt; element</h2>
        <p>I'll admit, in the past, I've often used em merely as a styling hook; to provide italic text when I wanted it. I need to mend my ways as the HTML specification tells us:</p>
        <p>The em element represents stress emphasis of its contents.</p>
        <p>Therefore, unless you actually want the enclosed contents to be emphasized, consider using a b tag or, where relevant, an i or span tag instead.</p>
        <h2>The &lt;i&gt; element</h2>
        <p>The HTML5 specification describes the i as:</p>
        <p>A span of text in an alternate voice or mood, or otherwise offset from the normal prose in a manner indicating a different quality of text.</p>
        <p>Suffice to say, it's not to be used to merely italicize something. For example, we could use it to mark up the odd name in this line of text:</p>
        <code>
            &lt;p&gt;
            <br><br>
            However, discussion on the frameset element is now frustraneous as it's now gone the way of the &lt;i&gt;Raphus cucullatus&lt;/i&gt;.
            <br><br>
            &lt;/p&gt;  
        </code>
        <p>Or, perhaps if you were marking up a button in a food ordering web application, you might do this:</p>
        <code>
            &lt;button type="button"&gt;French Fries &lt;i&gt;No Salt Added&lt;/i&gt;&lt;/button&gt;
        </code>
       <p>There are plenty of other text-level semantic tags in HTML; for a full rundown, take a look at the relevant section of the specification at the following URL: https://www.w3.org/TR/htm15/ text-level-semantics.html#text-level-semantics.</p>
    </div>

  </div>
</body>
</html>