<!-- page49 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>For example, if an onscreen widget displays a constantly updating stock price, how would a blind user accessing the page know that? WAI-ARIA attempts to solve this problem.
        <br><br>
        How to implement ARIA fully in something like a web application is outside the scope of this book. However, if that's the kind of project you are building, head over to https:// www.w3.org/ WAI/standards-guidelines/aria/ for more information.
        <br><br>
        Instead, for a great overview of getting to grips with ARIA, consider reading the W3C Using Aria guide: https://www.w3.org/TR/using-aria/.
        <br><br>
        The easiest thing you can do to aid assistive technologies is to use the correct elements where possible. A header element is going to be far more useful than < div class-="Header"› Similarly, if you have a button on your page, use the button element, rather than a span or other element styled to look like a button.
        </p>
        <h2>Taking ARIA further</h2>
        <p>If you want to explore a solid set of accessible design patterns, the W3C has a published set you can peruse here: https://www.w3.org/WAI/ARIA/apg/example-index/.</p>
        <section>
            <object>
                icon here
            </object>
            <p>
                Test your designs for free with NonVisual Desktop Access (NVDA). If you develop on the Windows platform and you'd like to test your ARIA enhanced designs on a screen reader, you can do so for free with NVDA. You can get it at the following URL:
                https://www.nvaccess.org. Google now also ships the free Accessibility Developer Tools for the Chrome browser (available cross-platform); well worth checking out. There's also a growing number of tools that help quickly test your own designs against things like color blindness; for example, deque make their Axe DevTools browser extension available: https:// www.deque.com/axe/devtools/.
            </p>
        </section>
        <p>We will also cover a few new color techniques that aid with creating accessible color palettes in
        Chapter 7, CSS Color.</p>
        <p>But for now, hopefully, this brief introduction to WAI-ARIA and WCAG has given you a little background information on supporting assistive technology. Perhaps adding assistive technology support to your next HTML project will be easier than you think. As a final resource for all things
        allyproject.com/.
        Accessibility, there are handy links and advice galore on the AllY project home page at https: //</p>

       
    </div>

  </div>
</body>
</html>