<!-- page33 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>The only limitations to keep in mind with a tags are that, understandably, you can't wrap one a tag within another a tag or other interactive element (such as a button) and you can't wrap a form in an a tag either.
        <br><br>
        That's not to say you can't physically do it; I doubt your text editor is going to start a fight with you about it, but don't be surprised if things don't work as expected in the browser if you do!
        </p>
        <h2>New semantic elements in HTML5</h2>
        <p>My dictionary defines semantics as "the branch of linguistics and logic concerned with meaning." For our purposes, semantics is the process of giving our markup meaning. Why is this important?
        <br><br>
        Most websites follow fairly standard structural conventions; typical areas include a header, a footer, a sidebar, a navigation bar, and so on. As web authors, we will often name the divs we use to more clearly designate these areas (for example, <div class="Header">). However, as far as the code itself goes, any user agent parsing that content - and that includes a web browser, screen reader, search engine crawler, and so on - couldn't say for sure what the purpose of each of these div elements is. HTML5 solves that problem with new semantic elements.
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>
                For the full list of HTMLS elements, get yourself (very) comfy and point your browser here: https://html.spec.whatwg.org/#semantics.
            </p>
        </section>
        <p>
            We won't cover every one of the new elements here, merely those I feel are the most beneficial or interesting in day-to-day responsive web design use. After we have gone through the elements and got an understanding of their intended use, we will look at some content examples and consider how they might be best marked up. Then, to end the chapter, I'm going to set you a bigger challenge!
        </p>
        <p>In terms of the HTML specification, the elements we will be looking at fall into one of three groups:</p>
        <ul>
            <li>Sectioning elements, for the broadest strokes in an HTML page. These are the kind of elements to use for header, footer, and sidebar areas.</li>
            <li>Grouping elements, which are used to wrap associated elements. Think of paragraphs, blockquotes, and content of that nature.</li>
            <li>Text-level semantics, which are the elements we use to designate particulars, like a section of bold or italic text or code.</li>
        </ul>
    </div>
  </div>
  
</body>
</html>