<!-- page61 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
    
  <div >
    <div >
        <p>Take a look at the design, and try and create an HTML page for it. Consider the head section and what you need in there. Think about the language the content is in and any meta tags you might need. Then, think about the visuals themselves. What might be the best elements to use to create the navigation section? Or each of those little sections below the book image?
        You can see the choices I made by visiting the live site at https://rwd. education, but do yourself a favor and don't peek until you've tried it for yourself!</p>
    </div>
  </div>
  
</body>
</html>