<!-- page44 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>The ‹span> element</h2>
        <p>A span element is the text-level equivalent of a div. It is unopinionated and is the perfect element to reach for when you merely want to wrap text in an element for styling purposes.</p>
        <h2>The &lt;b&gt; element</h2>
        <p>Historically, visuals were defined in the markup and the b element meant "make this bola» (https://www.w3.org/TR/htm14/present/graphics.html#edef-B). However, the specification now describes the b element like this:</p>
        <p>The b element represents a span of text to which attention is being drawn for utilitarian purposes without conveying any extra importance and with no implication of an alternate voice or mood, such as key words in a document abstract, product names in a review, actionable words in interactive text-driven software, or an article lede.</p>
        <p>
        Although no specific meaning is now attached to it, as it's text-level, it's not intended to be used tosurround large groups of markup; use a div for that.
        <br><br>
        You should also be aware that because it was historically used to bold text, you'll typically have to reset the font weight in CSS if you want content within a b tag to not appear bold.
        <br><br>
        For example:
        </p>
        <code>
        b {
        font-weight: normal;
        }
        </code>
        <p>The &lt;strong&gt; element</p>
        <p>If you do want to emphasize something for strength, urgency, or importance, strong is the element for you. Here is how the specification defines these use cases:</p>
        <p>Importance: The strong element can be used in a heading, caption, or paragraph to distinguish the part that really matters from other parts that might be more detailed, more jovial, or merely boilerplate. Seriousness: The strong element can be used to mark up a warning or caution notice.
        Urgency: The strong element can be used to denote content that the user needs to see sooner than other parts of the document.</p>


       
    </div>

  </div>
</body>
</html>