<!-- page51 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>Here's an example with the controls and autoplay attributes added:</p>
        <code>
        &lt;video src="myVideo.mp4" width="640" height="480" controls autoplay&gt;
        If vou're reading this either the video didn't load or your browser is waaaayyyyyy old!
        </video>
        </code>
        <p>The result of the preceding code snippet is shown in the following screenshot:</p>
        <section>
            <object>
                img here
            </object>
            <p>Figure 2.3: With minimal code, we have inserted a video into our page</p>
        </section>
        <p>Further attributes include preload to control the preloading of media, loop to repeat the video, and poster to define a poster frame for the video-the image that shows while a video is loading.</p>

       
    </div>

  </div>
</body>
</html>