<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>Get in touch</h2>
        <p>
            Feedback from our readers is always welcome.
            <br>
            <br>
            General feedback: Email feedback@packtpub.com, and mention the book's title in the subject of your message. If you have questions about any aspect of this book, please email us at questions@
packtpub.com.
            <br>
            <br>
            Errata: Although we have taken every care to ensure the accuracy of our content, mistakes do happen. if you have found a mistake in this book, we would be grateful if you would report this to us. Please visit ht tp://www.packtpub. com/submit-errata, selecting your book, clicking on the Submit New Errata link, and entering the details.
            <br>
            <br>
            Piracy: If you come across any illegal copies of our works in any form on the Internet, we would be grateful if you would provide us with the location address or website name. Please contact us at copyright@packtpub. com with a link to the material.
            <br>
            <br>
            If you are interested in becoming an author: If there is a topic that you have expertise in and you are interested in either writing or contributing to a book, please visit ht tp: //authors.packtpub. com.
        </p>
        <h2>Share your thoughts</h2>
        <p>
            Once you've read Responsive Web Design with HTML5 and CSS, Fourth Edition, we'd love to hear your thoughts! Scan the QR code below to go straight to the Amazon review page for this book and share your feedback.
        </p>
        <object type="text/html">
          Barcode here  
        </object> 
        <p>
            Your review is important to us and the tech community and will help us make sure we're deliv-
ering excellent quality content.
        </p>


       
    </div>
  </div>
</body>
</html>
