<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
       <p>Chapter 9, Responsive Images, covers how to make use of new image formats like AVIF and   WebP, and how to make the most relevant version of an image available to the browser.
        <br>
        <br>
        chanter 10. SVG. teaches us everything we need to use SVG graphics inside documents and as background images, as well as how to interact with them using JavaScript.
        <br>
        <br>
        Chapter 11, Transitions, Transformations, and Animations, gets our CSS moving as we explore how to make interactions and animations using CSS.
        <br>
        <br>
        Chapter 12, Custom Properties and CSS Functions, covers the many benefits of custom properties, then moves on to the utility of new CSS functions like min(), max (), and clamp ().
        <br>
        <br>
        Chapter 13, Forms, shows us how the latest HTML5 and CSS features make interacting with forms easier than ever before. Many HTML input types give you easy access to the relevant software keyboard on mobile devices.
       </p>
       
       <h3>Section Ill: Latest Platform Features and Parting Advice</h3>
       <p>Chapter 14, Cutting-Edge CSS Features, covers how to use CSS layers to better organize your code and how to write nested CSS, hopefully coming to your browser in the near future.
        <br>
        <br>
        Chapter 15, Bonus Techniques and Parting Advice, explores the essential considerations before embarking on a responsive web design and also provides a few last-minute nuggets of wisdom to aid you in your responsive quest.
       </p>

       <h2>To get the most out of this book</h2>
       <ul>
        <li>You need a text editor such as Sublime Text, Neovim, or VS Code.</li>
        <li>You'll need a modern browser such as Firefox, Edge, Safari, or Chrome.</li>
        <li>You'll need an appreciation of mediocre jokes and obscure references to popular culture</li>
       </ul>

       <h3>Download the example code files</h3>
       <p>The code bundle for the book is hosted at the book's dedicated website at https: //rwd.       education/, as well as on GitHub athttps://github.com/benfrain/rwd4. We also have other code bundles
        Check them out!
        from our rich catalog of books and videos available at https://github.com/PacktPublishing/.
        </p>
    </div>

  </div>
</body>
</html>