<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  
  <div >
    <div > 
        <h1>Preface</h1>
        <p >
          
          When I wrote the first edition of this book in 2011 and 2012, it was by no means certain that responsive web design would become the de facto approach for web design for the foreseeable future. Here we are, 10 years and three further editions later, and its popularity and utility show no sign of abating.
          <br>
          <br>
          There's a saying that is apt for the authors of technical books, "When one person teaches, two people learn." That's certainly been the case each time I write a new edition. I've learned so much more covering these topics than I imagined I would. In my day-to-day work, I already find myself coming back to certain chapters and sections when trying to refresh my memory on how to do one thing or another that I have subsequently forgotten. I hope these pages prove as resourceful for you!
          <br>
          <br>
          Thinking back on the contents of the first edition, it's also struck me just how capable the technologies we have at our disposal have become. If you are an old hand at the web development game, feel free to jump right in to some of the newest topics such as CSS color or cascade layers - I'd be shocked if you didn't come away the least bit excited. Many of the things now trivial would have blown my mind a decade ago.
          <br>
          <br>
          I won't waste any more of your precious time here. Thank you for taking the time to read this book. I hope you enjoy this latest edition and take plenty from it. Please reach out to me via my website at benfrain, com with your thoughts, both good and bad, and any questions that arise.They will naturally inform the content of any future editions.
          <br>
          <br>
          Finally, while the publishers mention it again in a moment, if you do enjoy it, please consider adding a review on Amazon or your book store of choice. From a commercial point of view, it really does help with sales. From a personal perspective, it's really lovely to read them and know people around the world are making use of something you spent so long working on.
          It should go without saying here that if you don't enjoy it, please keep your opinions to yourself!
        </p>
    </div>
  </div>
  
</body>
</html>