<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>While this is Michelle's first turn as a technical reviewer, she is a veteran of the publishing industry, having created hundreds of print cover designs and online web experiences for her company and its partners over the course of a decade. When business hours are over, Michelle is on the move.
        If she's not exploring the natural beauty along her native Mississippi River, she's traveling the world to uncover new founts of inspiration and creativity.
        <br>
        <br>
        I would like to thank Packt Senior Project Editor, Parvathy, for her patient handling of my questions and comments over the better half of a year.
        <br>
        <br>
        Any success I enjoy is due to the unconditional love and support of my parents and my youngest brother, Chase, whose humor and strength far surpass my own. I strive to be his equal in kindness every day.
        </p>


       
    </div>
  </div>
</body>
</html>