<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>About the reviewers</h2>
        <p>J. Pedro Ribeiro is a Brazilian software engineer based in London. He has been working on the web since the mid-90s, back when dial-up connections, GeoCities, and Netscape Navigator were a thing.
        <br>
        <br>
        His work is focused on building performant, accessible websites and apps that deliver great user experience. Alongside web development, Pedro has worked as a technical reviewer for other publications like Mastering Responsive Web Design and Responsive Web Design Patterns, both at Packt Publishing.
        <br>
        <br>
        He is also the author of Baseliner, a Chrome extension with over 6,000 weekly users.
        </p>
        <ul>
            <li>Blog- jpedroribeiro.com</li>
            <li>Twitter - https://twitter.com/jpedroribeiro</li>
            <li>GitHub -https://github.com/jpedroribeiro</li>
        </ul>
        <p>Michelle Manemann was raised by-and with-the internet (long before it became the norm). She spent her formative years exploring the web as it evolved from simple text-only sites, to sites with pages formatted as tables within tables like so many nesting dolls, through the rise and fall of Flash, to the (relatively) standardized modern web of today. Influenced by the scrolling marquees and animated GIFs of the mid-90s, it's perhaps fortunate that her earliest efforts in web design are lost to the sands of time (R.I.P. GeoCities).
        <br>
        <br>
        While finalizing her degree in Anthropology from Grinnell College, Michelle rediscovered the allure of web design. Anthro B.A. in-hand, she accepted an internship that allowed her to hone her HTML and CSS in real time; her formative love of web design and its possibilities reignited immediately. Originally the sole designer in her organization, Michelle built a full-fledged Web Design Department from the ground up; a decade later, she manages a small but mighty team of fellow designers and together they create beautiful websites for educators across North America.
        </p>


       
    </div>
  </div>
</body>
</html>