<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>Responsive Web Design with HTML5 and CSS</h2>
        <p>Fourth Edition</p>
        <p>Copyright © 2022 Packt Publishing</p>
        <p>All rights reserved. No part of this book may be reproduced, stored in a retrieval system, or transmitted in any form or by any means, without the prior written permission of the publisher, except in the case of brief quotations embedded in critical articles or reviews.
        <br>
        <br>
        Every effort has been made in the preparation of this book to ensure the accuracy of the information presented. However, the information contained in this book is sold without warranty, either express or implied. Neither the author, nor Packt Publishing or its dealers and distributors, will be held liable for any damages caused or alleged to have been caused directly or indirectly by this book.
        <br>
        <br>
        Packt Publishing has endeavored to provide trademark information about all of the companies and products mentioned in this book by the appropriate use of capitals. However, Packt Publishing cannot guarantee the accuracy of this information.
        </p>
        <p>
        Senior Publishing Product Manager: Suman Sen
        Acquisition Editor - Peer Reviews: Gaurav Gavas
        Project Editor: Parvathy Nair
        Content Development Editor: Lucy Wan
        Copy Editor: Safis Editing
        Technical Editor: Tejas Mhasvekar
        Proofreader: Safis Editing
        Indexer: Pratik Shirodkar
        Presentation Designer: Rajesh Shirsath
        First published: April 2012
        Second edition: August 2015
        Third edition: April 2020
        Fourth edition: September 2022
        Production reference: 3170223
        Published by Packt Publishing Ltd.
        Livery Place
        35 Livery Street
        Birmingham
        B3 2PB, UK.
        ISBN 978-1-80324-271-2
        www.packt.com
        </p>

       
    </div>
  </div>
</body>
</html>