<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
    
  <div >
    <div >
        <h2>Who this book is for</h2>
        <p >Are you a full stack or backend developer who needs to improve their frontend skills? Perhaps you work on the frontend and you need a definitive overview of all modern HTML and CSS has to offer? Maybe you have done a little website building but you need a deep understanding of responsive web designs and how to achieve them? This is the book for you!
        <br>
        <br>
        All you need to take advantage of this book is a working understanding of HTML and CSS. No JavaScript knowledge is needed.
        </p>
        <h2>What this book covers</h2>
        <h3>Section I: The Fundamentals of Responsive Web Design</h3>
        <p>Chapter 1, The Essentials of Responsive Web Design, is a whistle-stop tour of the key ingredients in coding a responsive web design.
        <br>
        <br>
        Chapter 2, Writing HTML Markup, covers all the semantic elements of HTML5, text-level seman-tics, and considerations of accessibility. We also cover how to insert media such as video into our pages and how to use the new dialog element.
        <br>
        <br>
        Chapter 3, Media Queries and Container Queries, covers everything you need to know about CSS media queries: their capabilities, the syntax, and the various ways you can wield them. There is also an overview of container queries.
        <br>
        <br>
        Chapter 4, Fluid Layout and Flexbox, covers how to convert designs into proportional layouts and provides a thorough exploration of Flexbox layouts.
        </p>
        <h3>Section Il: Core Skills for Effective Front-End Web Development</h3>
        <br>
        <p>Chapter 6, CSS Selectors, Typography, and More, gets us to grips with the endless possibilities of CSS selectors, feature queries, and web typography, including variable fonts, viewport relative units, and a whole lot more.
        <br>
        <br>
        Chapter 7, CSS Color, covers the latest developments in expressing colors and color manipulation, including Lab/LCH, P3 color, and new color functions like color-contrast and color-mix.
        <br>
        <br>
        Chapter 8, Stunning Aesthetics with CSS, covers CSS filters, box shadows, linear and radial gradients, multiple backgrounds, and how to target background images to high-resolution devices.
        </p>
    </div>
  </div>

</body>
</html>