<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>Download a free PDF copy of this book</h2>
        <p>Thanks for purchasing this book!
            Do you like to read on the go but are unable to carry your print books everywhere?
            <br>
            <br>
            Is your eBook purchase not compatible with the device of your choice?
            <br>
            <br>
            Don't worry, now with every Packt book you get a DRM-free PDF version of that book at no cost.
            <br>
            <br>
            Read anywhere, any place, on any device. Search, copy, and paste code from your favorite technical books directly into your application.
            <br>
            <br>
            The perks don't stop there, you can get exclusive access to discounts, newsletters, and great free content in your inbox daily
            <br>
            <br>
            Follow these simple steps to get the benefits:
            <br>
            <br>
            </p>
            <ol>
                <li>1. Scan the QR code or visit the link below
                    <object>

                    </object>
                    <br>
                    https://packt.link/free-ebook/9781803242712
                </li>
                <li>Submit your proof of purchase</li>
                <li>That's it! We'll send your free PDF and other benefits to your email directly</li>
            </ol>


       
    </div>

  </div>
</body>
</html>
