<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h1>Responsive Web Design with HTML5 and CSS</h1>
        <h2>Fourth Edition</h2>
        <h2>Build future-proof responsive websites using the latestHTML5 and CSS techniques</h2>
        <h2>Ben Frain</h2>
        <object>
            Logo here
        </object>
    </div>
  </div>
</body>
</html>