<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h1>Contributors</h1>
        <h2>About the author</h2>
        <p>Ben Frain has been a web designer/developer since 1996. He is currently employed as a UI/UX
            Technical Lead at bet365. Before the web, he worked as an underrated (and modest) TV actor and technology journalist, having graduated from Salford University with a degree in Media and Performance. He has written four equally underrated (his opinion) screenplays and still harbors the (fading) belief he might sell one.
        <br>
        <br>
            He likes to pretend he isn't a nerd but spends an inordinate amount of time building keyboards and talking about them, text editors, and the web on his blog and YouTube channel. Outside of geekery, he enjoys simple pleasures. Playing indoor football while his body and wife still allow it, and trying to keep up with his two sons.
        <br>
        <br>
            I told the team at Packt it would take me a short age to write this book. I was true to my word! Their patience and understanding throughout was appreciated.
        <br>
        <br>
            The team of reviewers did a sterling job; I'd like to take the chance to thank them here for giving up their time to improve this title. I'll also extend thanks here to my editor, Lucy Wan. She shepherded everything along with efficiency, and made smart and effective amendments throughout.
        <br>
        <br>
            Finally, thanks to my family. I was told as a child that the most important thing you can give someone is your time. I'm looking forward to having more of that to give you, whether you like it or not!
        </p>


       
    </div>
  </div>
</body>
</html>