<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        CSS 2D transforms | 328
          Scale | 330
          Translate | 331
            Using translate to center absolutely positioned elements | 331
          Rotate | 334
          Skew | 334
          Matrix | 335
          The transform-origin property | 336
        CSS 3D transformations | 338
          The translated property | 341
          A progressive enhancement example using translated |  342
        Animating with CSS | 345
          The animation-fill-mode property | 348
        Exercises and training | 350
        Summary | 350
        Chapter 12: Custom Properties and CSS Functions | 351
        Working with custom properties | 352
          Simple theming | 353
          Setting and getting custom property values with JavaScript | 355
          Custom properties and specificity | 356
          Setting a fallback value | 357
          env environment variables | 357
          Custom properties and web components | 358
        CSS functions | 359
          calc0 | 360
          min | 361
          max | 362
          clamp 0 | 362
        Putting it all together | 363
        Summary | 366
      </p>

    </div>
  </div>
  
</body>
</html>
