<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
          Multiple shadows | 237
          Understanding spread | 237
        Background gradients | 238
          The linear-gradient notation | 239
            Specifying gradient direction | 239
            Color stops | 240
          Radial background gradients | 241
          Handy "extent" keywords for responsive sizing | 243
          Conic gradients | 244
          Repeating gradients | 247
          Background gradient patterns | 248
        Multiple background images | 250
          Background size | 251
          Background position | 251
          Background shorthand | 252
          High-resolution background images | 253
        CSS filters | 254
          Available CSS filters | 255
          Combining CSS filters | 260
        A warning on CSS performance | 260
        CSS clip-path | 262
          CSS basic shapes | 262
            clip-path with a circle | 262 
            clip-path with ellipse | 264
            clip-path with inset | 264
            clip-path with polygon | 265
            clip-path with URL (clipping source) | 266
          Animating clip-path | 267
      mask-image | 268
      mix-blend-mode | 270
      Summary | 271
      </p>

    </div>
  </div>
  
</body>
</html>
