<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Chapter 9: Responsive Images | 273
        Modern image formats | 274
          AVIF image format | 275
          WebP image format | 275
        Image format comparisons | 276
          Using the picture element to progressively enhance images | 278
        The inherent problem of responsive images | 279
          Simple resolution switching with sicset | 280
          Advanced switching with sicset and sizes | 281
            Did you say the browser "might" pick one image over another? | 282
          Art direction with the picture element | 282
          A practical note on providing alternate image formats and sizes | 283
        Summary | 284
        Chapter 10: SVG | 285
        A brief history of SVG | 287
        An image that is also a readable web document | 288
          The root SVG element | 290
          Namespace | 291
          The title and desc tags | 291
          The defs tag | 291
          The g element | 292
          SVG shapes | 292
          SVG paths | 292
        Creating SVGs with popular image editing packages and services | 293
          Saving time with SVG icon services | 293
        Inserting SVGs into your web pages | 294
          Using an img tag | 295
          Using an object tag | 295
          Inserting an SVG as a background image | 296
      </p>
    </div>
  </div>
  
</body>
</html>
