<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
          Named grid lines | 146
          grid-template-areas | 149
          auto-fit and auto-fill | 51
          The minmax 0 function | 153
        Shorthand syntax | 154
          grid-template shorthand | 154
          grid shorthand | 155
            grid shorthand value - option one | 156
            grid shorthand value - option two | 156
            grid shorthand value - option three | 157
        Allowing nested elements to take part in the Grid | 159
          The subgrid value | 161
        Applying what you have learned so far | 165
        Summary | 166
        Section II: Core Skills for Effective Front-End Web Development | 167
        Chapter 6: CSS Selectors, Typography, and More | 169
        Selectors, units, and capabilities | 170
          Anatomy of a CSS rule | 170
          Pseudo-elements and pseudo-classes | 171
        CSS selectors - beyond the normal! | 172
          CSS attribute selectors | 172
          CSS substring matching attribute selectors | 173
            The "beginning with" substring matching attribute selector | 174
            The "contains an instance of" substring matching attribute selector | 174
            The "ends with" substring matching attribute selector | 175
            Chaining attribute selectors | 175
      </p>

    </div>
  </div>
  
</body>
</html>
