<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Using media queries to alter a design | 74
        Advanced media query considerations | 77 
          Do media queries affect which files get downloaded or how the page renders? | 78
          Should you split media queries into their own files? | 78
          Consolidate media queries or scatter them where it suits? | 79
            What about file size? | 81
        Media Queries Level 5 | 81
          Interaction media features | 82
            The pointer media feature | 82
            The hover media feature | 83
          User preference media features | 84
            The prefers-color-scheme media feature | 84
            The prefers-reduced-motion feature | 85
            Future possibilities | 85
        Container queries | 86
          This may change! | 87
          Using a container query | 88
            Why name the container? | 88
            Container relative lengths | 90
          Possibilities | 90
        Summary | 91
        Chapter 4: Fluid Layout and Flexbox | 93
        Converting a fixed pixel design into a fluid proportional layout | 94
        Why do we need Flexbox? | 99
        Introducing Flexbox | 99
          The bumpy path to Flexbox | 100
          Choosing your autoprefixing solution •| 00
          Getting Flexy | 100
            Perfect vertically centered text | 101
            Offset items | 102
      </p>
    </div>
  </div>
  
</body>
</html>
