<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        CSS structural pseudo-classes | 177
          The :last-child selector | 178
          The nth-child selectors | 178
            Understanding what nth rules do | 179
            nth-based selection in responsive web designs | 182
        Combinator selectors - child, next sibling, and subsequent sibling | 185
          The child combinator | 185
          The next sibling | 185
          The subsequent sibling | 186
          The negation (not) selector | 186
          The empty (:empty) selector | 187
        Grouping selectors | 188
          The is functional pseudo-class | 189
          The :where 0 functional pseudo-class | 190
          The has 0 relational pseudo-class | 191
        Responsive viewport relative lengths | 194
        Using @supports to fork CSS | 195
          Feature queries | 196
          Combining conditionals | 197
        Web typography | 198
          System fonts | 199
          The @font-face CSS rule | 200
          Implementing web fonts with @font-face | 200
          Optimizing font loading with font-display | 202 
          font-display | 203
        Variable fonts | 204
          font-face changes | 205
          How to make use of a variable font | 206
            Registered axis | 206
            Custom axis | 207
          Font features | 208
      </p>

    </div>
  </div>
  
</body>
</html>
