<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
          Reverse the order of items | 104
          How about if we want them laid out vertically instead? | 105
          Column reverse | 106
      Inline-flex | 106
      Flexbox alignment properties | 107
        align-items | 109
        align-self | 109
        Possible alignment values | 110
          justify-content | 111
        The flex property | 113
        Simple sticky footer | 116
      Changing the source order | 117
      Wrapping with flex | 123
        Wrapping up Flexbox | 127
      Summary | 127
      Chapter 5: Layout with CSS Grid | 129
      What CSS Grid is and the problems it solves | 130
        Basic Grid syntax | 130
        Grid-specific concepts and terminology | 131
      Setting up a Grid Layout | 132
        Explicit and implicit | 137
        grid-auto-rows and grid-auto-columns | 138
          grid-auto-flow | 140
      Placing and sizing Grid Layout items | 140
        gap | 143
        repeat | 143
        fr units | 143
        Placing items in the grid | 144
        span | 144
        dense | 145
    </div>
  </div>
  
</body>
</html>
