<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <h2>
            Table of Contents
        </h2>
        <p>
            Preface
        </p>
        <p>
            Section I: The Fundamentals of Responsive Web Design | 1
            Chapter 1: The Essentials of Responsive Web Design | 3
            The browser and device landscape | 4
            Defining responsive web design | 5
                Responsive web design in a nutshell | 5
                Browser support | 5
                Text editors | 7
                Tools for software development | 7
            Our first responsive example | 8
                Our basic HTML file | 8
                Taming images | 14
                    A brief tangent on width/max-width for images | 17
                Enter media queries | 18
                    Breakpoints | 18
                    Amending the example for a larger screen | 19
                The shortcomings of our example | 24
            Summary | 25

        </p>
    </div>
  </div>
  
</body>
</html>
