<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
            A brief aside on data URIs | 296
            Generating image sprites | 298
          Inserting an SVG inline | 298
        Reusing graphical objects from symbols | 299
          Inline SVGs allow different colors in different contexts | 301
          Making dual-tone icons that inherit the color of their parent | 301
          Re-coloring SVGs with CSS custom properties | 302
          Reusing graphical objects from external sources | 304
        What you can do with each SVG insertion method (inline, object, background-image, and img) | 305
        Extra SVG capabilities and oddities | 306
          SMIL animation | 306
          Styling an SVG with an external style sheet | 308
          Styling an SVG with internal styles | 309
            SVG properties and values within CSS | 309
          Animating an SVG with CSS | 310
          Animating SVG with JavaScript | 311
            A simple example of animating an SVG with GreenSock | 312
          Using SVGs as filters | 314
          A note on media queries inside SVGs | 316
        Optimizing SVGS | 317
        SVG implementation tips | 318
        Summary | 318
        Further resources | 319
        Chapter 11: Transitions, Transformations, and Animations | 321
        What CSS transitions are and how we can use them | 322
          The properties of a transition | 324
          The transition shorthand property | 325
          Transitioning different properties over different periods of time | 326
          Understanding timing functions | 326
        
      </p>

    </div>
  </div>
  
</body>
</html>
