<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Obsolete HTML features | 46
        Putting HTML elements to use | 46
        WCAG accessibility conformance and WAI-ARIA for more accessible web applications | 48
          Web Content Accessibility Guidelines (WCAG) | 48
          WAI-ARIA | 48
          Taking ARIA further | 49
        Embedding media in HTML5 | 50
          Adding video and audio in HTML | 50
            Providing alternate media sources | 52
            Audio and video tags work almost identically | 53
          Responsive HTML5 video and iframes | 53
            The modern way to embed iframes and keep aspect ratio | 55
        The loading attribute | 55
        The < dialog> element | 56
        Summary | 59
        An exercise | 60
        Chapter 3: Media Queries and Container Queries | 63
        The meta viewport tag | 66
        Why media queries are needed for a responsive web design | 68
          Basic conditional logic in CSS | 68
        Media query syntax | 68
          Media queries in link tags | 70
          Media query on an @import at-rule | 70
          Media queries in a CSS file | 71
          Inverting media query logic | 71
          Combining media queries | 71
          A number of different media queries | 72
          Everyday media queries | 72
          What can media queries test for? | 73
      </p>

    </div>
  </div>
  
</body>
</html>
