<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Exercise | 209
        Summary | 211
        Chapter 7: CSS Color | 213
        RGB color | 214
        HSL color | 215
          Alpha channels | 216
            Alpha with hex | 216
            Alpha with functional notation | 217
        Space-separated functional color notation | 218
        Color concepts and terminology | 219
          Color space | 219
          Gamut | 219
        The current state of CSS color | 221
          Introductory note | 222
          Display-P3 | 222
            @media (color-gamut) media query | 224
          LCH with the Ich 0 function | 224
          OKLab and OKLCH | 227
        Fallbacks for older browsers | 227
        The color-mix function | 228
        The color-contrast 0 function | 229
        Relative colors with the relative color syntax | 231
        Summary | 232
        Resources | 232
        Chapter 8: Stunning Aesthetics with CSS | 233
        Text shadows | 234
          Multiple text shadows | 235
        Box shadows | 236
          Inset shadow | 236
      </p>

    </div>
  </div>
  
</body>
</html>
