<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Chapter 2: Writing HTML Markup | 27
        Getting the start of HTML pages right | 29
          The doctype | 29
          The HTML tag and lang attribute| 29
          Character encoding | 30
          The forgiving nature of HTML5 markup | 30
          A sensible approach to HTML markup | 31
        All hail the mighty <a> element | 32
        New semantic elements in HTML5 | 33
          The <main> element | 34
          The <section> element | 34
          The < nav> element | 35
          The <article> element | 35
          The <aside > element | 36
          The <header> element | 36
          The < footer > element | 36
          The HTML5 outline algorithm | 37
          A note on h1-h6 and the <hgroup> element | 38
          The <div> element | 39
          The <p> element | 39
          The < blockquote> element | 39
          The < figure> and < figcaption> elements | 40
          ‹details> and ‹summary> elements | 40
          The <address> element | 43
        HTML text-level semantics | 43
          The < span> element | 44
          The <b> element | 44
          The < strong> element | 44
          The <em> element | 45
          The <i> element | 45
      </p>

    </div>
  </div>
  
</body>
</html>
