<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Section Ill: Latest Platform Features and Parting Advice | 403
        Chapter 14: Cutting-Edge CSS Features | 405
        Cascade layers | 406
          Naming cascade layers | 408
          Where to declare layers | 408
          Adding rules to layers | 409
          The priority of rules in and outside of layers | 409
          Nesting layers inside other layers | 410
          The importance of important | 411 
        !important in cascade layers | 412
        old browsers | 414
        CSS nesting | 414
          Nesting conditionals such as media queries | 417
          Trying CSS nesting syntax today | 418
          Giving your feedback on the proposal | 418
          Asking browser vendors to implement CSS nesting | 418
        Summary | 419
        Chapter 15: Bonus Techniques and Parting Advice | 421
        Truncating text | 422
          Single-line truncation | 422
          Multi-line truncation | 423
        Creating horizontal scrolling panels | 424
          Styling scrollbars | 427
          CSS Scroll Snap | 430
            The scroll-snap-type property | 430
            The scroll-snap-align property | 431
            The scroll-snap-stop property | 432
          Smooth scrolling with CSS scroll-behavior | 432
      </p>

    </div>
  </div>
  
</body>
</html>
