<!DOCTYPE html> <!-- page1 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <p>
        Chapter 13: Forms | 367
        HTML5 forms | 368
          Understanding the component parts of HTML5 forms | 369
          The placeholder attribute | 370
            Styling the placeholder text | 370
          Styling the input caret with the caret-color CSS property | 371
          The required attribute | 371
          The autofocus attribute | 373
          The autocomplete attribute | 374
          The list attribute and the associated datalist element | 374
        HTML5 input types | 376
          The email input type | 376
          The number input type | 378
            Using min and max to create number ranges | 380
            Changing the step increments | 381
          The url input type | 381
          The tel input type | 383
          The search input type | 385
          The pattern input attribute | 385
          The color type input | 387
          Date and time | 388
            The date input type | 388
            The month input type | 389
            The week input type | 390
            The time input type | 391
          The range input type | 392
        Styling HTMLS forms with CSS | 393
          Indicating required fields | 396
          Creating a background fill effect | 400
        Summary | 401
      </p>

    </div>
  </div>
  
</body>
</html>
