<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
  <div >
    <div >
        
        <p >This is a reusable card component.
          Those of us who love short stories know the magic behind a well-told tale. And we’ve got some great news: A lot of incredible short stories are available online, and you can read them for free right now! It’s the perfect way to spend a work break, the moments while dinner is in the oven, or your last few minutes before bedtime. Without further ado, here’s our list of great short stories you can read for free right now. The list features a blend of works from contemporary authors, as well as short stories from your favorite classic authors.
Those of us who love short stories know the magic behind a well-told tale. And we’ve got some great news: A lot of incredible short stories are available online, and you can read them for free right now! It’s the perfect way to spend a work break, the moments while dinner is in the oven, or your last few minutes before bedtime. Without further ado, here’s our list of great short stories you can read for free right now. The list features a blend of works from contemporary authors, as well as short stories from your favorite classic authors.

Finished reading these and on the hunt for more stories? Sign up for BookBub (at no cost!) and get access to thousands of free and discounted ebooks.

Contemporary Free Short Stories
These stories are by contemporary authors. If you’ve never read these authors before, their free short stories will give you a taste of their style before you commit to one of their longer works. There’s something for everyone, with genres ranging from science fiction to historical fiction to horror. Click on the title to be taken directly to the story.

“The Hunter’s Wife” by Anthony Doerr

Gorgeous descriptions of nature fill this story of a hunter and his younger, psychic wife during a Montana winter. After reading it, you’ll be amazed by Doerr’s talent, which was also behind his Pulitzer Prize-winning novel All the Light We Cannot See.

“Premium Harmony” by Stephen King

King fans won’t want to miss this 2009 short story which appeared in The New Yorker. A bickering couple stop at a convenience store and find their lives taking an unexpected dark turn. If you read closely, you’ll also catch references to the horror writer’s other works here.

“Broads” by Roxane Gay

You’ll get a kick out of this saucy story by Roxane Gay, author of Bad Feminist. Jimmy has a thing for loud, bold women. But it’s not until he meets a diner waitress that he finally seems to get what he wants.

“And of Clay Are We Created” by Isabel Allende

We’re transfixed by this story based on a real-life natural disaster. A volcano erupted in Colombia in 1985 and caused mudslides that tragically killed 23,000 people. Weaving culture with a gripping personal drama, Allende’s story centers on the rescue of Azucena, a girl trapped in the mud.

“The Embassy of Cambodia” by Zadie Smith

First appearing in a 2013 edition of The New Yorker, this story — both beginning and ending at the entrance to the embassy of Cambodia — details the life of domestic servant, Fatou. Though simple in nature, bestselling author Zadie Smith’s meticulous prose emphasizes how the smallest things in life can raise the largest questions.

“Girls, at Play” by Celeste Ng

This story by the author of the New York Times bestselling novels Everything I Never Told You and Little Fires Everywhere may shock you at first. It focuses on three 13-year-old girls who play a very adult game at school. But when a new girl arrives, they are able to recapture some of the innocence they’ve lost.

“Ghosts and Empties” by Lauren Groff

This poignant story follows a mother on her evening walk as she contemplates the history of her neighborhood, the personal lives of the people within, and her own raging emotions. Though short, it’s a powerful read for those overcome by feelings in their own lives.

“The Cartographer Wasps and the Anarchist Bees” by E. Lily Yu

A finalist for both the Nebula and Hugo awards, this short story is more than it seems. While on the surface it’s a tale of the battle between bees and wasps, underneath it carries deeper political themes and questions that you will want to discuss with your book buddies.

“The City Born Great” by N.K. Jemisin

Hugo Award–winning author N.K. Jemisin proves why she’s an acclaimed science fiction writer in this short story that sees New York City in an entirely new light. Once a city has aged, it will be born anew, but the future of this cosmopolitan playground is left to a wispy hero who must learn how to identity with his home in order to save it. 

“The Faery Handbag” by Kelly Link

We’re betting you’ll find this Kelly Link story as delightful as we do. Genevieve’s grandmother Zofia claims her handbag houses a group of fairies. One day, Genevieve discovers if it’s true. This acclaimed story won three major awards — the Nebula, Locus, and Hugo.

“Sweetness” by Toni Morrison

Those of us who love short stories know the magic behind a well-told tale. And we’ve got some great news: A lot of incredible short stories are available online, and you can read them for free right now! It’s the perfect way to spend a work break, the moments while dinner is in the oven, or your last few minutes before bedtime. Without further ado, here’s our list of great short stories you can read for free right now. The list features a blend of works from contemporary authors, as well as short stories from your favorite classic authors.

Finished reading these and on the hunt for more stories? Sign up for BookBub (at no cost!) and get access to thousands of free and discounted ebooks.

Contemporary Free Short Stories
These stories are by contemporary authors. If you’ve never read these authors before, their free short stories will give you a taste of their style before you commit to one of their longer works. There’s something for everyone, with genres ranging from science fiction to historical fiction to horror. Click on the title to be taken directly to the story.

“The Hunter’s Wife” by Anthony Doerr

Gorgeous descriptions of nature fill this story of a hunter and his younger, psychic wife during a Montana winter. After reading it, you’ll be amazed by Doerr’s talent, which was also behind his Pulitzer Prize-winning novel All the Light We Cannot See.

“Premium Harmony” by Stephen King

King fans won’t want to miss this 2009 short story which appeared in The New Yorker. A bickering couple stop at a convenience store and find their lives taking an unexpected dark turn. If you read closely, you’ll also catch references to the horror writer’s other works here.

“Broads” by Roxane Gay

You’ll get a kick out of this saucy story by Roxane Gay, author of Bad Feminist. Jimmy has a thing for loud, bold women. But it’s not until he meets a diner waitress that he finally seems to get what he wants.

“And of Clay Are We Created” by Isabel Allende

We’re transfixed by this story based on a real-life natural disaster. A volcano erupted in Colombia in 1985 and caused mudslides that tragically killed 23,000 people. Weaving culture with a gripping personal drama, Allende’s story centers on the rescue of Azucena, a girl trapped in the mud.

“The Embassy of Cambodia” by Zadie Smith

First appearing in a 2013 edition of The New Yorker, this story — both beginning and ending at the entrance to the embassy of Cambodia — details the life of domestic servant, Fatou. Though simple in nature, bestselling author Zadie Smith’s meticulous prose emphasizes how the smallest things in life can raise the largest questions.

“Girls, at Play” by Celeste Ng

This story by the author of the New York Times bestselling novels Everything I Never Told You and Little Fires Everywhere may shock you at first. It focuses on three 13-year-old girls who play a very adult game at school. But when a new girl arrives, they are able to recapture some of the innocence they’ve lost.

“Ghosts and Empties” by Lauren Groff

This poignant story follows a mother on her evening walk as she contemplates the history of her neighborhood, the personal lives of the people within, and her own raging emotions. Though short, it’s a powerful read for those overcome by feelings in their own lives.

“The Cartographer Wasps and the Anarchist Bees” by E. Lily Yu

A finalist for both the Nebula and Hugo awards, this short story is more than it seems. While on the surface it’s a tale of the battle between bees and wasps, underneath it carries deeper political themes and questions that you will want to discuss with your book buddies.

“The City Born Great” by N.K. Jemisin

Hugo Award–winning author N.K. Jemisin proves why she’s an acclaimed science fiction writer in this short story that sees New York City in an entirely new light. Once a city has aged, it will be born anew, but the future of this cosmopolitan playground is left to a wispy hero who must learn how to identity with his home in order to save it. 

“The Faery Handbag” by Kelly Link

We’re betting you’ll find this Kelly Link story as delightful as we do. Genevieve’s grandmother Zofia claims her handbag houses a group of fairies. One day, Genevieve discovers if it’s true. This acclaimed story won three major awards — the Nebula, Locus, and Hugo.

“Sweetness” by Toni Morrison

Those of us who love short stories know the magic behind a well-told tale. And we’ve got some great news: A lot of incredible short stories are available online, and you can read them for free right now! It’s the perfect way to spend a work break, the moments while dinner is in the oven, or your last few minutes before bedtime. Without further ado, here’s our list of great short stories you can read for free right now. The list features a blend of works from contemporary authors, as well as short stories from your favorite classic authors.

Finished reading these and on the hunt for more stories? Sign up for BookBub (at no cost!) and get access to thousands of free and discounted ebooks.

Contemporary Free Short Stories
These stories are by contemporary authors. If you’ve never read these authors before, their free short stories will give you a taste of their style before you commit to one of their longer works. There’s something for everyone, with genres ranging from science fiction to historical fiction to horror. Click on the title to be taken directly to the story.

“The Hunter’s Wife” by Anthony Doerr

Gorgeous descriptions of nature fill this story of a hunter and his younger, psychic wife during a Montana winter. After reading it, you’ll be amazed by Doerr’s talent, which was also behind his Pulitzer Prize-winning novel All the Light We Cannot See.

“Premium Harmony” by Stephen King

King fans won’t want to miss this 2009 short story which appeared in The New Yorker. A bickering couple stop at a convenience store and find their lives taking an unexpected dark turn. If you read closely, you’ll also catch references to the horror writer’s other works here.

“Broads” by Roxane Gay

You’ll get a kick out of this saucy story by Roxane Gay, author of Bad Feminist. Jimmy has a thing for loud, bold women. But it’s not until he meets a diner waitress that he finally seems to get what he wants.

“And of Clay Are We Created” by Isabel Allende

We’re transfixed by this story based on a real-life natural disaster. A volcano erupted in Colombia in 1985 and caused mudslides that tragically killed 23,000 people. Weaving culture with a gripping personal drama, Allende’s story centers on the rescue of Azucena, a girl trapped in the mud.

“The Embassy of Cambodia” by Zadie Smith

First appearing in a 2013 edition of The New Yorker, this story — both beginning and ending at the entrance to the embassy of Cambodia — details the life of domestic servant, Fatou. Though simple in nature, bestselling author Zadie Smith’s meticulous prose emphasizes how the smallest things in life can raise the largest questions.

“Girls, at Play” by Celeste Ng

This story by the author of the New York Times bestselling novels Everything I Never Told You and Little Fires Everywhere may shock you at first. It focuses on three 13-year-old girls who play a very adult game at school. But when a new girl arrives, they are able to recapture some of the innocence they’ve lost.

“Ghosts and Empties” by Lauren Groff

This poignant story follows a mother on her evening walk as she contemplates the history of her neighborhood, the personal lives of the people within, and her own raging emotions. Though short, it’s a powerful read for those overcome by feelings in their own lives.

“The Cartographer Wasps and the Anarchist Bees” by E. Lily Yu

A finalist for both the Nebula and Hugo awards, this short story is more than it seems. While on the surface it’s a tale of the battle between bees and wasps, underneath it carries deeper political themes and questions that you will want to discuss with your book buddies.

“The City Born Great” by N.K. Jemisin

Hugo Award–winning author N.K. Jemisin proves why she’s an acclaimed science fiction writer in this short story that sees New York City in an entirely new light. Once a city has aged, it will be born anew, but the future of this cosmopolitan playground is left to a wispy hero who must learn how to identity with his home in order to save it. 

“The Faery Handbag” by Kelly Link

We’re betting you’ll find this Kelly Link story as delightful as we do. Genevieve’s grandmother Zofia claims her handbag houses a group of fairies. One day, Genevieve discovers if it’s true. This acclaimed story won three major awards — the Nebula, Locus, and Hugo.

“Sweetness” by Toni Morrison

Those of us who love short stories know the magic behind a well-told tale. And we’ve got some great news: A lot of incredible short stories are available online, and you can read them for free right now! It’s the perfect way to spend a work break, the moments while dinner is in the oven, or your last few minutes before bedtime. Without further ado, here’s our list of great short stories you can read for free right now. The list features a blend of works from contemporary authors, as well as short stories from your favorite classic authors.

Finished reading these and on the hunt for more stories? Sign up for BookBub (at no cost!) and get access to thousands of free and discounted ebooks.

Contemporary Free Short Stories
These stories are by contemporary authors. If you’ve never read these authors before, their free short stories will give you a taste of their style before you commit to one of their longer works. There’s something for everyone, with genres ranging from science fiction to historical fiction to horror. Click on the title to be taken directly to the story.

“The Hunter’s Wife” by Anthony Doerr

Gorgeous descriptions of nature fill this story of a hunter and his younger, psychic wife during a Montana winter. After reading it, you’ll be amazed by Doerr’s talent, which was also behind his Pulitzer Prize-winning novel All the Light We Cannot See.

“Premium Harmony” by Stephen King

King fans won’t want to miss this 2009 short story which appeared in The New Yorker. A bickering couple stop at a convenience store and find their lives taking an unexpected dark turn. If you read closely, you’ll also catch references to the horror writer’s other works here.

“Broads” by Roxane Gay

You’ll get a kick out of this saucy story by Roxane Gay, author of Bad Feminist. Jimmy has a thing for loud, bold women. But it’s not until he meets a diner waitress that he finally seems to get what he wants.

“And of Clay Are We Created” by Isabel Allende

We’re transfixed by this story based on a real-life natural disaster. A volcano erupted in Colombia in 1985 and caused mudslides that tragically killed 23,000 people. Weaving culture with a gripping personal drama, Allende’s story centers on the rescue of Azucena, a girl trapped in the mud.

“The Embassy of Cambodia” by Zadie Smith

First appearing in a 2013 edition of The New Yorker, this story — both beginning and ending at the entrance to the embassy of Cambodia — details the life of domestic servant, Fatou. Though simple in nature, bestselling author Zadie Smith’s meticulous prose emphasizes how the smallest things in life can raise the largest questions.

“Girls, at Play” by Celeste Ng

This story by the author of the New York Times bestselling novels Everything I Never Told You and Little Fires Everywhere may shock you at first. It focuses on three 13-year-old girls who play a very adult game at school. But when a new girl arrives, they are able to recapture some of the innocence they’ve lost.

“Ghosts and Empties” by Lauren Groff

This poignant story follows a mother on her evening walk as she contemplates the history of her neighborhood, the personal lives of the people within, and her own raging emotions. Though short, it’s a powerful read for those overcome by feelings in their own lives.

“The Cartographer Wasps and the Anarchist Bees” by E. Lily Yu

A finalist for both the Nebula and Hugo awards, this short story is more than it seems. While on the surface it’s a tale of the battle between bees and wasps, underneath it carries deeper political themes and questions that you will want to discuss with your book buddies.

“The City Born Great” by N.K. Jemisin

Hugo Award–winning author N.K. Jemisin proves why she’s an acclaimed science fiction writer in this short story that sees New York City in an entirely new light. Once a city has aged, it will be born anew, but the future of this cosmopolitan playground is left to a wispy hero who must learn how to identity with his home in order to save it. 

“The Faery Handbag” by Kelly Link

We’re betting you’ll find this Kelly Link story as delightful as we do. Genevieve’s grandmother Zofia claims her handbag houses a group of fairies. One day, Genevieve discovers if it’s true. This acclaimed story won three major awards — the Nebula, Locus, and Hugo.

“Sweetness” by Toni Morrison

Those of us who love short stories know the magic behind a well-told tale. And we’ve got some great news: A lot of incredible short stories are available online, and you can read them for free right now! It’s the perfect way to spend a work break, the moments while dinner is in the oven, or your last few minutes before bedtime. Without further ado, here’s our list of great short stories you can read for free right now. The list features a blend of works from contemporary authors, as well as short stories from your favorite classic authors.

Finished reading these and on the hunt for more stories? Sign up for BookBub (at no cost!) and get access to thousands of free and discounted ebooks.

Contemporary Free Short Stories
These stories are by contemporary authors. If you’ve never read these authors before, their free short stories will give you a taste of their style before you commit to one of their longer works. There’s something for everyone, with genres ranging from science fiction to historical fiction to horror. Click on the title to be taken directly to the story.

“The Hunter’s Wife” by Anthony Doerr

Gorgeous descriptions of nature fill this story of a hunter and his younger, psychic wife during a Montana winter. After reading it, you’ll be amazed by Doerr’s talent, which was also behind his Pulitzer Prize-winning novel All the Light We Cannot See.

“Premium Harmony” by Stephen King

King fans won’t want to miss this 2009 short story which appeared in The New Yorker. A bickering couple stop at a convenience store and find their lives taking an unexpected dark turn. If you read closely, you’ll also catch references to the horror writer’s other works here.

“Broads” by Roxane Gay

You’ll get a kick out of this saucy story by Roxane Gay, author of Bad Feminist. Jimmy has a thing for loud, bold women. But it’s not until he meets a diner waitress that he finally seems to get what he wants.

“And of Clay Are We Created” by Isabel Allende

We’re transfixed by this story based on a real-life natural disaster. A volcano erupted in Colombia in 1985 and caused mudslides that tragically killed 23,000 people. Weaving culture with a gripping personal drama, Allende’s story centers on the rescue of Azucena, a girl trapped in the mud.

“The Embassy of Cambodia” by Zadie Smith

First appearing in a 2013 edition of The New Yorker, this story — both beginning and ending at the entrance to the embassy of Cambodia — details the life of domestic servant, Fatou. Though simple in nature, bestselling author Zadie Smith’s meticulous prose emphasizes how the smallest things in life can raise the largest questions.

“Girls, at Play” by Celeste Ng

This story by the author of the New York Times bestselling novels Everything I Never Told You and Little Fires Everywhere may shock you at first. It focuses on three 13-year-old girls who play a very adult game at school. But when a new girl arrives, they are able to recapture some of the innocence they’ve lost.

“Ghosts and Empties” by Lauren Groff

This poignant story follows a mother on her evening walk as she contemplates the history of her neighborhood, the personal lives of the people within, and her own raging emotions. Though short, it’s a powerful read for those overcome by feelings in their own lives.

“The Cartographer Wasps and the Anarchist Bees” by E. Lily Yu

A finalist for both the Nebula and Hugo awards, this short story is more than it seems. While on the surface it’s a tale of the battle between bees and wasps, underneath it carries deeper political themes and questions that you will want to discuss with your book buddies.

“The City Born Great” by N.K. Jemisin

Hugo Award–winning author N.K. Jemisin proves why she’s an acclaimed science fiction writer in this short story that sees New York City in an entirely new light. Once a city has aged, it will be born anew, but the future of this cosmopolitan playground is left to a wispy hero who must learn how to identity with his home in order to save it. 

“The Faery Handbag” by Kelly Link

We’re betting you’ll find this Kelly Link story as delightful as we do. Genevieve’s grandmother Zofia claims her handbag houses a group of fairies. One day, Genevieve discovers if it’s true. This acclaimed story won three major awards — the Nebula, Locus, and Hugo.

“Sweetness” by Toni Morrison


Finished reading these and on the hunt for more stories? Sign up for BookBub (at no cost!) and get access to thousands of free and discounted ebooks.

Contemporary Free Short Stories
These stories are by contemporary authors. If you’ve never read these authors before, their free short stories will give you a taste of their style before you commit to one of their longer works. There’s something for everyone, with genres ranging from science fiction to historical fiction to horror. Click on the title to be taken directly to the story.

“The Hunter’s Wife” by Anthony Doerr

Gorgeous descriptions of nature fill this story of a hunter and his younger, psychic wife during a Montana winter. After reading it, you’ll be amazed by Doerr’s talent, which was also behind his Pulitzer Prize-winning novel All the Light We Cannot See.

“Premium Harmony” by Stephen King

King fans won’t want to miss this 2009 short story which appeared in The New Yorker. A bickering couple stop at a convenience store and find their lives taking an unexpected dark turn. If you read closely, you’ll also catch references to the horror writer’s other works here.

“Broads” by Roxane Gay

You’ll get a kick out of this saucy story by Roxane Gay, author of Bad Feminist. Jimmy has a thing for loud, bold women. But it’s not until he meets a diner waitress that he finally seems to get what he wants.

“And of Clay Are We Created” by Isabel Allende

We’re transfixed by this story based on a real-life natural disaster. A volcano erupted in Colombia in 1985 and caused mudslides that tragically killed 23,000 people. Weaving culture with a gripping personal drama, Allende’s story centers on the rescue of Azucena, a girl trapped in the mud.

“The Embassy of Cambodia” by Zadie Smith

First appearing in a 2013 edition of The New Yorker, this story — both beginning and ending at the entrance to the embassy of Cambodia — details the life of domestic servant, Fatou. Though simple in nature, bestselling author Zadie Smith’s meticulous prose emphasizes how the smallest things in life can raise the largest questions.

“Girls, at Play” by Celeste Ng

This story by the author of the New York Times bestselling novels Everything I Never Told You and Little Fires Everywhere may shock you at first. It focuses on three 13-year-old girls who play a very adult game at school. But when a new girl arrives, they are able to recapture some of the innocence they’ve lost.

“Ghosts and Empties” by Lauren Groff

This poignant story follows a mother on her evening walk as she contemplates the history of her neighborhood, the personal lives of the people within, and her own raging emotions. Though short, it’s a powerful read for those overcome by feelings in their own lives.

“The Cartographer Wasps and the Anarchist Bees” by E. Lily Yu

A finalist for both the Nebula and Hugo awards, this short story is more than it seems. While on the surface it’s a tale of the battle between bees and wasps, underneath it carries deeper political themes and questions that you will want to discuss with your book buddies.

“The City Born Great” by N.K. Jemisin

Hugo Award–winning author N.K. Jemisin proves why she’s an acclaimed science fiction writer in this short story that sees New York City in an entirely new light. Once a city has aged, it will be born anew, but the future of this cosmopolitan playground is left to a wispy hero who must learn how to identity with his home in order to save it. 

“The Faery Handbag” by Kelly Link

We’re betting you’ll find this Kelly Link story as delightful as we do. Genevieve’s grandmother Zofia claims her handbag houses a group of fairies. One day, Genevieve discovers if it’s true. This acclaimed story won three major awards — the Nebula, Locus, and Hugo.

“Sweetness” by Toni Morrison


        </p>
    </div>
  </div>
</body>
</html>