body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.my-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
      width: 80%;
      min-width: 500px;         /* Full width of parent */
      max-width: 1100px;    /* Limit the width */
      height: 800px;       /* Fixed height or set to auto if the content resizes */
      border: 1px solid #ccc;
      display: block;
      margin: 20px auto;   /* Center it horizontally */
      overflow: hidden;

        
}

.my-card::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }



.my-card-background {
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  margin: 0;
  padding: 0;

}
.my-card-text{
  font-size: 1.2em;
  text-align: center;
  
}
.my-card-title {
text-align: center;
}

.my-card h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0; /* Top Rgiht Bottom Left */
}

.my-card p {
  font-size: 1em;
  color: #555;
}

.my-card:hover {
  transform: scale(1.01);
}
