<!DOCTYPE html><!-- page145 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            I find going backward a little more confusing, but that might just be me! But to illustrate, we could achieve the same visual effect for our example by changing that line to grid-row: span 2 / 8. In this instance, the definite point we have is the endpoint, so we are telling the grid to make the item start at grid row 8 and span 2 back from there.
        </p>
        <h2>
            dense
        </h2>
        <p>
            Remember when we looked at grid-auto-flow, I mentioned the dense keyword? well, this is the perfect opportunity to show you what that does. I'll amend the value of the grid-auto-flow property to this: grid-auto-flow: row dense;. And here is what it does in the browser:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 5.10: The "dense" keyword rearranges grid items so that gaps are removed
            </p>
        </section>
        <p>
            Canyou see how the gaps have been filed? That s what dense does foryou. oweve, while this
            might seem more aesthetically pleasing, there is a cost. The reason the items are numbered is that vanted to highlighe to you thatusin there s a lo the rid ayout algorithm to move things, vauly from their sour order to any availabl space. Notice how in this instance the tems are not necessarily in source order? That's the cost of the visual nicety.
            <br><br>
            So far, we have been laying things out using the numbers of the grid lines. However, if you would rather name the grid lines, that is something you can do too.
        </p>

       
    </div>
  </div>
  
</body>
</html>
