<!DOCTYPE html><!-- page166 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            If you look in the Start folder for this chapter's code, you will see that, currently, those sections are just one under the other. Try to amend the code for that section using Grid Layout. Perhaps think about how you could easily have it showing one or two of those sections when screen space is limited, and the layout that is shown in the preceding screenshot when space allows.
            <br><br>
            And what about if the headings for those sections wrap? Do you want to make use of the subgrid value to ensure they stay visually aligned?
        </p>
        <h2>
            Summary
        </h2>
        <p>
            If you are fairly new to building on the web, you almost have an advantage when it comes to learning CSS Grid: a "beginner's mind," if you like. For people that have been laying things out with other techniques over the years, the difficulty, in some ways, is undoing what you already know about layout with CSS.
            <br><br>
            Having read this chapter, you should have some understanding of what is possible with Grid Layout and how you might employ it.
            <br><br>
            Plus, with subgrid more recently joining the existing capabilities of CSS Grid, we now have an incredibly powerful, complete, and expressive method of laying out elements on our page with CSS.
            <br><br>
            I should also ask that, if you were in any way successful with the exercises, you congratulate yourself; there's a lot to consider when you first start using Grid. If you accomplished something with your first effort, you did admirably.
            <br><br>
            At this point, I'll also reiterate that Grid is tricky at first. It comes with a lot of possibilities but also quite a few new pieces of terminology and concepts. Expect to take a few runs at it the first time you use it.
            <br><br>
            Personally, I found the easiest approach was to start remaking a few things I already had built in Flexbox with Grid. Start simple, and write the style of syntax that makes the most sense for you.
            I still rarely write the shorthand versions, as despite the attractiveness of a terse one-liner, I find them hard to interpret and understand at a glance. For me, clarity trumps brevity.
            <br><br>
            Regardles of the aproach you take I promise that, once you get competent, CSS Grid will pay
            you back handsomely for your investment.
            <br><br>
            These last two chapters, on Flexbox and Grid, have covered single topics in some detail. The next chapter is going to be more broad: a veritable grab-bag of CSS goodies. Turn that page, and let's move on to Chapter 6, CSS Selectors, Typography, and More.
        </p>

       
    </div>
  </div>
  
</body>
</html>
