<!DOCTYPE html><!-- page165 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            With that in place, we can set the row and column positions of child elements inside the grid as we would normally. But the "magic" part is: because our rows are connected to the outer grid via the subgrid value, it means they are sized with the largest child in mind, which in turn means that all the internal elements of each . Item can line up.
            <br><br>
            When you hit these kind of child element problems with Grid, if you simply need to remove a containing element, as if it wasn't there, opt for display: contents. If, however, you need to keep the containing element - perhaps it has a background color or image - then subgridis the best choice.
            <br><br>
            This is but one simple use case of a layout conundrum that can be easily solved with subgrid.
            The exercise that follows will present another to put your mind to.
        </p>
        <h2>
            Applying what you have learned so far
        </h2>
        <p>
            As an exercise, consider this section of the ht tps://rwd. education website:
        </p>
        <section>
            <object>
                icon here
            </object>
            <h3>
                400+ INFO PACKED PAGES
            </h3>
            <p>
                CSS Layers, Color Functions, Media Queries, SVG, animations, transforms, accessibility, Flexbox, Grid, Scroll Snap and much, much more.
            </p>
        </section>
        <section>
            <object>
                icon here
            </object>
            <h3>
                SAMPLE CODE
            </h3>
            <p>
                Each chapter has associated code examples to follow along with. You also get the source code for this site which utilises many of the techniques you'll master throughout.
            </p>
        </section>
        <section>
            <object>
                icon here
            </object>
            <h3>
                LATEST EDITION
            </h3>
            <p>
                The 4th Edition of Packt's best-selling Responsive Web
                Design title since 2012.
                Updated in 2022 to include all the new and essential
                CSS and HTML features.
            </p>
        </section>
        <section>
            <h3>
                IS IT FOR YOU?
            </h3>
            <p>
                Are you a full-stack developer who needs to boost their front-end skills? Perhaps you work on the front-end and you need a definitive overview of all modern HTML and CSS has to offer?
                Maybe you have done a little website building but you need a deep understanding of how responsive web designs work and how to achieve them? This is a book for you!
            </p>
        </section>
        <section>
            <h3>
                WHAT WILL YOU LEARN?
            </h3>
            <p>
                Understand the most fundamental parts of building a modern web site or application that will work across all devices. You'll learn the best approaches for having a fast and accessible website that works just as well on the latest iPhone or
                Android as a desktop computer.
                <br><br>
                The book covers everything from choosing the right tag to mark up content, to understanding the benefits of modern image formats like AVIF and WebP - and everything essential in-between. It also covers all the latest features of CSS:
                Custom Properties, variable fonts, CSS Grid and much, much more.
            </p>
        </section>
        <div>
            <p>
                BUY FROM PACKT
            </p>
        </div>
        <div>
            <p>
                BUY FROM AMAZON
            </p>
        </div>
        <object>
            icon here
        </object>
        <p>
            Figure 5.21: Can you use your grid knowledge to lay out this section?
        </p>
    </div>
  </div>
  
</body>
</html>
