<!DOCTYPE html><!-- page152 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            And here is what that gives you in the browser in a smaller viewport:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 5.13: One line with Grid gives you a mobile layout...
            </p>
        </section>
        <p>
            And the same thing on a wider screen:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 5.14: ...and also a layout for wider viewports!
            </p>
        </section>
        <p>
            Pretty handy, right?
            <br><br>
            Let's break down all the magic in that one-liner.
        </p>
    </div>
  </div>
  
</body>
</html>
