<!DOCTYPE html><!-- page136 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
            grid-template-columns: 200px 200px; 
            background-color: #e4e4e4;
        }
            [class^= 'grid-item'] {
            <br><br>
                display: grid;
            <br><br>
                align-items: center;
            <br><br>
                justify-content: center;
            <br><br> 
                outline: 3px dashed #f90; 
            <br><br>
                ont-size: 30px;
            <br><br>
                color: #333;
            <br><br>
            }
        </code>
        <p>
            If that selector with the hat symbol doesn't make sense, don't worry. We cover that in Chapter 6, CSS Selectors, Typography, and More.
            <br><br>
            We switched our container to be an inline-grid, set all the grid items to display: grid, and used the alignment properties justify-content and align-items.
            <br><br>
            That produces this result:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 5.4: By making the child elements flex or grid, we can center their contents
            </p>
        </section>
        <p>
            You can find the code for this at example_05-02. As an exercise, try moving the position of the grid elements to different rows and columns.
            <br><br>
            OK, a little progress has been made. Let's move on to the topic of explicit and implicit item placement.
        </p>
    </div>
  </div>
  
</body>
</html>
