<!DOCTYPE html><!-- page139 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
            grid-gap: 10px; 
            <br><br>
            grid-template-rows: 200px 200px;
            <br><br> 
            grid-template-columns: 200px 200px; 
            <br><br>
            grid-auto-rows: 100px 150px; 
            <br><br>
            grid-auto-columns: 100px 150px; 
            <br><br>
            background-color: #e4e4e4;
            <br><br>
        }
        </code>
        <p>
            Here's what it looks like:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 5.7: You can specify a sizing pattern for any auto-added rows or columns
            </p>
        </section>
        <p>
            Can you see how item 5 onward uses the pattern we defined in the value of the grid-auto-rows property? First, 5 and 6 are 100 px tall, then 7 and 8 are 150 px, and then back to 100 px for 9.
            <br><br>
            So far, you can see that the grid items are flowing vertically down the page. You can easily switch this to tow across the page instead! You can play about with this code in example_05-03.
        </p>
    </div>
  </div>
  
</body>
</html>
