<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <h1>
            5
        </h1>
        <h1>
            Layout with CSS Grid
        </h1>
        <p>
            Without a doubt, the biggest game changer to CSS layout has been Grid.
            <br><br>
            We now have a layout system capable of achieving everything we have done before with less code and more predictability, as well as enabling things we simply couldn't do before!
            <br><br>
            I'd go as far as saying Grid is revolutionary rather than evolutionary. There are entirely new concepts to understand that have no real forebears in past CSS. As such, expect to take some time getting comfortable using it.
            <br><br>
            But trust me, it is worth it. Let's go!
            <br><br>
            In this chapter, we will learn the following:
        </p>
        <ul>
            <li>
                What CSS Grid is and the problems it solves
            </li>
            <li>
                The essential concepts to understand when dealing with Grid Layout
            </li>
            <li>
                Grid-specific terminology
            </li>
            <li>
                How to set up a Grid
            </li>
            <li>
                How to position items in a Grid
            </li>
            <li>
                How to create powerful responsive patterns with minimal code
            </li>
            <li>
                How to understand and write the grid shorthand syntax
            </li>
            <li>
                The latest Grid addition, subgrid
            </li>         
        </ul>
        <p>
            Toward the end of the chapter, you will also be tasked with a small exercise to use some of the techniques we have learned to refactor the layout of a portion of the https://rwd. education website we have been looking at in previous chapters.
        </p>

       
    </div>
  </div>
  
</body>
</html>
