<!DOCTYPE html><!-- page161 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 5.18: Setting display: contents on an element stops it from producing its own box, allowing child elements to take part in the layout
            </p>
        </section>
        <p>
            You are then able to position those elements in the grid as if the parent element didn't exist.
        </p>
        <h2>
            The subgrid value
        </h2>
        <p>
            Part of the Level 2 CSS Grid Layout specification deals with the subgrid value. There is every chance that, as you read these words, subgrid will already be available to use. However, support for it will not be ubiquitous for some time.
        </p>


       
    </div>
  </div>
  
</body>
</html>
