<!DOCTYPE html><!-- page141 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            Here's the markup:
        </p>
        <code>
            &lt;div class="container"&gt;
            <br><br>    
                &lt;div class="grid-item1"&gt; 1. tofu &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item2"&gt; 2. egg plant &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item3"&gt; 3. onion &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item4"&gt; 4. carrots &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item5"&gt; 5. swede &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item6"&gt; 6. scones &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item7"&gt; 7. cucumber &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item8"&gt; 8. carrot &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item9"&gt; 9. yam &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item10"&gt; 10. sweet potato &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item11"&gt; 11. peas &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item12"&gt; 12. beans< &lt;div&gt;
            <br><br>    
                &lt;div class="grid-item13"&gt; 13. lentil &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item14"&gt; 14. tomato &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item15"&gt; 15. butternut squash &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item16"&gt; 16. ham &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item17"&gt; 17. pizza &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item18"&gt; 18. pasta &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item19"&gt; 19. cheese &lt;/div&gt;
            <br><br>    
                &lt;div class="grid-item20"&gt; 20. milk &lt;/div&gt;
            <br><br>    
            &lt;/ div&gt;
        </code>
        <p>
            Here is the CSS:
        </p>
        <code>
            .container {
            <br><br>
                font-size: 28px;
            <br><br>
                font-family: sans-serif;
            <br><br> 
                display: grid;
            <br><br>
                gap: 30px;
            <br><br>
                background-color: #ddd;
            <br><br>
                grid-template-columns: repeat (4, 1fr); 
            <br><br>
                grid-auto-rows: 100px; 
            <br><br>
                grid-auto-flow: row;
            <br><br>
            }
            <br><br>
            [class^='grid-item'] {
            <br><br>
            outline: 1px #f90 dashed;
            <br><br>
            display: grid;
        </code>
    </div>
  </div>
  
</body>
</html>
