<!DOCTYPE html><!-- page142 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
                background-color: goldenrod;
            <br><br>
                align-items: center;
            <br><br>
                justify-content: center;
            <br><br>
            .grid-item {
            <br><br>
                grid-column: 2/-1;
            <br><br>
            }
        <br><br>
            .grid-item { 
            <br><br>
                grid-row: 3/6;
            <br><br>
                grid-column: 3 / 5;
            <br><br>
            }
            <br><br>
            .grid-item17 {
            <br><br>
                grid-row: 6 / span 2;
            <br><br>
                grid-column: 2/3;
            <br><br>
            }
            <br><br>
            .grid-item4 {
            <br><br>
                grid-row: 4 / 7;
            <br><br>
            }
        </code>
        <p>
            And here is what we get in the browser:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 5.9: Grid items sized arbitrarily
            </p>
        </section>

       
    </div>
  </div>
  
</body>
</html>
