<!DOCTYPE html><!-- page130 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            Before I ask you to do that, I'd better get on with explaining what Grid is all about.
        </p>
        <h2>
            What CSS Grid is and the problems it solves
        </h2>
        <p>
            Css Grid is a two-dimensional layout system. Flexbox, which we covered in the last chapter, concerns itself with items being laid out in a single dimension/direction at a time. A Flexbox container either lays things out in a row, or it lays them out in a column. It cannot facilitate laying out items horizontally and vertically at once; that is what Grid is for.
            <br><br>
            I should point out at the outset that you don't need to choose between Flexbox or Grid when building projects. They are not mutually exclusive. I commonly use both, even within a single visual component.
            <br><br>
            To be completely clear, when you adopt Grid, you don't have to forsake any other display methods.
            For example, a Grid will quite happily allow a Flexbox inside it. Equally, part of your interface coded with Grid can quite happily live inside a Flexbox, standard block, or inline-block.
            <br><br>
            So there are times when using Grid is the most appropriate option, and there are times when Flexbox, or another layout method, is the most appropriate.
            <br><br>
            The truth is, we've been creating grid-like layouts with CSS for years. We just haven't had a specific grid layout mechanism in CSS to do it. We have made use of blocks, floats, tables, and many other ingenious techniques to work around the fact we didn't have a proper Grid Layout system in CSS. Now, thankfully, we do.
            <br><br>
            Using CSS Grid, we can create grids of virtually infinite permutations and position child elements wherever we want them, regardless of their source order. What's more, Grid even makes provision for when additional items are added and adapts itself to the needs of the content. This might sound hyperbolic, so let's not waste any more text. Let's get to it.
        </p>
        <h2>
            Basic Grid syntax
        </h2>
        <p>
            In the most simple terms, to use Grid, we need to tell the browser:
        </p>
        <ul>
            <li>How many rows and columns our grid should have</li>
            <li>How those rows and columns should be sized</li>
            <li>Where we want to place the items of our grid</li>
            <li>What should happen when the size of the grid changes or more items are added to the grid</li>
        </ul>
        <p>
            Relating that to the browser is, therefore, just a matter of understanding the terminology.
        </p>
    </div>
  </div>
  
</body>
</html>
