<!DOCTYPE html><!-- page77 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <code>
            padding: 0;
        }
    }
        </code>
        <p>
            In this instance, we are saying "at 1000 px and beyond, make the margin and padding zero for the rwd-Nav element." Notice that each time, in our media query, we only amend the specific properties we need to change. By writing our "base" styles as we have, outside of any media query, our actual media queries only need to encapsulate the differences needed.
            <br><br>
            It might seem a little reductive, but the above process is essentially all there is to working with media queries. Write the basic styles without media queries and then work wider and wider, adding media queries and changes wherever needed to affect the design as required.
            <br><br>
            If you have the time, I implore you to try writing some media queries for yourself. Whether it's the test page here or something of your own you want to work with. Pick something you want to change, pick a viewport width, and add a media query to make the change happen. Once you have written a few, making the changes you want to see, you will realize how straightforward but powerful they are.
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>
                Testing responsive designs on emulators and simulators
                Although there is no substitute for testing your development work on real devices, there are emulators for Android and a simulator for iOS (for the pedantic, a simulator merely simulates the relevant device whereas an emulator actually attempts to interpret the original device's code). The Android emulator for Windows, Linux, and Mac is available free by installing Android Studio from https:/ /developer. android. com/studio. The iOS simulator is only available to macOS users and comes as part of the Xcode package (free from the Mac App Store). Browsers themselves are also including ever-improving tools for emulating mobile devices in their development tools.
            </p>
        </section>
        <h2>Advanced media query considerations</h2>
        <p>
            The following section deals with concerns for when you are highly proficient in writing media queries. Think of these topics as micro-optimizations. If you are just starting with media queries, you certainly shouldn't be worrying about any of these topics yet. Jump on to the Media Queries Level 5 section instead!
            <br><br>
            OK, media query uber-geekery, here we go...
        </p>
       
    </div>
  </div>

</body>
</html>