<!DOCTYPE html><!-- page65 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>However, it quickly starts to look a little stretched when you widen the browser window:</p>
        <section>
            <object>
                img here
            </object>
            <p>Figure 3.2: We definitely need to change the styles for wider viewports</p>
        </section>
        <p>
            The initial styles are written using a fluid/proportional approach. This means widths are generally written as percentages rather than fixed pixel sizes; the upshot being that the content at least grows and shrinks to fill the browser window regardless of how large or small it gets.
            <br><br>
            However, this still leaves us with the problem that when you go wide enough, you need to do something a little more drastic, visually, than just making things wider still!
            <br><br>
            We can fix this problem with media queries.
            <br><br>
            Media queries allow us to target specific CSS styles depending on the capabilities of a device.
            For example, with just a few lines of CSS, we can change the way content is displayed based on things such as viewport width, screen aspect ratio, orientation (landscape or portrait), and so on.
            In this chapter, we will:
        </p>
        <ul>
            <li>Understand the meta viewport tag to make media queries work on mobile devices</li>
            <li>Learn why media queries are essential for a responsive web design</li>
        </ul>


       
    </div>

  </div>
</body>
</html>