<!DOCTYPE html><!-- page90 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <h2>Container relative lengths</h2>
        <p>
            We can size the child elements of containers using container relative lengths.
            <br><br>
            Here are the proposed units:
        </p>
        <ul>
            <li>
                cqi, 1% of the inline-size
            </li>
            <li>
                cqw, 1% of the width
            </li>
            <li>
                cqb, 1% of the block-size
            </li>
            <li>
                cqh, 1% of the height
            </li>
            <li>
                camin, 1% of the smallest of cqi and cab
            </li>
            <li>
                cqmax, 1% of the largest of cqi and cab
            </li>             
        </ul>
       <p>
        These resolve to the nearest ancestor container that accepts queries on that axis. This is an important concept to fully grasp. Let's assume you specified 40cqh. If the nearest ancestor container is set to inline-size, then it won't be 40% of the height of that container. It will be the nearest ancestor container set for block-size.
        <br><br>
        Whether or not these details change in the shipping version of container queries, your humble author is unable to know.
       </p>
       <h2>Possibilities</h2>
       <p>
        While, at this point, it's not possible to be certain of the syntaxes we will end up with, let's reflect on some of the possibilities that should be possible. What about headings that scale with the size of the container? That would be as simple as:
       </p>
       <code>
        .heading {
            font-size: calc (14px + 2cqi);
        }
       </code>
       <p>
        Or changing layout if the container ends up taller than it is wide:
       </p>
       <code>
        @container (orientation: portrait) {
            /* styles */
        }
       </code>
    </div>
  </div>

</body>
</html>