<!DOCTYPE html><!-- page69 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
    
  <div >
    <div >
        <p>Below is a complete but simple web page, with no content but some basic styles and media queries:</p>
        <code>
            &lt;DOCTYPE html&gt;
            <br><br>
            &lt;html class="no-js" lang="en" &gt;
            <br><br>
            &lt;head&gt;
            <br><br>
            &lt;meta charset="utf-8" /&gt;
            <br><br>
            &lt;title&gt; Media Query Test &lt;/title&gt;
            <br><br>
            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0" /&gt; 
            <br><br>
            &lt;style&gt; 
            <br><br>
                body {
                    background-color: grey;
                }
                <br><br>
                @media screen and (min-width: 320px) {
                    body {
                    background-color: green;
                    }
                }
                <br><br>
                @media screen and (min-width: 550px) {
                    body {
                    background-color: yellow;
                    }
                }
                <br><br>
                @media screen and (min-width: 768px) {
                    body {
                    background-color: orange;
                    }
                }
                <br><br>
                @media screen and (min-width: 960px) {
                    body {
                    background-color: red;
                    }
                <br><br>
            }
            <br><br>
            &lt;/ style&gt;
            &lt;/ head&gt;
            <br><br>
            &lt; body&gt; &lt;/body&gt;
            <br><br>
            &lt;/html&gt;
        </code>       
    </div>
  </div>

</body>
</html>