<!DOCTYPE html><!-- page87 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div >
    <div >
        <code>
            @media (min-width: 40em) {
            <br><br>
                .component {
            <br><br>
                /* styles */
            <br><br>
                }
            <br><br>
            .sidebar .component {
            <br><br>
                /* styles */
            <br><br>
                }
            <br><br>
            }
        </code>
        <p>
            That's OK, but in this scenario, we need to be very clear about the environments our piece of user interface may find itself in. It's also quite a broad stroke. What happens when the structure or physical shape of the rendered document is changed, as it is given to do in responsive designs?
            <br><br>
            As discussed at the beginning of this section, what we are actually interested in is the width of the container our component finds itself in. If only we could query the container!
            <br><br>
            For years, web developers have been hoping for something that allowed us to do just that. Finally, that is happening. CSS container queries are just now, as I write this in 2022, making their way to browsers in experimental form.
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>
                You may hear of Web Platform features being "Experimental" or "behind a flag." This means the capabilities can be optionally switched on in browsers, but they are not shipping in browsers by default. It is a chance to use the feature in its unfinished form and provide feedback to browser vendors as it is being developed
            </p>
        </section>
        <h2>This may change!</h2>
        <p>
            This is bleeding-edge stuff as I write this, and hasn't officially shipped in browsers, so before we proceed I want to give you this "it may change" warning! While it's unlikely the principles of container queries will change significantly before they are available in browsers, it is possible some syntax and nuances may be revised.
            <br><br>
            As such, we will consider example code only for this section; there are no example pages in the downloadable code. What is important for you to appreciate is the possibilities these new tools offer.
        </p>
       
    </div>
  </div>

</body>
</html>