<!DOCTYPE html><!-- page92 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>Join our book's Discord space</h2>
        <p>
          Stumped by media queries? Join the book's Discord workspace to discuss all your responsive web design concerns directly with the author and interact with other readers:
        </p>
        <section>
          <p>
            https://packt.link/RWD4e
          </p>
          <object>
            qr code here
          </object>
        </section>


       
    </div>

  </div>
</body>
</html>