<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h1>3</h1>
        <h1>Media Queries and Container
Queries</h1>
            <p>This chapter will look in detail at CSS media queries, hopefully providing all that's needed to fully understand their capability, syntax, and future development.
            <br><br>
            At the end of this chapter, we will also look at container queries. As this chapter is written in mid-2022, there are only experimental versions available of container queries in some browsers, which I wouldn't typically cover. However, we shall enjoy an exception here. Container queries are likely to be a very significant addition to the web platform. As such, we will take a whistle-stop tour of the current implementations and consider some of the considerable possibilities they promise.
            But, to begin with, let's understand everything we need to know about media queries.
            <br><br>
            We ended the last chapter with the initial markup for the rwd. education website. It wasn't necessarily the final markup, but it was solid enough for us to start working with. For the sake of this chapter, I have taken that markup and added some corresponding basic "mobile" styles.</p>


       
    </div>

  </div>
</body>
</html>