<!DOCTYPE html><!-- page68 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <h2>Why media queries are needed for a responsive web design</h2>
        <p>If you head over to the W3C specification of the CSS Media Queries module (https:// www. w3. 0rg/TR/mediaqueries-3/), you'll see that this is their official introduction to what media queries are all about:</p>
        <p>A media query consists of a media type and zero or more expressions that check for the conditions of particular media features. Among the media features that can be used in media queries are width',
        "height, and 'color'. By using media queries, presentations can be tailored to a specific range of output devices without changing the content itself.</p>
        <p>
            While a fluid layout, created with percentages rather than fixed widths, can carry a design a substantial distance (we cover fluid layouts in full in the next chapter), given the gamut of screen sizes we have to cover, there are times when we need to revise the layout more substantially. Media queries make this possible think of them as basic conditional logic for CSS.
        </p>
        <h2>Basic conditional logic in CSS</h2>
        <p>True programming languages all have some facility in which one of two or more possible situations are catered for. This usually takes the form of conditional logic, also known as control flow, typified by an if/else statement.
        <br><br>
        If programming vernacular makes your eyes itch, fear not; it's a very simple concept. You probably dictate conditional logic every time you ask a friend to order for you when visiting a cafe: "If they've got triple chocolate muffins I'll have one of those, if not, I'll have a slice of carrot cake." It's a simple conditional statement with two possible (and equally desirable) results based on two equally possible eventualities.
        <br><br>
        At the time of writing, CSS offers few possibilities when it comes to true conditional logic and programmatic features. Loops and iteration, for example, are still within the sole domain of CSS pre-processors (did I mention a fine book on the subject of the Sass pre-processor, called Sass and Compass for Designers?). However, media queries are one mechanism that does allow us to author basic conditional logic; styles applied depending on whether certain media-based conditions are met.</p>
        <h2>Media query syntax</h2>
        <p>So what does a CSS media query look like and, more importantly, how does it work?</p>


       
    </div>

  </div>
</body>
</html>