<!DOCTYPE html><!-- page91 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>
            Remember we will be able to make all these styling forks independently or in conjunction with things going on with the viewport.
            <br><br>
            Exciting times are coming as CSS provides further means to define and codify our designs with hitherto impossible flexibility.
        </p>
        <h2>Summary</h2>
        <p>
            In this chapter, we've covered everything you are likely to need when using media queries for a responsive design. You now understand how to change a layout based on the characteristics of the environment your web pages find themselves in.
            <br><br>
            We learned what media queries are, why we need them, and how to include them in our CSS files in all manner of ways. We've also learned how to use the meta viewport tag to make browsers render pages in the manner we'd like.
            <br><br>
            As I'll no doubt repeat in later chapters, don't get bogged down with or intimidated by the syntax.
            Just get an understanding of the underlying principles and you can look up the syntax anytime; after all, that's what all developers do! As long as you understand what you can accomplish with media queries, our work here is largely done.
            <br><br>
            While only experimental as I write this, we have also considered container queries and some of the exciting abilities they provide. Modeled after media queries, they let us style elements based on their containers, allowing us even greater control over our designs.
            <br><br>
            Back in Chapter 1, we noted that the three tenets of responsive web design are media queries, flexible layouts, and flexible media. We're three chapters in and we've only covered media queries!
            We're going to put that right in the next chapter.
            <br><br>
            In Chapter 4, we are going to take a deep dive into fluid layouts with Flexbox. We will cover how to convert a fixed-width design into a fluid proportional layout and lay out our page elements with Flexbox.
            <br><br>
            It's going to be another packed chapter, so get yourself comfy and I'll see you there!
        </p>
    </div>

  </div>
</body>
</html>