<!DOCTYPE html><!-- page64 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>
  <div >
    <div >
        <p>If you open the index. html file inside this chapter's Start folder in a web browser, you will see that the design looks acceptable at slim viewports such as mobile phones:</p>
        <section>
            <object>
                img here
            </object>
            <p>Figure 3.1: The design looks fine at smaller viewports</p>
        </section>


       
    </div>

  </div>
</body>
</html>