<!DOCTYPE html> <!-- page208 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Font features
      </h2>
      <p>
        Variable fonts can also include their own features. These features can be literally anything the font designer decides to dream up! Take a look at the choices for Inter:
      </p>
      <section>
        <object>
          img here
        </object>
        <p>
          Figure 6.10: On the right of the Inter settings page are the enormous possibilities for the font
        </p>
      </section>
      <p>
        All of those "features" are settings that can be turned on with CSS. You can play about with these settings yourself here: https://rsms.me/inter/lab/?antialias=default.
      </p>
    </div>
  </div>
  
</body>
</html>
