<!DOCTYPE html> <!-- page200 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        The @font-face CSS rule
      </h2>
      <p>
        The @font-face CSS rule has been around since CSS2 (but was subsequently absent in CSS 2.1). It was even supported partially by Internet Explorer 4 (no, really)! So, what's it doing here, when we're supposed to be talking about the latest CSS?
        <br><br>
        Well, as it turns out, @font-face was reintroduced for the CSS Fonts Module (https://www. w3.org/TR/css-fonts-3/). Due to the historic legal quagmire of using fonts on the web, it took years to gain traction as the de facto solution for web typography.
        <br><br>
        Like anything on the web that involves assets, in the beginning, there was no single file format-for font delivery. The Embedded OpenType (files with an eot extension) font was Internet Explorer's, and not anyone else's, preferred choice. Others favored the more common True Type (the. ttf file extension), while there was also Scalable Vector Graphics (- svg) and then the Web Open Font Format (the .woff / •woff2 extension). Thankfully, as of 2022 you really only need to consider WOFF (Web Open Font Format), although there are two types: WOFF and WOFF2. Where a user can use WOFF2, that will always be preferable, as it is simply a more efficient way of compressing the font information.
      </p>
      <h2>
        Implementing web fonts with @font-face
      </h2>
      <p>
        There are a number of online font services for getting beautiful typefaces onto the web. Google Fonts and Adobe Fonts are probably the two most popular. They each have their own variation of the required syntax for getting their fonts onto your websites. However, it's not always possible or preferable to use an online font provider. You may be stuck behind a corporate firewall (or state firewall!) that doesn't allow a certain provider, or you may not want the financial overhead or service availability of a third-party provider. Whatever the reason may be, it is worth knowing how to do it for ourselves.
        <br><br>
        For this exercise, I'm going to use "Inter" by Rasmus Andersson. It's the font used for the majority of the https://rwd. education website. Not only that, it's also what's known as a variable font.
        <br><br>
        Before we look at variable fonts, let's look at the kind of web fonts that you will likely spend the majority of your time dealing with. If you grab the Inter font from https: //rsms-me/ inter/,you will have both the standard and variable fonts at your disposal.
      </p>
    </div>
  </div>
  
</body>
</html>
