<!DOCTYPE html> <!-- page170 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <ul>
            <li>
                Attribute selectors and substring matching
            </li>
            <li>
                Structural pseudo-classes, including: last-child, ;nth-child, : empty, and : not
            </li>
            <li>
                Combinator selectors, including child, next sibling, and subsequent sibling
            </li>
            <li>
                Functional pseudo-class selectors (: is and : where)
            </li> 
        </ul>
        <p>
            Viewport-related units and feature queries:
        </p>
        <ul>
            <li>
                Viewport-related length units, vh, vw, max, and min, and their dynamic variants
            </li>
            <li>
                Writing feature queries using @supports to fork CSS
            </li>
        </ul>
        <p>
            Web typography:
        </p>
        <ul>
            <li>
                @font -face rule
            </li>
            <li>
                Font formats, including •woff and .woff2
            </li>
            <li>
                Font loading control with the font-display property
            </li>
            <li>
                Variable fonts and font features
            </li>           
        </ul>
        <p>
            As you can see, we have a lot to get through. Let's begin.
        </p>
        <h2>
            Selectors, units, and capabilities
        </h2>
        <p>
            Although they may not seem like the most exciting of subjects, selectors, units, and capabilities are the "meat and potatoes" of CSS. Master these and your power to solve problems with CSS will increase substantially. So, skip this section at your peril!
        </p>
        <h2>
            Anatomy of a CSS rule
        </h2>
        <p>
            Before exploring some of the recent additions to CSS, to prevent confusion, let's establish the terminology we use to describe a CSS rule. Consider the following example:
        </p>
        <code>
            .selector {
            <br><br>
                /* comment */
            <br><br>
                property: value; /* declaration */
            <br><br>
            }
        </code>
        <p>
            This rule is made up of the selector (• selector) and then, inside the curly braces, the declaration. Great, let's press on. The declaration is further defined by the property and the value. Happy we're on the same page?
        </p>
    </div>
  </div>
  
</body>
</html>
