<!DOCTYPE html> <!-- page211 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
      <h2>
        Summary
      </h2>
      <p>
        In this chapter, we've learned how to select almost anything we need on the page with CSS's powerful selection capabilities.
        <br><br>
        We've also learned how to add custom web typography to a design with the @font-face rule, freeing us from the shackles of the humdrum selection of web-safe fonts of yesteryear. We also took a dive into variable fonts and considered many of the possibilities they have to offer.
        <br><br>
        Alongside all that, we also found time to look at the @supports at-rule for providing feature forks in our code.
        <br><br>
        Despite all these great new features and techniques, we've still only touched the surface of what we can do with CSS.
        <br><br>
        In the next chapter, we are going to take an extended look at colors in CSS. Recent additions to the specifications mean it's now a bigger topic than ever before. So, let's find out all about that in Chapter 7, CSS Color.
      </p>
      <h2>
        Join our book's Discord space
      </h2>
      <p>
        Variable fonts getting you down? Join the book's Discord workspace to discuss all your responsive web design concerns directly with the author and interact with other readers:
      </p>
      <section>
        <p>
          https://packt.link/RWD4e
        </p>
        <object>
          qr code here
        </object>
      </section>
    </div>
  </div>
  
</body>
</html>
