<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <h1>
            6
        </h1>
        <h1>
            CSS Selectors, Typography, and More
        </h1>
        <p>
            In the last few years, CSS has enjoyed a raft of new features. Some enable us to animate and transform elements. Others allow us to create multiple background images, gradients, and mask and filter effects, and others allow us to bring SVG elements to life.
            <br><br>
            We will get to all those capabilities in the next few chapters. Firstly, I think it will be useful to look at more recent improvements to some of the fundamentals of CSS.
            <br><br>
            No one can know every nuance, capability, and syntax in the CSS language. I've been working with CSS for two decades and on a weekly basis, I still discover something new (or just as likely rediscover something I'd forgotten). As such, I don't feel that trying to know every possible CSS property and value permutation is actually a worthy pursuit. Instead, I thinkit's more sensible to develop a good grasp of what's possible and what capabilities exist that solve the most common problems.
            <br><br>
            As such, we are going to concentrate in this chapter on some of the techniques, units, and selectors I have found most useful when building responsive web designs. I'm hoping you'll then have the requisite knowledge to solve most problems that come your way when developing a
            responsive web design.
            <br><br>
            As there are quite a few topics to cover, they have been grouped as follows:
            Selectors, units, and capabilities:
        </p>
        <ul>
          <li>
              ::before and ::after pseudo-elements
          </li>
        </ul>
       
    </div>
  </div>
  
</body>
</html>
