<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <h3>
            Section II
        </h3>
        <h3>
            Core Skills for Effective Front-End Web Development
        </h3>
        <p>
            If you've read from the beginning to this point, you should have a solid understanding of the fundamentals needed for responsive web design. In fact, you're likely a step ahead, in that you will be building your designs using the most recent layout mechanisms, Flexbox and Grid.
            <br><br>
            If we just needed to cover responsive web design, at this point, my work here would be pretty much done. But there is so much more we can look at.
            <br><br>
            This next section of the book aims to take you into more advanced and specialty areas. It's not every day you will need to reach for a clamp function, or know when and why you would employ a where() selector. But in this section, we are going into greater depth, understanding what, primarily, CSS can offer you to solve the everyday challenges that are going to come your way as a developer.
            <br><br>
            Again, don't think you need to remember all the detail of this stuff. Take it in, get a grasp of what's possible, and know that you can dip back in in future, when you remember that "I think there's a way to do that with CSS." There's every chance that there probably is!
        </p>
        
    </div>
  </div>
  
</body>
</html>
