<!DOCTYPE html><!-- page112 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
                display: flex;
            <br><br> 
                height: 100px;
            <br><br>
                width: 25%;
            }
        </code>
        <p>
            As the three items will only take up 75% of the available space, justify-content explains what we would like the browser to do with the remaining space. A value of space-between puts an equal amount of space between the items, and space-around puts it around the items. Perhaps a screenshot, or two, here will help-this is space-between:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 4.11: Main axis alignment is carried out with the justify-content property
            </p>
        </section>
        <p>
            And here is what happens if we switch to space-around:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 4.12: Subtly different, but notice the space around, not just between, items
            </p>
        </section>
        <p>
            Finally, let's look at what space-evenly does. This takes the available space and adds an equal
            amount to every gap:
        </p>
       
    </div>
  </div>
  
</body>
</html>
