<!DOCTYPE html><!-- page97 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
            .Header {
            <br><br>
                width: 100%;
            <br><br> 
                height: 130px;
            <br><br>
                background-color: #038c5a;
            <br><br>
            }
            <br><br>
            .WrapMiddle { 
            <br><br>
                width: 100%; font-size: 0;
            <br><br>
            }
            <br><br>
            .Left {
            <br><br>
                height: 625px; 
            <br><br>
                width: 20.83%;
            <br><br>
                background-color: #03аб6а;
            <br><br> 
                display: inline-block;
            <br><br>
            }
            <br><br>
            .Middle {
            <br><br>
                height: 625px; width: 68.75%;
            <br><br>
                background- color: #bbbf90; 
            <br><br>
                display: inline-block;
            <br><br>
            }
            <br><br>
            .Right {
            <br><br>
                height: 625px; width: 10.41%;
            <br><br>
                background-color: #03aб6a;
            <br><br> 
                display: inline-block;
            <br><br>
            }
            <br><br>
            .Footer {
            <br><br>
                height: 200px;
            <br><br>
                width: 100%; 
            <br><br>
                background-color: #025059;
            <br><br>
            }
        </code>
        <p>
            If you open the example code in a browser and resize the page, you will see that the dimensions of the Left, Middle, and . Right sections remain proportional to one another. You can also play around with the max-width of the . Wrap values to make the bounding dimensions for the layout bigger or smaller (in the example, it's set to 1400 px).
        </p>
    </div>
  </div>
  
</body>
</html>
