<!DOCTYPE html><!-- page118 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            We will add some simple colors to more easily differentiate the sections, and stack them one under another in the same order they appear in the markup:
        </p>
        <code>
            .container {
                background-color: indigo;
            <br><br>
                display: flex;
            <br><br>
                flex-direction: column;
            <br><br>
            }
            <br><br>
            .item {
            <br><br>
                display: flex;
            <br><br>
                align-items: center; 
            <br><br>
                min-height: 6.25rem;
            <br><br>
                padding: 1rem;
            <br><br>
            }
            <br><br>
            header {
            <br><br>
                background-color: #105b63;
            <br><br>
            }
            <br><br>
            main {
            <br><br>
                background-color: #fffad5;
            <br><br>
            }
            <br><br>
            aside {
            <br><br>
                background-color: #ffd34e;
            <br><br>
            }
            <br><br>
            aside. aside-two {
            <br><br>
                background-color: #db9e36;
            <br><br>
            }
            <br><br>
            footer {
            <br><br>
                background-color: #bd4932;
            <br><br>
            }
        </code>

       
    </div>
  </div>
  
</body>
</html>
