<!DOCTYPE html><!-- page127 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <h2>
            Wrapping up Flexbox
        </h2>
        <p>
            There are near endless possibilities when using the Flexbox layout system and, due to its inherent "flex-ability," it's a perfect match for responsive design. If you've never built anything with Flexbox before, all the new properties and values can seem a little odd, and it's sometimes disconcertingly easy to achieve layouts that have previously taken far more work.
        </p>
        <h2>
            Summary
        </h2>
        <p>
            We've covered a lot of ground in this chapter. We started by understanding how to create fluid layouts that can flex between the media queries we set. We then spent considerable time getting acquainted with Flexbox, learning how to solve common layout problems with relative ease. We learned all about how to easily align content in containers, how to visually re-order things, and how to define the way we want our content to grow and shrink within its context.
            <br><br>
            As luck would have it, two great layout mechanisms arrived in CSS in relatively quick succession.
            Hot on the heels of the Flexible Box Layout Module was Grid Layout Module Level 1: https:// www. w3.org/TR/css3-grid-layout/. Like Flexbox, CSS Grid means learning quite a bit of unique syntax. But don't let that put you off. The next chapter is completely dedicated to Grid: what it can do, how it does it, and how we can bend it to our will.
        </p>
       
    </div>
  </div>
  
</body>
</html>
