<!DOCTYPE html><!-- page124 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <section>
            <object>
                icon here
            </object>
            <p>
                You may be wondering why the outer container is set with a width and not the flex shorthand property we looked at before. Remember, this is because unless the element is a flex item (inside a Flexbox itself), flex has no effect.
            </p>
        </section>
        <p>
            Because there is a width of only 500 px on the flex container, those four elements don't fit:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 4.20: By default, Flexbox will always keep child elements from wrapping
            </p>
        </section>
        <p>
            However, those items can be set to wrap with flex-wrap: wrap. This wraps the items once they hit the edge of the container.
            <br><br>
            The likelihood is that there will be times when you want flex items to wrap and other times when you don't. Remember that the default is not to wrap, but you can easily make the change with a single line.
            <br><br>
            Also, remember that you can set the wrapping by itself with flex-wrap, or as part of the flex-flow direction and wrap shorthand.
            <br><br>
            image. At this width, they are not easy to read:
            Let's solve a real-world problem with flex-wrap. Consider the list of paragraphs in the following
        </p>
       
    </div>
  </div>
  
</body>
</html>
