<!DOCTYPE html><!-- page102 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
            display: flex;
            <br><br>
            align-items: center;
            <br><br>
            justify-content: center;
            <br><br>
            }
        </code>
        <p>
            If you have not used Flexbox or any of the properties in the related Box Alignment specification (https://www.w3.org/TR/css-align-3/), these properties probably seem a little alien. Let's
            consider what each one does:
        </p>
        <ul>
            <li>
                display: flex: This is the bread and butter of Flexbox. This merely sets the item to be a Flexbox, as opposed to a block or inline-block.
            </li>
            <li>
                align-items: This aligns the items within a Flexbox in the cross axis, vertically centering
                the text in our example.
            </li>
            <li>
                justify-content: This sets the main axis, centering the content. With a Flexbox row, you can think of it as the button in a word processor that sets the text to the left, right, or center (although there are additional justify-content values that we will look at shortly).
            </li>
        </ul>
        <section>
            <object>
                icon here
            </object>
            <p>
                Flexbox has an even more convenient way of positioning items and that's with place-items. This provides a shorthand for setting align and justify items. As you become familiar with the alignment properties in this chapter, you can try setting them at once with place- items. The first value is for the align value, and the second is for the justify value. If you just pass one value, it gets used for both. So to center both, it is just place-items: center.
            </p>
        </section>
        <p>
            OK, before we get further into the properties of Flexbox, we will consider a few more examples.
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>
                In some of these examples, I'm making use of the Google-hosted font "Oswald," with a fallback to a sans serif font. In Chapter 6, CSS Selectors, Typography, and More, we will look at how we can use the @font -face rule to link to custom font fles.
            </p>
        </section>
        <h2>
            Offset items
        </h2>
        <p>
            How about a simple list of navigation items, but with one offset to one side?
        </p>
    </div>
  </div>
  
</body>
</html>
