<!DOCTYPE html><!-- page94 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            In this chapter, we will:
        </p>
        <ul>
            <li>
                Learn how to convert fixed pixel layouts into proportional sizes
            </li>
            <li>
                Recognize Flexbox as a practical path beyond these limitations
            </li>
            <li>
                Understand the Flexible Box Layout Module and the benefits it offers
            </li>
        </ul>
        <p>
            Let's crack on with our first task: converting fixed designs into fluid relationships. This is a task that you'll need to perform constantly when building responsive web designs.
        </p>
        <h2>
            Converting a fixed pixel design into a fluid proportional layout
        </h2>
        <p>
            Graphic composites, or comps, as they are often called, exported from a program such as Pho-toshop, Illustrator, Figma, or Sketch all have fixed pixel dimensions. At some point, the designs need to be converted into proportional dimensions when recreating the design as a fluid layout for the browser.
            <br><br>
            There is a beautifully simple formula for making this conversion that the father of responsive web design, Ethan Marcotte, set down in his 2009 article, Fluid Grids (https://alistapart. com/ article/FLUIDGRIDS):
        </p>
        <code>
            target / context = result
        </code>
        <p>
            Put another way, divide the units of the thing you want by the thing it lives in. Let's put that into practice. Understanding it will enable you to convert any fixed dimension layouts into responsive/ fluid equivalents.
            <br><br>
            Consider a very basic page layout intended for desktop. In an ideal world, we would always be moving to a desktop layout from a smaller screen layout; however, for the sake of illustrating the proportions, we will look at the two situations back to front.
        </p>
    </div>
  </div>
  
</body>
</html>
