<!DOCTYPE html><!-- page107 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
                background-color: indigo;
            <br><br>
                text-decoration: none; 
            <br><br>
                border-radius: 3px;
            <br><br>
                color: #ddd;
            <br><br>
            }
        </code>
        <p>
            When items are set as inline-flex anonymously, which happens if their parent element is not set to display: flex, then they retain whitespace (which can often manifest as an unwanted gap between elements), just like inline-block or inline-table do. However, if they are within a flex container, then whitespace is removed. Of course, you don't always have to center items within a Flexbox. There are a number of different options. Let's look at those now.
        </p>
        <h2>
            Flexbox alignment properties
        </h2>
        <p>
            If you want to play along with this example, start with example_04-06s.
            <br><br>
            The important thing to understand with Flexbox alignment is the concept of the axis. There are two axes to consider, the main axis and the cross axis. What each of these represents depends on the direction the Flexbox is set to. For example, if the direction of your Flexbox is set to row, the main axis will be the horizontal axis and the cross axis will be the vertical axis.
            <br><br>
            Conversely, if your Flexbox direction is set to column, the main axis will be the vertical axis and the cross axis will be the horizontal axis. The specification (https://www.w3.org/TR/css-flexbox-
            1/#box-model) provides the following illustration to aid authors:
        </p>
        <section>
            <object>
                icon here
            </object>
            <p>
                Figure 4.7: This image from the specification shows that the main axis always relates to the direction the flex container is heading
            </p>
        </section>
    </div>
  </div>
  
</body>
</html>
