<!DOCTYPE html><!-- page108 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            Here's the basic markup of our example you'll need to add into the example file:
        </p>
        <code>
            ‹div class="container">
            ‹div class="item one">Item One</div>
            ‹/div>
        </code>
        <p>
            Let's set a few basic Flexbox-related styles:
        </p>
        <code>
            .container {
            <br><br>
                background-color: indigo;
            <br><br>
                display: flex; 
            <br><br>
                height: 200px; 
            <br><br>
                width: 400px;
            <br><br>
            }
            <br><br>
            .item {
            <br><br>
                background-color: #34005b; 
            <br><br>
                display: flex; 
            <br><br>
                height: 100px; 
            <br><br>
                width: 200px;
            <br><br>
            }
        </code>
       <p>
        In the browser, that produces this:
       </p>
       <section>
        <object>
            img here
        </object>
        <p>
            Figure 4.8: With no alignment set, child elements default to the top left
        </p>
       </section> 
       <p>
        Right, let's test drive the effects of some of these properties.
       </p>
    </div>
  </div>
  
</body>
</html>
