<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <h1>
            4
        </h1>
        <h1>Fluid Layout and Flexbox</h1>
        <p>
            At the end of the last chapter, we reminded ourselves that the three core tenets of responsive web design are fluid layout, media queries, and flexible media. We spent Chapter 3 learning all about media queries. Now we know how to wield them to change a layout at a particular breakpoint.
            In this chapter, we will focus on another pillar of responsive web design: fluid layout.
            <br><br>
            Eons ago, in the mists of time (well, the late 1990s), websites were typically built with their widths defined as percentages. These percentage-based widths fluidly adjusted to the screen and were known as fluid layouts.
            <br><br>
            In the years after, in the mid-to-late 2000s, there was an intervening fixation on fixed-width designs—I blame those pesky print designers and their obsession with pixel-perfect precision!
            Nowadays, as we build responsive web designs, we need to look back to fluid layouts and remember all the benefits they offer.
            <br><br>
            Until fairly recently, web developers have used several CSS layout mechanisms to create great fluid layouts. If you've worked on the web for any length of time, you will be familiar with blocks, inline-blocks, tables, and other techniques to achieve any given layout. As I write this in 2022, there seems little benefit in giving those old techniques more than a cursory mention. We now have two powerful CSS layout mechanisms at our disposal: CSS Flexbox and CSS Grid.
            <br><br>
            This chapter will deal with CSS Flexbox. In Chapter 5, Layout with CSS Grid, I've got a feeling you can guess what we will be covering.
            <br><br>
            Flexbox is so useful because it can do more than merely provide a fluid layout mechanism. Do you want to center content easily, change the source order of markup, and generally create amazing layouts with ease? Flexbox has you covered.
        </p>


       
    </div>
  </div>

</body>
</html>