<!DOCTYPE html><!-- page113 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 4.13: An even space between items with space-evenly
            </p>
        </section>
        <section>
            <object>
                icon here
            </object>
            The various alignment properties of Flexbox are currently being specified in CSS
            Box Alignment Module Level 3. This should give the same fundamental alignment powers to other display properties, such as display: block; and display: table.
            The specification is still being worked on, so you can keep checking the status at https://www.w3.org/TR/css3-align/.
        </section>
        <h2>
            The flex property
        </h2>
        <p>
            We've used the width property on those flex items, but it's also possible and preferable to define the width, or "flexiness," if you will, with the flex property. To illustrate, consider an example with the same markup as the last, but with an amended CSS for the items:
        </p>
        <code>
            .Item {
                background-color: #34005b;
            <br><br> 
                display: flex; 
            <br><br>
                height: 100px;
            <br><br>
                flex: 1;
            <br><br>
                border: 1px solid #ebebeb;
            <br><br>
            }
        </code>
    </div>
  </div>
  
</body>
</html>
