<!DOCTYPE html><!-- page99 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            We don't need to rewrite properties such as height, display, or background-color as we aren't changing them.
            <br><br>
            This is progress. We have combined two of the core responsive web design techniques we have covered: converting fixed dimensions into proportions and using media queries to target CSS rules relevant to the viewport size.
        </p>
        <section>
            <object>
                icon
            </object>
            <p>
                In a real project, we should be making some provision if JavaScript isn't available and we need to view the content of the menu. We deal with this scenario in detail in Chapter 11, Transitions, Transformations, and Animations.
            </p>
        </section>
        <p>
            We have now covered the essentials of fluid design. To summarize, where needed, make the dimensions of elements proportional rather than fixed. This way, designs adapt to the size of
            their container. And you now have the simple target/context = result formula to make the
            necessary calculations.
            <br>
            <br>
            Speaking of fluidity, this seems as good a point as any to talk about Flexbox—a layout system designed with fluid layouts in mind.
        </p>
        <h2>
            Why do we need Flexbox?
        </h2>
        <p>
            We are now going to explore using CSS Flexible Box Layout, or Flexbox, as it is more commonly known.
            <br><br>
            In previous editions of this book, this is the point where I would have explained the shortcomings of prior CSS layout mechanisms, but as I write this in 2022, it would be like going over why people use cars instead of horses.
            <br><br>
            There are two capable and powerful layout systems available to us and perfectly suited to responsive design. For laying things out in one direction at a time, we can reach for Flexbox. For two directions at a time, we reach for Grid, the subject of our next chapter.
        </p>
        <h2>
            Introducing Flexbox
        </h2>
        <p>
            Flexbox was designed to address the shortcomings of the CSS layout mechanisms that had gone before.
            <br><br>
            Here's a few choice reasons it is so useful:
        </p>
        <ul>
            <li>
                It can easily center contents vertically.
            </li>
            <li>
                It can change the visual order of elements.
            </li>
        </ul>

       
    </div>
  </div>
  
</body>
</html>
