<!DOCTYPE html><!-- page100 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <ul>
            <li>
                It can automatically space and align elements within a box, automatically assigning avail.
                able space between them.
            </li>
            <li>
                Items can he laid our in a row a row going in the reverse direction, a column down the page, or a column going in reverse order up a page.
            </li>
            <li>
                It can make you look 10 years younger (probably not, but in low numbers of empirical tests (me), it has been proven to reduce stress compared with other layout techniques).
            </li>
        </ul>
        <h2>The bumpy path to Flexbox</h2>
        <p>
            Flexbox has been through a few major iterations before arriving at the stable version we have today. For example, consider the changes from the 2009 version (ht tps:// www.w3. org/TR/2009/ WD-CSs3-flexbox-20090723/), the 2011 version (https://www.w3.org/TR/2011/WD-css3-flexbox-2011129/), and the 2014 version that we are basing our examples on (https:// www. w3.org/TR/css-flexbox-1/). The syntax differences are marked.
            <br><br>
            These differing specifications mean there have been three major implementations across browsers.
            Today, we need not concern ourselves with the differences. However, if you find yourself having to support some incredibly old browser (I'm talking IE11 old), be aware that you will need to ensure you have a decent autoprefixing solution as part of your build step.
        </p>
        <h2>
            Choosing your autoprefixing solution
        </h2>
        <p>
            For the sake of your sanity, to accurately and easily add vendor prefixes to CSS, use some form of automatic prefixing solution. Right now, I favor Autoprefixer (https://github. com/postcss/ autoprefixer). It's fast, easy to set up, and very accurate.
            <br><br>
            There are versions of Autoprefixer for most setups, including text editors, so you don't necessarily need a command line-based build tool.
            <br><br>
            There are also more recent CSS minifier tools like Parcel CSS that can perform the same task: https://github.com/parcel-bundler/parcel-CSS.
        </p>
        <h2>
            Getting Flexy
        </h2>
        <p>
            Flexbox has four key characteristics: direction, alignment, ordering, and flexibility. We'll cover all of these characteristics and how they relate to each other by way of a few examples.
        </p>
       
    </div>
  </div>
  
</body>
</html>
