<!DOCTYPE html> <!-- page21 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
                order: 4;
            <br><br>
            }
            <br><br>
            footer {
            <br><br>
                background-color: #bd4932; 
            <br><br>
                order: 5;
            <br><br>
            }
        </code>
        <p>
            That gives us this in the browser:
        </p>
        <section>
            <object>
                img here
            </object>
            Figure 4.18: We can move the items in visual order with a single property
        </section>
        <p>
            And then, at a breakpoint, I'm switching to this:
        </p>
        <code>
            @media (min-width: 600px) {
            <br><br>
                .container {
            <br><br>
                flex-flow: row wrap;
            <br><br>
        </code>
    </div>
  </div>
  
</body>
</html>
