<!DOCTYPE html><!-- page126 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            And that produces this effect in the browser:
        </p>
        <section>
            <object>
                icon jere
            </object>
            <h2>
                FULL CHAPTER LIST
            </h2>
        </section>
        <section>
            <h3>
                1
            </h3>
            <h3>
                THE ESSENTIALS OF RESPONSIVE WEB DESIGN
            </h3>
            <p>
                By the end of this first chapter, you will have made a fully responsive web page.
                Along the way you will gain the understanding of where Responsive Web Design came from, the problems it solves, and the core tenets of implementing a Responsive Web Design with HTML and CSS.
            </p>
        </section>
        <section>
            <h3>
                2
            </h3>
            <h3>
                WRITING HTML MARKUP
            </h3>
            <p>
                Good HTML markup is the basis for any good web site or application. More importantly, HTML provides a bedrock of understanding for assistive technology. In this chapter you'll learn about everything from the opening <code>&lt; I DOCTYPE html&gt;</code> to the closing <code>&lt;/html&gt;</code> tag.
            </p>
        </section>
        <section>
            <h3>
                3
            </h3>
            <h3>
                MEDIA QUERIES AND CONTAINER QUERIES
            </h3>
            <p>
                Media queries provide the means to change styles on screen width, screen height, color preference, screen density (DPI) and a whole lot more. In this Chapter, you'll also learn about CSS4 media queries like hover and pointer. We end the chapter with an overview of the forthcoming Container Queries; before long, we will be able to make container level style changes too.
            </p>
        </section>
        <section>
            <h3>
                4
            </h3>
            <h3>
                FLUID LAYOUT AND FLEXBOX
            </h3>
            <p>
                We start with understanding how to convert any web design into a proportional, fluid, layout. Then a deep-dive into Flexbox; the most widely supported modern CSS layout system.
                You'll learn not just the syntax but also a number of use cases of Flexbox. Then you'll get your hands dirty; using what you have learned to lay out sections of this very site.
            </p>
        </section>
        <section>
            <h3>
                5
            </h3>
            <h3>
                LAYOUT WITH CSS GRID
            </h3>
            <p>
                CSS Grid is the first 2-dimensional layout system for the web. This whole chapter is dedicated to understanding the capabilities and efficiencies of CSS Grid.
                We'll also get to grips with the new subgrid property.
                <br><br>
                Understanding CSS Grid might just be the single biggest upgrade you can give your
                CSS skills!
            </p>
        </section>
        <section>
            <h3>
                6
            </h3>
            <h3>
                CSS SELECTORS, TYPOGRAPHY AND MORE
            </h3>
            <p>
                In this dense and varied chapter you'll be learning about the latest CSS selectors, like is ( ), where (), and has (). Then you'll get to grips with new viewport-related units like dh, and dvw. You'll also learn about typography on the web, covering variable fonts and the different methods of optimising font loading
            </p>
        </section>
        <p>
            Figure 4.22: Setting the flex container to wrap means the content can space out equally
        </p>
       <p>
            We made the container of the chapters into a flex container. Then, to stop the elements from scrunching up into one another, we set the container to wrap. To limit the chapter section widths to a third of the container, we used the flex shorthand to set 33.33% as the flex-basis and prevented the element from growing or shrinking. Padding was used to provide a little space between them. The final small tweak was to bring in the chapter numbers a little.
       </p>
    </div>
  </div>
  
</body>
</html>
