<!DOCTYPE html><!-- page122 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <code>
            }
            <br><br>
            .header {
            <br><br>
                flex: 0 0 100%;
            <br><br>
            }
            <br><br>
            .main {
            <br><br>
                flex: 1 0 auto; 
            <br><br>
                order: 3;
            <br><br>
            }
            <br><br>
            .aside {
            <br><br>
                flex: 0 0 150px;
            <br><br>
                order: 2;
            <br><br>
            }
            <br><br>
            aside. aside-two {
            <br><br>
                flex: 0 0 150px;
            <br><br>
                order: 4;
            <br><br>
            }
            <br><br>
            .footer {
            <br><br>
                flex: 1 0 100%;
            <br><br>
            }
            <br><br>
        } 
        </code>
        <p>
            That gives us this in the browser:
        </p>
        <section>
            <objet>
                img here
            </objet>
            <p>
                Fioure 4.19- With a media query, we can change the visual order again
            </p>
        </section>
    </div>
  </div>
  
</body>
</html>
