<!DOCTYPE html><!-- page95 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Component</title>
  <link rel="stylesheet" href="/my-html-library/src/css/scrollbar.css">
</head>
<body>

  <div>
    <div>
        <p>
            Here's an image of the layout:
        </p>
        <section>
            <object>
                img here
            </object>
            <p>
                Figure 4.I: A basic "desktop" layout
            </p>
        </section>
        <p>
            The layout is 960 px wide. Both the header and footer are the full widths of the layout. The left-hand area is 200 px wide, and the right-hand area is 100 px wide. That leaves 660 px for the main content area. Our job is to convert this fixed-width design into a fluid layout that retains its proportions as it is resized. For our first task, we need to convert the middle and side sections into proportional dimensions.
            <br><br>
            We will begin by converting the left-hand side. The left-hand side is 200 units wide. This value is our target value. We will divide that target size by 960 units, our context, and we have a result: 208333333. Now, whenever we get our result with this formula, we need to shift the decimal point two points to the right. This gives us a value that is the target value described as a percentage of its parent. In this case, the left-hand section is 20.8333333% of its parent.
        </p>


       
    </div>
  </div>
  
</body>
</html>
